.auto-complete-container {
    position         : absolute;
    max-height       : 300px;
    width            : 100%;
    overflow         : auto;
    z-index          : 750;
    border-radius    : var(--rounded-sm);
    box-shadow       : var(--shadow-two);
    background-color : var(--content-x-light);

    .auto-complete-item {
        position    : relative;
        display     : flex;
        align-items : center;
        padding     : 7px 16px;
        cursor      : pointer;
    
        &:hover {
            background : var(--x-light);
            color      : var(--primary);
        }
    }

    .no-result {
        display         : flex;
        align-items     : center;
        justify-content : center;
        padding         : 15px 35px;
        color           : var(--text);

        svg {
            width        : 26px;
            height       : 26px;
            margin-right : 20px;
        }
    }
}