.classic-input {
    position    : relative;
    display     : flex;
    align-items : center;
    max-width   : 300px;
    z-index     : 10;
    box-shadow  : var(--shadow-tiny);
    
     input {
        display       : block;
        height        : 44px;
        padding       : 8px 12px;
        color         : var(--input-text);
        background    : var(--input);
        border-radius : var(--rounded-sm);
        border        : 2px solid transparent;
        outline       : none;
        z-index       : 10;

        &::placeholder {
            color : var(--placeholder);
        }
    
        &:focus {
            border     : 2px solid var(--primary);
            box-shadow : none;
        }
    }

    .svg_container {
        position      : absolute;
        bottom        : 10px;
        right         : 10px;
        padding       : 5px;
        border-radius : 20px;
        cursor        : pointer;
        z-index       : 700;

        svg {
            height   : 16px;
            width    : 16px;
            color    : var(--text-tertiary);
        }

        &:hover {
            background : var(--content-light);
        }
    }

    &.full {
        flex-grow : 1;
        max-width : unset;
        input {
            flex-grow : 1;
        }
    }

    &.small {
        height : 36px;
        input {
            height : 36px;
        }
    }
}