.date-picker-container {
    position      : relative;
    cursor        : pointer;
    width         : 240px;
    background    : var(--content-x-light);
    border-radius : var(--rounded-sm);
    
    input {
        display       : block;
        height        : 44px;
        width         : 100%;
        padding       : 8px;
        color         : var(--input-text);
        background    : var(--input);
        border-radius : var(--rounded-sm);
        border        : 2px solid transparent;
        outline       : none;
        cursor        : pointer;

        &:focus {
            border     : 2px solid var(--primary);
            box-shadow : none;
        }

        &::placeholder {
            color : var(--placeholder);
        }
    }

    svg {
        position : absolute;
        height   : 18px;
        width    : 18px;
        bottom   : 14px;
        right    : 12px;
        color    : var(--text-tertiary);
    }

    .datepicker {
        position      : absolute;
        top           : 50px;
        left          : 50%;
        transform     : translateX(-50%);
        background    : var(--input);
        border-radius : var(--rounded-sm);
        z-index       : 700;
        box-shadow : var(--shadow-lg);

        .rdp {
            .selected {
                background-color : var(--primary);
                border-radius    : 5px;
                border           : none;
                outline          : none;
            }
    
            .today {
                background-color : var(--content-x-light);
                border-radius    : 10px;
            }
    
            .rdp-button {
                &:hover, &:focus {
                    background-color : var(--primary);
                    border           : none;
                    border-radius    : 5px;
                }
            }

            .rdp-caption_label {
                margin  : 0;
                padding : 5px;
            }

            .rdp-nav {
                display : flex;

                .rdp-nav_button_previous, .rdp-nav_button_next {
                    display       : flex;
                    align-items   : center;
                    background    : var(--content-light);
                    border-radius : 5px;
                    margin        : 0 3px;
                    box-shadow    : var(--shadow-lg);
                    transform     : scale(1);

                    svg {
                        bottom : unset;
                        right  : unset;
                    }

                    &:hover {
                        background-color : rgba(var(--primary-rgb), 0.8);
                    }

                    &:active {
                        transform  : scale(0.9);
                        box-shadow : none;
                    }
                }
            }

            h2 {
                &:before, &:after {
                    content : none;
                    display : none;
                }
            }
        }
    }

    &.top {
        .datepicker {
            top    : unset;
            bottom : 50px;
        }
    }
}

@media(max-width: 768px) {
    .date-picker-container {
        .datepicker {
            position  : fixed;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
        }
    }
}