.dynamic-input {
    position      : relative;
    display       : flex;
    align-items   : center;
    border-radius : var(--rounded-sm);

     input {
        display       : block;
        height        : 48px;
        padding       : 18px 20px 2px;
        color         : var(--input-text);
        outline       : none;
        background    : transparent;
        z-index       : 1;
        border-bottom : 1px solid var(--placeholder);

        &:placeholder-shown {
            + label {
                font-size  : 14px;
                transform  : translateY(-42%);
                color      : var(--placeholder);
                transition : .2s ease;
            }
        }

        &:focus {
            border-bottom : 2px solid var(--primary);
            box-shadow    : none;

            + label {
                position   : absolute;
                left       : 20px;
                top        : 50%;
                color      : var(--primary);
                transform  : translateY(-125%);
                font-size  : 11px;
                z-index    : 0;
                transition : .2s ease;
            }
        }
    }
    
    label {
        position   : absolute;
        left       : 20px;
        top        : 50%;
        color      : var(--placeholder);
        transform  : translateY(-125%);
        font-size  : 11px;
        z-index    : 0;
        transition : .2s ease;
    }

    .end-icon {
        position  : absolute;
        right     : 20px;
        top       : 55%;
        transform : translateY(-50%);
        z-index   : 2;
        cursor    : pointer;

        svg {
            color  : var(--placeholder);
            height : 20px;
            width  : 20px;
        }
    }

    &.succes {
        input {
            border-bottom : 2px solid var(--green);
            + label {
                color : var(--green);
            }
        }

        .end-icon {
            display : none;
        }
    }
    &.err {
        input {
            border-bottom : 2px solid var(--red);
            + label {
                color : var(--red);
            }
        }

        .end-icon {
            display : none;
        }
    }
}

.err {
    background : rgba(var(--red-rgb), 0.2) !important;
}

.succes {
    background : rgba(var(--green-rgb), 0.1) !important;
}