.number-input {
    display       : block;
    height        : 44px;
    max-width     : 100px;
    padding       : 8px;
    color         : var(--input-text);
    background    : var(--input);
    border-radius : var(--rounded-sm);
    border        : 1px solid var(--light-border);
    outline       : none;
    z-index       : 10;

    &:focus {
        border : 1px solid var(--primary);
    }

    &:focus-visible {
        outline : none;
    }

    &::placeholder {
        color      : var(--placeholder);
        box-shadow : none;
    }
}