.textarea {
    display       : block;
    min-height    : 50px;
    height        : 100px;
    max-height    : 300px;
    overflow-y    : auto;
    padding       : 8px;
    color         : var(--input-text);
    background    : var(--input);
    border-radius : var(--rounded-sm);
    border        : 2px solid transparent;
    outline       : none;

    &:focus {
        border     : 2px solid var(--primary);
        box-shadow : none;
    }

    &:focus-visible {
        outline : none;
    }

    &::placeholder {
        color : var(--placeholder);
    }

    &.small {
        height : 60px;
    }

    &.full {
        flex-grow : 1;
        max-width : unset;
        input {
            flex-grow : 1;
        }
    }
}