.textarea {
    display       : block;
    min-height    : 50px;
    height        : 100px;
    max-height    : 300px;
    overflow-y    : auto;
    padding       : 8px;
    color         : var(--input-text);
    background    : var(--input);
    border-radius : var(--rounded-sm);
    border        : 1px solid var(--light-border);
    outline       : none;

    &:focus {
        border     : 1px solid var(--primary);
        box-shadow : none;
    }

    &:focus-visible {
        outline : none;
    }

    &::placeholder {
        color : var(--placeholder);
    }

    &.small {
        height : 60px;
    }

    &.full {
        flex-grow : 1;
        max-width : unset;
        input {
            flex-grow : 1;
        }
    }

    &::-webkit-scrollbar {
        width : 10px;
    }
    &::-webkit-scrollbar-track {
        background : transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color : var(--light-border);
        border           : 3px solid var(--content-light);
        border-radius    : 10px;
    }

    &::-webkit-scrollbar-corner {
        background : transparent;
    }
}