html {
    min-height      : 100%;
    margin          : 0;
    padding         : 0;
    position        : relative;
    font-family     : var(--font-fam-list);
    scroll-behavior : smooth;
}

body {
    width            : 100vw;
    min-height       : 100%;
    margin           : 0;
    padding          : 0;
    font-family      : var(--font-fam-list);
    scroll-behavior  : smooth;
    background-color : var(--body);
    color            : var(--text);
    overflow-y       : auto;
    overflow-x       : hidden;
    font-size        : 14px;
    font-weight      : 300;
    scrollbar-width  : thin;

    a {
        text-decoration : none;
        color           : var(--text);
    }

    p {
        font-size : 14px;
    }

    ul,
    li {
        list-style-type : none;
    }

    ::selection {
        background-color : rgba(var(--primary-rgb), 0.2);
        color            : var(--primary);
    }

    :focus {
        outline        : 2px dashed var(--primary);
        outline-offset : 3px;
    }

    :focus-visible {
        outline        : 2px dashed var(--primary);
        outline-offset : 3px;
    }

    :focus:not(:focus-visible) {
        outline        : none;
        outline-offset : 0px;
    }

    &::-webkit-scrollbar {
        width : 12px;
    }

    &::-webkit-scrollbar-track {
        background : var(--content-light);
    }

    &::-webkit-scrollbar-thumb {
        background-color : var(--light-border);
        border           : 3px solid var(--content-light);
        border-radius    : 10px;
    }

    svg {
        color : var(--svg-x-light);
    }

    input[type="date"] {
        color : white;

        &::-webkit-datetime-edit-text,
        &::-webkit-datetime-edit-month-field,
        &::-webkit-datetime-edit-day-field,
        &::-webkit-datetime-edit-year-field {
            color : var(--placeholder);
        }
    }

}

#main {
    position : relative;
    height   : 100vh;
    width    : 100vw;
}

h1 {
    font-size : 26px
}

h2 {
    font-size : 24px
}

h3 {
    font-size : 20px
}

h4 {
    font-size : 18px
}

h5 {
    font-size : 16px
}

h1,
h2,
h3,
h4,
h5 {
    font-weight : 500;
}

input {

    &::-webkit-autofill,
    &::-webkit-autofill:hover,
    &::-webkit-autofill:focus {
        border                  : none;
        -webkit-text-fill-color : var(--primary);
        -webkit-box-shadow      : 0 0 0px 1000px transparent inset;
        transition              : background-color 5000s ease-in-out 0s;
    }
}

textarea {

    &::-webkit-autofill,
    &::-webkit-autofill:hover,
    &::-webkit-autofill:focus {
        border                  : none;
        -webkit-text-fill-color : var(--primary);
        -webkit-box-shadow      : 0 0 0px 1000px transparent inset;
        transition              : background-color 5000s ease-in-out 0s;
    }
}

select {

    &::-webkit-autofill,
    &::-webkit-autofill:hover,
    &::-webkit-autofill:focus {
        border                  : none;
        -webkit-text-fill-color : var(--primary);
        -webkit-box-shadow      : 0 0 0px 1000px transparent inset;
        transition              : background-color 5000s ease-in-out 0s;
    }
}