#header {
    display     : flex;
    align-items : center;
    height      : auto;
    background  : linear-gradient(to right, var(--content) 30%, var(--content-light) 100%);

    .header_container {
        width       : 100%;
        display     : flex;
        align-items : center;
        position    : relative;
        padding     : 30px 0 30px;

        .header_left {
            width         : 50%;
            padding-right : 20px;

            h1 {
                font-size   : 44px;
                line-height : 48px;
                font-weight : 700;

                span {
                    color : var(--primary);
                }
            }

            p {
                font-size  : 18px;
                margin-top : 14px;
                color      : var(--text-secondary);
            }
        }

        .header_right {
            width        : 50%;
            padding-left : 20px;
            position     : relative;

            .header_input_flex {
                position : relative;
                display  : flex;
                width    : 100%;
                margin   : 10px 0;

                > div {
                    width : 50%;
                    &:nth-child(1) {
                        margin-right : 4px;
                    }
                    &:nth-child(2) {
                        margin-left : 4px;
                    }
                }
            }

            .btn_container {
                display         : flex;
                justify-content : space-between;
                align-items     : center;
            }
        }
    }

    .header_nav {
        position : absolute;
        left     : 0;
        bottom   : 20px;
        width    : 100%;
        height   : 60px;

        .header_nav_ul {
            position        : relative;
            display         : flex;
            justify-content : center;
            align-items     : center;
            
            .header_nav_li {
                display         : flex;
                height          : 60px;
                padding         : 0 12px;
                min-width       : 60px;
                text-align      : center;
                justify-content : center;
                align-items     : center;
                cursor          : pointer;

                a {
                    height          : 100%;
                    width           : 100%;
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;
                    justify-content : center;
                    padding         : 0 8px;

                    svg {
                        width:20px;
                        height:20px;
                        margin-bottom:6px;
                    }

                    p {
                        font-size   : 16px;
                        line-height : 16px;
                        font-weight : 500;
                        white-space : nowrap;
                    }
                }
            }
        }
    }
}

.map_modal {
    .map_modal_nav {
        display       : flex;
        position      : relative;
        width         : 100%;
        margin-bottom : 16px;
        border-bottom : 1px solid var(--light-border);

        .map_modal_nav_item {
            position      : relative;
            height        : 100%;
            width         : 50%;
            text-align    : center;
            color         : var(--text);
            cursor        : pointer;
            padding       : 10px 5px;
            overflow      : hidden;

            &:before {
                content          : '';
                position         : absolute;
                left             : 50%;
                transform        : translateX(-50%);
                bottom           : -6px;
                width            : 0;
                height           : 10px;
                border-radius    : 20px;
                background-color : transparent;
                transition       : 0.4s ease;
            }

            &:hover {
                &:before {
                    width            : 30%;
                    transition       : 0.2s ease;
                    background-color : var(--primary);
                }
            }

            &.active {
                color : var(--primary);
                &:before {
                    width            : 80%;
                    transition       : 0.2s ease;
                    background-color : var(--primary);
                }
            }
        }
    }
}

.locations_displayer {
    display       : flex;
    position      : relative;
    width         : 100%;
    max-width     : 100%;
    height        : 46px;
    padding       : 6px 12px 4px 50px;
    color         : var(--text);
    background    : var(--content-x-light);
    border-radius : var(--radius);
    overflow-x    : hidden;

    .start_icon {
        height           : 100%;
        position         : absolute;
        left             : 0;
        bottom           : 0;
        display          : flex;
        align-items      : center;
        padding          : 0 0 0 16px;
        transform        : scale(1);
        transform-origin : 0;

        svg {
            height : 20px;
            width  : 20px;
            color  : var(--placeholder);
        }
    }

    .locations_item {
        display       : inline-flex;
        max-width     : 100%;
        padding       : 5px 5px 5px 15px;
        margin        : 2px;
        background    : var(--content-light);
        border-radius : var(--radius);
        white-space   : nowrap;

        svg {
            width         : 20px;
            height        : 20px;
            margin-left   : 10px;
            padding       : 3px;
            border-radius : 50%;
            background    : var(--content);
            cursor        : pointer;
        }
    }

    .is_more_locations {
        padding       : 5px 10px;
        margin        : 2px;
        background    : var(--content-light);
        border-radius : var(--radius);
    }
}

.location_search_displayer {
    position      : absolute;
    width         : 100%;
    height        : auto;
    padding       : 5px 20px;
    margin-top    : 3px;
    background    : var(--content-x-light);
    border-radius : var(--radius);
    box-shadow    : var(--shadow-xl);
    z-index       : 900;

    h4 {
        margin-bottom : 10px;

        span {
            color : var(--text-secondary);
        }
    }

    .locations_search_body {
        padding : 7px 0;
    }

    .locations_search_item {
        display : flex;
        padding : 7px 0;
        color   : var(--text-secondary);
        cursor  : pointer;

        svg {
            width        : 16px;
            height       : 16px;
            margin-right : 10px;
            margin-top   : 2px;
            color        : var(--text);
        }
    }

    .location_range {
        padding       : 10px 0 13px;
        border-bottom : 1px solid var(--light-border);

        .range {
            padding : 15px 10px;

            .rc-slider-track {
                background-color : var(--primary);
            }

            .rc-slider-handle {
                background-color : var(--primary);
                border           : solid 2px var(--primary-light);
            }
        }
    }

    .locations_search_bottom {
        display         : flex;
        justify-content : flex-end;
        padding-top     : 5px;
        border-top      : 1px solid var(--light-border);
    }

    .locations_search_top {
        padding       : 10px 0;
        border-bottom : 1px solid var(--light-border);

        .locations_selected {
            display   : flex;
            padding   : 5px 0;
            flex-wrap : wrap;

            .locations_selected_item {
                display       : inline-flex;
                border-radius : var(--radius);
                max-width     : 100%;
                padding       : 5px 5px 5px 15px;
                margin        : 2px;
                background    : var(--content-light);
                white-space   : nowrap;

                svg {
                    width         : 20px;
                    height        : 20px;
                    margin-left   : 10px;
                    padding       : 3px;
                    border-radius : 50%;
                    background    : var(--content);
                    cursor        : pointer;
                }
            }
        }
    }
}