#header {
    background : var(--x-light);

    .header_container {
        padding : 50px 0;
        h1 {
            font-size   : 48px;
            line-height : 54px;
            font-weight : 700;

            span {
                color      : var(--primary);
                font-style : italic;
            }
        }

        p {
            font-size : 16px;
            margin    : 14px 0;
            color     : var(--text-secondary);
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #header {
        .header_container {
            .btn-container {
                div {
                    width : 67%;
                    button {
                        width : 100%;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    #header {
        .header_container {
            padding : 0;
            h1 {
                font-size   : 44px;
                line-height : 50px;
            }
        }
    }
}

@media(max-width: 576px) {
    #header {
        .header_container {
            h1 {
                font-size   : 34px;
                line-height : 40px;
            }
            p {
                font-size : 14px;
            }
            .btn_first {
                width : 100%;
            }
        }
    }
}

.locations_displayer {
    display       : flex;
    position      : relative;
    width         : 100%;
    max-width     : 100%;
    min-height        : 46px;
    padding       : 6px 12px 4px 50px;
    color         : var(--text);
    background    : var(--input);
    border-radius : var(--rounded-sm);
    overflow      : auto;
    overflow-y    : hidden;

    &::-webkit-scrollbar {
        height : 8px;
        margin-top: 5px;
    }
    &::-webkit-scrollbar-track {
        background : var(--content-light);
    }
    &::-webkit-scrollbar-thumb {
        background-color : var(--light-border);
        border           : 2px solid var(--content-light);
        border-radius    : 5px;
    }

    .start_icon {
        height           : 100%;
        position         : absolute;
        left             : 0;
        bottom           : 0;
        display          : flex;
        align-items      : center;
        padding          : 0 0 0 16px;
        transform        : scale(1);
        transform-origin : 0;

        svg {
            height : 20px;
            width  : 20px;
            color  : var(--placeholder);
        }
    }

    .locations_item {
        display       : inline-flex;
        max-width     : 100%;
        padding       : 5px 5px 5px 15px;
        margin        : 2px;
        background    : var(--content);
        border        : 1px solid var(--light-border);
        border-radius : var(--rounded-sm);
        white-space   : nowrap;

        svg {
            width         : 20px;
            height        : 20px;
            margin-left   : 10px;
            padding       : 3px;
            border-radius : 50%;
            cursor        : pointer;
        }
    }

    .is_more_locations {
        padding       : 5px 10px;
        margin        : 2px;
        background    : var(--content-light);
        border-radius : var(--rounded-sm);
    }
}

.location_search_displayer {
    position      : absolute;
    width         : 100%;
    height        : auto;
    padding       : 10px 20px;
    margin-top    : 3px;
    background    : var(--content-x-light);
    border-radius : var(--rounded-sm);
    box-shadow    : var(--shadow-xl);
    z-index       : 900;

    h4 {
        margin-bottom : 10px;

        span {
            color : var(--text-secondary);
        }
    }

    .locations_search_body {
        padding : 7px 0;
    }

    .locations_search_item {
        display : flex;
        padding : 7px 0;
        color   : var(--text-secondary);
        cursor  : pointer;

        svg {
            width        : 16px;
            height       : 16px;
            margin-right : 10px;
            margin-top   : 2px;
            color        : var(--svg-x-light);
        }
    }

    .location_range {
        padding       : 10px 0 13px;
        border-bottom : 1px solid var(--light-border);

        .range {
            padding : 15px 10px;

            .rc-slider-track {
                background-color : var(--primary);
            }

            .rc-slider-handle {
                background-color : var(--primary);
                border           : solid 2px var(--primary-light);
                width            : 14px;
                height           : 14px;
                margin-top       : -4px;
            }
        }
    }

    .locations_search_bottom {
        display         : flex;
        justify-content : flex-end;
        padding-top     : 7px;
        border-top      : 1px solid var(--light-border);
    }

    .locations_search_top {
        padding       : 10px 0;
        border-bottom : 1px solid var(--light-border);

        .locations_selected {
            display   : flex;
            padding   : 5px 0;
            flex-wrap : wrap;

            .locations_selected_item {
                display       : inline-flex;
                border-radius : var(--rounded-sm);
                max-width     : 100%;
                padding       : 5px 5px 5px 15px;
                margin        : 2px;
                background    : var(--x-light);
                white-space   : nowrap;

                svg {
                    width         : 20px;
                    height        : 20px;
                    margin-left   : 10px;
                    padding       : 3px;
                    border-radius : 50%;
                    cursor        : pointer;
                }
            }
        }
    }
}