:root {
    --primary         : #9692ff;
    --primary-rgb     : 150, 146, 255;
    --primary-light   : #aaa7fd;
    --primary-dark    : #8582e4;
    --body            : #ffffff;
    --content         : #f9faff;
    --content-light   : #f5f6fd;
    --content-x-light : #f5f6fd;
    --navbar          : #ffffff;
    --text            : #292929;
    --text-secondary  : #676767;
    --text-tertiary   : rgba(95, 93, 93, 0.5);
    --text-grey       : #676767;
    --white           : #ffffff;
    --svg             : #abb9c9;
    --hover           : #f5f5f7;
    --border          : #e8eaf1;
    --input           : #ddd4d4;
    --text-input      : #292929;
    --shadow-custom   : 0 8px 16px rgba(12, 65, 154, .1);
    --shadow-left     : 16px 0 16px -5px rgb(0 0 0 / 0.1);
    --shadow-lg       : 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-xl       : 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-2xl      : 0 25px 50px -12px rgb(0 0 0 / 0.25);

    --blue            : #4470ff ;
    --blue-rgb        : 68, 112, 255;
    --xblue           : #7471fc ;
    --xblue-rgb       : 116, 113, 252;
    --light-blue      : #00aefd;
    --light-blue-rgb  : 0, 174, 253;
    --xlight-blue     : #00c2f5;
    --xlight-blue-rgb : 0, 194, 245;
    --turquoise       : #2edbdb;
    --turquoise-rgb   : 46, 219, 219;
    --xturquoise      : #47e7e7;
    --xturquoise-rgb  : 71, 231, 231;
    --green           : #3dcf70;
    --green-rgb       : 61, 207, 112;
    --xgreen          : #3ee58c;
    --xgreen-rgb      : 62, 229, 140;
    --purple          : #a179f2;
    --purple-rgb      : 161, 121, 242;
    --xpurple         : #a26cf7;
    --xpurple-rgb     : 162, 108, 247;
    --red             : #ff7264;
    --red-rgb         : 255, 114, 100;
    --xred            : #ff6b92;
    --xred-rgb        : 255, 107, 146;
    --orange          : #ffb004;
    --orange-rgb      : 255, 176, 4;
    --xorange         : #FED06C;
    --xorange-rgb     : 254, 208, 108;
    --yellow          : #ffd427;
    --yellow-rgb      : 255, 212, 39;
    --xyellow         : #ffe542;
    --xyellow-rgb     : 255, 229, 66;

    --radius               : 8px;

    --primary-rgb : 187, 134, 252;

    --color-skeleton : 51 65 85;
}

/************** THEME SOMBRE ***************/

.dark {
    --primary         : #9692ff;
    --primary-rgb     : 150, 146, 255;
    --primary-light   : #aaa7fd;
    --primary-dark    : #8582e4;
    // --body            : #202225;
    // --content         : #2f3136;
    // --content-light   : #36393f;
    // --content-x-light : #40444b;
    --body            : #111111;
    --content         : #1e1e1e;
    --content-light   : #2d2d2d;
    --content-x-light : #383838;
    --navbar          : #383838;
    --text            : #ffffff;
    --text-secondary  : rgba(255, 255, 255, 0.7);
    --text-tertiary   : rgba(255, 255, 255, 0.5);
    --text-grey       : #676767;
    --white           : #ffffff;
    --svg             : #abb9c9;
    --hover           : #0c2036;
    --border          : #202023;
    --input           : #15283d;
    --text-input      : #292929;
    --placeholder     : #9ca3af;
    --shadow-custom   : 0 8px 16px rgba(12, 65, 154, .1);
    --shadow-left     : 16px 0 16px -5px rgb(0 0 0 / 0.1);
    --shadow-lg       : 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-xl       : 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-2xl      : 0 25px 50px -12px rgb(0 0 0 / 0.25);

    --blue            : #4470ff ;
    --blue-rgb        : 68, 112, 255;
    --xblue           : #7471fc ;
    --xblue-rgb       : 116, 113, 252;
    --light-blue      : #00aefd;
    --light-blue-rgb  : 0, 174, 253;
    --xlight-blue     : #00c2f5;
    --xlight-blue-rgb : 0, 194, 245;
    --turquoise       : #2edbdb;
    --turquoise-rgb   : 46, 219, 219;
    --xturquoise      : #47e7e7;
    --xturquoise-rgb  : 71, 231, 231;
    --green           : #3dcf70;
    --green-rgb       : 61, 207, 112;
    --xgreen          : #3ee58c;
    --xgreen-rgb      : 62, 229, 140;
    --purple          : #a179f2;
    --purple-rgb      : 161, 121, 242;
    --xpurple         : #a26cf7;
    --xpurple-rgb     : 162, 108, 247;
    --red             : #ff7264;
    --red-rgb         : 255, 114, 100;
    --xred            : #ff6b92;
    --xred-rgb        : 255, 107, 146;
    --orange          : #ffb004;
    --orange-rgb      : 255, 176, 4;
    --xorange         : #FED06C;
    --xorange-rgb     : 254, 208, 108;
    --yellow          : #ffd427;
    --yellow-rgb      : 255, 212, 39;
    --xyellow         : #ffe542;
    --xyellow-rgb     : 255, 229, 66;

    --light-border : rgba(255, 255, 255, 0.2);

    --radius : 8px;

    --color-skeleton : rgb(51 65 85);
}


