 .search_container {
    position     : relative;
    display      : flex;
    width        : 100%;
    height       : 100%;
    padding-left : 30px;

    &:before {
        content   : 'À :';
        position  : absolute;
        left      : 10px;
        top       : 50%;
        transform : translateY(-50%);
    }

    .search_container-content {
        display     : flex;
        align-items : center;
        height      : 100%;
        flex-grow   : 1;
        overflow-x  : auto;

        input {
            display    : block;
            min-width  : 200px;
            width      : 100%;
            height     : 100%;
            padding    : 8px 12px;
            color      : var(--input-text);
            background : var(--content);
            z-index    : 12;

            &::placeholder {
                color      : var(--placeholder);
                font-style : italic;
            }
        }
    }

    .auto-complete-container {
        width : 400px;
        top   : 100%;
    }
}

@media(max-width:576px) {
    .search_container {
        .auto-complete-container {
            position : fixed;
            width    : 100%;
            left     : 0;
            top      : 100px;
        }
    }
}

.members_displayer {
    position    : relative;
    display     : flex;
    align-items : center;
    left        : 0;
    height      : 100%;
    color       : var(--text);
    z-index     : 25;

    .members_item {
        display       : flex;
        align-items   : center;
        padding       : 2px 5px;
        margin        : 0 3px;
        font-weight   : 400;
        color         : var(--text);
        background    : rgba(var(--primary-rgb), .2);
        border-radius : var(--rounded-sm);
        z-index       : 25;

        svg {
            width       : 16px;
            height      : 16px;
            margin-left : 3px;
            margin-top  : 1px;
            cursor      : pointer;
        }
    }

    .is_more_members {
        padding       : 5px 10px;
        margin        : 0 2px;
        color         : var(--primary);
        background    : rgba(var(--primary-rgb), .1);
        border-radius : var(--rounded-sm);
    }
}