.mini-nav-container {
    position     : absolute;
    top          : 0;
    right        : 0;
    height       : 60px;
    width        : auto;
    display      : flex;
    margin-right : 20px;

    ul {
        position        : relative;
        display         : flex;
        justify-content : center;
        align-items     : center;
        list-style      : none;
        margin          : 0;
        padding         : 0;

        li {
            display         : flex;
            height          : 100%;
            min-width       : 50px;
            justify-content : center;
            align-items     : center;
            cursor          : pointer;

            p {
                margin      : 0;
                line-height : 17px;
            }

            .avatar {
                width         : 27px;
                height        : 27px;
                border-radius : 8px;
                margin        : 3px auto 5px;
            }

            &.to-profil{

                a {
                    text-decoration : none;
                    height          : 100%;
                    width           : 100%;
                    color           : var(--color-text-one);
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;
                    justify-content : center;
                    padding         : 0 10px;
                    border-bottom   : 3px solid transparent;
                    margin-right    : 10px;

                    &:hover {
                        background    : var(--color-bg-hover);
                        border-bottom : 3px solid $primary-color;
                        svg {
                            path {
                                fill : $primary-color;
                            }
                        }
                    }

                    &.activeLink {
                        background    : var(--color-bg-hover);
                        border-bottom : 3px solid $primary-color;
                        svg {
                            path {
                                fill : $primary-color;
                            }
                        }
                    }
                }
            }

            &.to-messages, &.to-notifications, &.to-settings-menu {
                margin : 0 2px;

                a, div {
                    text-decoration : none;
                    height          : 45px;
                    width           : 45px;
                    color           : var(--color-text-one);
                    background      : var(--color-content-light);
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;
                    justify-content : center;
                    border-radius   : 30px;

                    &:hover {
                        background : var(--color-primary-light);
                        svg {
                            path {
                                fill : $primary-color;
                            }
                        }
                    }

                    &.activeLink {
                        background : var(--color-content-light);
                        svg {
                            path {
                                fill : $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}