.profil-edit-nav {
    display         : flex;
    flex-direction: column;
    justify-content : left;
    height          : 100%;
    width           : 100%;
    background      : var(--color-content-background);

    ul {
        position   : relative;
        display    : flex;
        flex-direction: column;
        list-style : none;
        margin     : 0;
        padding:0;

        li {
            display         : flex;
            height          : 100%;
            min-width       : 80px;
            text-align      : left;
            align-items     : center;
            cursor          : pointer;

            p {
                margin      : 0;
                line-height : 17px;
            }

            a {
                text-decoration : none;
                height          : 100%;
                width           : 100%;
                color           : var(--color-text);
                display         : flex;
                align-items     : center;
                padding         : 10px;
                border-left   : 3px solid transparent;

                &:hover {
                    background    : var(--color-content-lighten-background);;
                    border-left : 3px solid $primary-color;
                    color         : $primary-color;
                    .svg-icon {

                        path {
                            fill : $primary-color;
                        }
                    }
                }

                &.activeLink {
                    background    : var(--color-content-lighten-background);;
                    border-left : 3px solid $primary-color;
                    .svg-icon {
        
                        path {
                            fill : $primary-color;
                        }
                    }
                }
            }
        }
    }
}