.big_avatar {
    max-height    : 42px;
    max-width     : 42px;
    min-height    : 42px;
    min-width     : 42px;
    border-radius : 50%;
    margin-right  : 14px;
}

.medium_avatar {
    max-height    : 34px;
    max-width     : 34px;
    min-height    : 34px;
    min-width     : 34px;
    border-radius : 50%;
    margin-right  : 10px;
}

.small_avatar {
    max-height    : 28px;
    max-width     : 28px;
    min-height    : 28px;
    min-width     : 28px;
    border-radius : 50%;

    &:nth-child(n+2) {
        margin-left : -6px;
    }
}

.tiny_avatar {
    max-height    : 20px;
    max-width     : 20px;
    min-height    : 20px;
    min-width     : 20px;
    border-radius : 50%;
    margin-right  : 6px;
}