.btn-first {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 44px;
    padding         : 0 30px;
    font-size       : 16px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : none;
    outline         : none;
    border-radius   : var(--radius);
    color           : white !important;
    background      : var(--primary);
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);

    &:hover {
        background : var(--primary-dark);
    }

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:active {
        transform  : scale(0.95);
    }
}

.btn-icon-start {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 44px;
    padding         : 0 20px;
    font-size       : 16px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : none;
    outline         : none;
    border-radius   : var(--radius);
    color           : white !important;
    background      : var(--primary);
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);

    svg {
        height       : 18px;
        width        : 18px;
        margin-right : 5px;
    }

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:hover {
        background : var(--primary-dark);
    }

    &:active {
        transform  : scale(0.95);
    }
}

.btn-icon-end {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 44px;
    padding         : 0 20px;
    font-size       : 16px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : none;
    outline         : none;
    border-radius   : var(--radius);
    color           : white !important;
    background      : var(--primary);
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);

    svg {
        height      : 18px;
        width       : 18px;
        margin-left : 8px;
    }

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:hover {
        background : var(--primary-dark);
    }

    &:active {
        transform  : scale(0.95);
    }
}

.text-btn {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 44px;
    padding         : 0px 20px;
    font-size       : 16px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : none;
    outline         : none;
    border-radius   : var(--radius);
    color           : var(--primary);
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);

    &:hover {
        background : rgba(var(--primary-rgb), 0.15);
    }

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:active {
        transform  : scale(0.95);
    }
}

.outlined-btn {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 44px;
    padding         : 3px 20px 0;
    font-size       : 16px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : 1px solid var(--primary);
    outline         : none;
    border-radius   : var(--radius);
    color           : var(--primary);
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);

    &:hover {
        background : rgba(var(--primary-rgb), 0.10);
    }

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:active {
        transform  : scale(0.95);
    }
}

.btn-outlined-icon-end {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 44px;
    padding         : 2px 20px 0;
    font-size       : 16px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : 1px solid var(--primary);
    outline         : none;
    border-radius   : var(--radius);
    color           : var(--primary);
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);

    svg {
        height      : 18px;
        width       : 18px;
        margin-left : 10px;
    }

    &:hover {
        background : rgba(var(--primary-rgb), 0.10);
    }

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:active {
        transform  : scale(0.95);
    }
}

.btn-outlined-icon-start {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 44px;
    padding         : 2px 20px 0;
    font-size       : 16px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : 1px solid var(--primary);
    outline         : none;
    border-radius   : var(--radius);
    color           : var(--primary);
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);

    svg {
        height       : 18px;
        width        : 18px;
        margin-right : 10px;
    }

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:hover {
        background : rgba(var(--primary-rgb), 0.10);
    }

    &:active {
        transform  : scale(0.95);
    }
}

.text-btn-icon-start {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 44px;
    padding         : 0 20px;
    font-size       : 16px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : none;
    outline         : none;
    border-radius   : var(--radius);
    color           : var(--primary);
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);

    svg {
        height       : 18px;
        width        : 18px;
        margin-right : 5px;
    }

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:hover {
        background : rgba(var(--primary-rgb), 0.10);
    }

    &:active {
        transform  : scale(0.95);
    }
}

.text-btn-icon-end {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 44px;
    padding         : 0 20px;
    font-size       : 16px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : none;
    outline         : none;
    border-radius   : var(--radius);
    color           : var(--primary);
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);

    svg {
        height      : 18px;
        width       : 18px;
        margin-left : 5px;
    }

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:hover {
        background : rgba(var(--primary-rgb), 0.10);
    }

    &:active {
        transform  : scale(0.95);
    }
}

.icon-toggle {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 34px;
    height          : 34px;
    border-radius   : 40px;
    cursor          : pointer;
    transform       : scale(1);

    svg {
        width  : 20px;
        height : 20px;
    }

    &:active {
        transform  : scale(0.95);
    }
}