.card {
    position         : relative;
    width            : 100%;
    max-width        : 317px;
    color            : var(--text);
    background-color : var(--content-light);
    border-radius    : var(--rounded-sm);
    border           : 1px solid var(--light-border);
    cursor           : pointer;

    .card-img {
        height        : 160px;
        width         : 100%;
        border-radius : var(--rounded-sm) var(--rounded-sm) 0 0;
    }

    .state {
        position      : absolute;
        top           : 10px;
        left          : 10px;
        padding       : 2px 12px;
        border-radius : var(--rounded-sm);
        font-size     : 14px;
        color         : white;

        &.orange {
            background : var(--orange);
        }
        &.blue {
            background : var(--light-blue);
        }
        &.green {
            background : var(--green);
        }
    }

    .card-body {
        padding : 12px 18px;

        .card-title {
            display        : flex;
            flex-direction : column;
            padding-bottom : 10px;
            border-bottom  : 1px solid var(--light-border);

            h4 {
                font-size   : 16px;
                line-height : 20px;
            }

            p {
                display       : flex;
                align-items   : center;
                font-size     : 12px;
                color         : var(--text-secondary);

                svg {
                    margin-right : 5px;
                }
            }
        }

        .card-description {
            padding            : 8px 0;
            margin-bottom      : 14px;
            font-size          : 14px;
            height             : 70px;
            text-overflow      : ellipsis;
            overflow           : hidden;
            width              : 100%;
            line-height        : 20px;
            display            : -webkit-box;
            -webkit-line-clamp : 3;
            -webkit-box-orient : vertical;
            color              : var(--text);
        }

        .card-footer {
            .footer-left {
                .action-btn {
                    position    : relative;
                    display     : flex;
                    align-items : center;

                    &.like {
                        svg {
                            height : 18px;
                            width  : 18px;
                            fill   : var(--red);
                            stroke : var(--red);
                            margin : 5px 8px 5px 0;
                        }

                        &:hover {
                            .icon_toggle {
                                background-color : rgba(var(--red-rgb), 0.15);
                            }
                        }
                    }
                    &.follow {
                        svg {
                            height : 18px;
                            width  : 18px;
                            fill   : var(--green);
                            stroke : var(--green);
                            margin : 5px 8px 5px 0;
                        }

                        &:hover {
                            .icon_toggle {
                                background-color : rgba(var(--green-rgb), 0.15);
                            }
                        }
                    }
                }
            }

            .footer-right {

                .footer-name {
                    color : var(--text-secondary);
                    .name {
                        a {
                            font-weight : 500;
                            color       : var(--text);
                        }
                    }

                    .date {
                        font-size : 12px;
                    }
                }
            }
        }
    }
}

.favorite-toggle {
    position        : absolute;
    top             : 130px;
    right           : 8px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 7px;
    background      : var(--content);
    border-radius   : 30px;
    box-shadow      : var(--shadow-tiny);

    svg {
        fill    : var(--yellow);
        width   : 20px;
        height  : 20px;
    }

    p {
        position     : absolute;
        opacity      : 0;
        visibility   : hidden;
        font-size    : 13px;
        white-space  : nowrap;
        margin-right : 7px;
    }

    &:hover {
        padding-left : 15px;
        transition   : .3s ease;

        p {
            position   : unset;
            opacity    : 1;
            visibility : visible;
            transition : 1s ease .2s;
        }
    }
}

.small-card {
    width : 32%;
}