.card {
    position         : relative;
    width            : 100%;
    max-width        : 317px;
    color            : var(--text);
    background-color : var(--content-light);
    border-radius    : var(--rounded-sm);
    border           : 1px solid var(--light-border);
    cursor           : pointer;

    .card-img {
        height        : 160px;
        width         : 100%;
        border-radius : var(--rounded-sm) var(--rounded-sm) 0 0;
    }

    .state {
        position      : absolute;
        top           : 10px;
        left          : 10px;
        padding       : 2px 12px;
        border-radius : var(--rounded-sm);
        font-size     : 14px;
        color         : white;

        &.orange {
            background : var(--orange);
        }
        &.blue {
            background : var(--light-blue);
        }
        &.green {
            background : var(--green);
        }
    }

    .card-body {
        padding : 12px 16px;

        .card-title {
            display        : flex;
            flex-direction : column;
            padding-bottom : 10px;
            border-bottom  : 1px solid var(--light-border);

            p {
                display       : flex;
                align-items   : center;
                font-size     : 12px;
                color         : var(--text-secondary);
                margin-bottom : 3px;

                svg {
                    margin-right : 5px;
                }
            }
        }

        .description {
            padding            : 8px 0;
            margin-bottom      : 14px;
            font-size          : 14px;
            height             : 79px;
            text-overflow      : ellipsis;
            overflow           : hidden;
            width              : 100%;
            line-height        : 24px;
            display            : -webkit-box;
            -webkit-line-clamp : 3;
            -webkit-box-orient : vertical;
            color              : var(--text-secondary);
        }

        .card-footer {

            .footer-left {

                .action-btn {
                    position    : relative;
                    display     : flex;
                    align-items : center;

                    .icon_toggle {
                        margin-right : 8px;
                        box-shadow   : var(--shadow-tiny);
                    }

                    &.like {
                        .icon_toggle {
                            background-color : rgba(var(--red-rgb), 0.1);
                        }
                        svg {
                            fill   : var(--red);
                            stroke : var(--red);
                        }

                        &:hover {
                            .icon_toggle {
                                background-color : rgba(var(--red-rgb), 0.15);
                            }
                        }
                    }
                    &.follow {
                        margin-top : 10px;
                        .icon_toggle {
                            background-color : rgba(var(--green-rgb), 0.1);
                        }
                        svg {
                            fill   : var(--green);
                            stroke : var(--green);
                        }

                        &:hover {
                            .icon_toggle {
                                background-color : rgba(var(--green-rgb), 0.15);
                            }
                        }
                    }
                }
            }

            .footer-right {

                .footer-name {
                    color : var(--text-secondary);
                    .name {
                        a {
                            font-weight : 500;
                            color       : var(--text);
                        }
                    }

                    .date {
                        font-size : 12px;
                    }
                }
            }
        }
    }
}

.favorite-toggle {
    position         : absolute;
    top              : 130px;
    right            : 8px;
    display          : flex;
    align-items      : center;
    background-color : var(--content-x-light);
    border-radius    : 30px;
    box-shadow       : var(--shadow-tiny);

    svg {
        fill : var(--yellow);
    }

    p {
        position    : absolute;
        opacity     : 0;
        visibility  : hidden;
        font-size   : 13px;
        white-space : nowrap;
    }

    &:hover {
        padding-left : 15px;
        transition   : .3s ease;

        p {
            position   : unset;
            opacity    : 1;
            visibility : visible;
            transition : 1s ease .2s;
        }
    }
}

.small-card {
    width : 32%;
}