.categories-picker {
    position      : absolute;
    top           : 56px;
    width         : 650px;
    display       : flex;
    background    : var(--content-x-light);
    height        : auto;
    z-index       : 1500;
    border-radius : var(--radius);
    box-shadow    : var(--shadow-lg);

    .categories-main {
        display        : flex;
        flex-direction : column;
        width          : 350px;
        margin         : 15px 0;
        border-right   : 1px solid var(--text-tertiary);

        .categories-main-inner {
            position   : relative;
            padding    : 0 10px;
            overflow-x : hidden;

            .categories-main-item {
                position      : relative;
                display       : flex;
                align-items   : center;
                padding       : 10px 10px;
                cursor        : pointer;
                border-radius : 5px;
                margin        : 2px 0;

                .left {
                    display     : flex;
                    align-items : center;
                    svg {
                        height       : 20px;
                        width        : 20px;
                        margin-right : 12px;
                        color        : var(--text-tertiary);
                    }
                }

                .right {
                    display     : flex;
                    align-items : center;
                    svg {
                        display  : none;
                        position : absolute;
                        right    : 10px;
                        height   : 14px;
                        width    : 14px;
                    }
                }
    
                &:hover {
                    color      : var(--primary);
                    background : rgba(var(--primary-rgb), 0.1);

                    .right {
                        svg {
                            display : block;
                        }
                    }

                    .left {
                        svg {
                            color : var(--primary);
                        }
                    }
                }
            }
    
            &:before {
                content          : '';
                position         : absolute;
                left             : -4px;
                width            : 8px;
                height           : 100%;
                border-radius    : 20px;
                background-color : transparent;
                transition       : 0.2s ease;
            }
    
            &.active {

                .categories-main-item {
                    color : var(--primary);
                    background : rgba(var(--primary-rgb), 0.03);

                    .left {
                        svg {
                            color : var(--primary);
                        }
                    }
                }

                &:before {
                    background : var(--primary);
                }
            }
        }
    }

    .categories-sub {
        padding        : 0;
        display        : flex;
        flex-direction : column;
        width          : 100%;
        padding        : 0 10px;
        margin         : 15px 0;

        .categories-sub-item {
            width         : 200px;
            padding       : 10px 10px;
            margin        : 2px 0;
            cursor        : pointer;
            border-radius : 5px;

            &.active {
                color      : var(--primary);
                background : rgba(var(--primary-rgb), 0.1);
            }

            &:hover {
                color      : var(--primary);
                background : rgba(var(--primary-rgb), 0.1);
            }
        }
    }
}