.primary {
    color : var(--primary);
}

.txt-prim {
    color : var(--text);
}

.txt-sec {
    color : var(--text-secondary);
}

.txt-ter {
    color : var(--text-tertiary);
}

.border-b {
    border-bottom : 1px solid var(--light-border);
}
.border-t {
    border-top : 1px solid var(--light-border);
}
.border-l {
    border-left : 1px solid var(--light-border);
}
.border-r {
    border-right : 1px solid var(--light-border);
}

.bg-prim-light {
    background-color: rgba(var(--primary-rgb), 0.2);
}

.red {
    color : var(--red);
}

.bg-light-red {
    background-color: rgba(var(--red-rgb), 0.4);
}

.bold {
    font-weight : 600;
}

.f-12 {
    font-size : 12px;
}

.f-18 {
    font-size : 18px;
}
.f-24 {
    font-size : 24px;
}

.anim {
    &:before {
        content          : '';
        position         : absolute;
        left             : 50%;
        transform        : translateX(-50%);
        bottom           : -6px;
        width            : 0;
        height           : 10px;
        border-radius    : 20px;
        background-color : transparent;
        transition       : 0.4s ease;
    }

    &:hover {
        &:before {
            width            : 30%;
            transition       : 0.2s ease;
            background-color : var(--primary);
        }
    }

    &.active {
        color : var(--primary);
        &:before {
            width            : 80%;
            transition       : 0.2s ease;
            background-color : var(--primary);
        }
    }
}

.transition {
    visibility : hidden;
    opacity    : 0;
    transition : .2s ease-in;
    &.open {
        visibility : visible;
        opacity    : 1;
        transition : .2s ease-in;
    }
}