.afterlined {
    display         : flex;
    width           : 100%;
    justify-content : center;
    align-items     : center;
    margin-bottom   : 20px;

    &:after {
        content    : '';
        border-top : 0.03rem solid;
        margin     : 3px 0 0 20px;
        flex       : 1 0 20px;
        background : var(--color-text-grey);
    }
}

.avatar {
    width         : 30px;
    height        : 30px;
    border-radius : 4px;
    margin-right  : 7px;
}