.content_container {
    position     : relative;
    width        : 100%;
    height       : auto;
    min-height   : 100%;
    background   : var(--content-light);
    margin-right : auto;
    margin-left  : auto;
}

.content_box {
    position     : relative;
    height       : auto;
    padding      : 30px;
    margin-right : auto;
    margin-left  : auto;
    color        : var(--text);
}

@media (max-width: 576px) {
    .content_box {
        max-width : 516px;
    }
}
@media (max-width: 768px) {
    .content_box {
        max-width : 708px;
    }
}
@media (max-width: 992px) {
    .content_box {
        max-width : 932px;
    }
}
@media (max-width: 1200px) {
    .content_box {
        max-width : 1140px;
    }
}
@media (max-width: 1366px) {
    .content_box {
        max-width : 1306px;
    }
}
@media (min-width: 1366px) {
    .content_box {
        max-width : 1366px;
    }
}

.box {
    position     : relative;
    height       : auto;
    padding      : 0 30px;
    margin-right : auto;
    margin-left  : auto;
    color        : var(--text);
}

@media (max-width: 576px) {
    .box {
        max-width : 516px;
    }
}
@media (max-width: 768px) {
    .box {
        max-width : 708px;
    }
}
@media (max-width: 992px) {
    .box {
        max-width : 932px;
    }
}
@media (max-width: 1200px) {
    .box {
        max-width : 1140px;
    }
}
@media (max-width: 1366px) {
    .box {
        max-width : 1306px;
    }
}
@media (min-width: 1366px) {
    .box {
        max-width : 1366px;
    }
}

