.emoji-picker {
    position   : absolute;
    z-index    : 700;
    height     : 368px !important;
    width      : 300px !important;
    box-shadow : var(--shadow-xl);

    .emoji-mart {
        width         : 300px !important;
        border        : none;
        border-radius : 10px;

        .emoji-mart-category {
            width : 277px;

            .emoji-mart-emoji {
                span {
                    cursor : pointer;
                }
            }
        }

        .emoji-mart-bar {
            background-color : var(--content-x-light);
            .emoji-mart-preview {
                height : 42px;

                .emoji-mart-title-label {
                    font-size : 16px;
                }

                .emoji-mart-category-label {
                    top : -1px;
                }

                .emoji-mart-preview-emoji {
                    span {
                        span {
                            height : 26px !important;
                            width  : 26px !important;
                        }
                    }
                }

                .emoji-mart-preview-data {
                    left : 60px;
                }

                .emoji-mart-preview-name {
                    display : none;
                }
    
                .emoji-mart-preview-shortnames {
                    margin-left : 5px;
                    .emoji-mart-preview-shortname {
                        font-size          : 14px !important;
                        color              : var(--text-secondary);
                        font-weight        : 600;
                        text-overflow      : ellipsis;
                        overflow           : hidden;
                        width              : 100%;
                        line-height        : 19px;
                        display            : -webkit-box;
                        -webkit-line-clamp : 1;
                        -webkit-box-orient : vertical;

                        &:nth-child(n+2) {
                            display : none;
                        }
                    }
                }
                .emoji-mart-preview-emoticons {
                    display : none;
                }
            }
        }

        .emoji-mart-scroll {
            margin-bottom : 10px;
            height        : 225px;
            width         : 100%;
            padding-right : 0;
            padding       : 0 8px;
            
            &::-webkit-scrollbar {
                width  : 10px;
                cursor : pointer;
            }

            &::-webkit-scrollbar-button {
                width  : 0px;
                height : 0px;
            }

            &::-webkit-scrollbar-thumb {
                background    : var(--light-border);
                border-radius : 6px;
                width         : 10px;
                cursor        : pointer;
            }

            &::-webkit-scrollbar-track {
                background : transparent;
        
                &:hover, &:active {
                    background : var(--light);
                }
            }

            &::-webkit-scrollbar-corner {
                background : transparent;
            }
        }

        .emoji-mart-anchors {
            svg {
                margin : 0 auto;
            }
            img {
                margin : 0 auto;
            }
        }

        .emoji-mart-search {
            margin-bottom : 6px;
        }
    }
}

.emoji-mart-dark {
    background-color : var(--content-x-light);

    .emoji-mart-search {
        input {
            background-color : var(--content-light);
            border           : 1px solid transparent;
        }
    }
}

.emoji-mart-search{
    padding : 8px 12px 2px;
    margin  : 0;
    input {
        padding       : 7px 10px 5px 30px;
        font-size     : 14px;
        border-radius : 8px;
        border        : 1px solid transparent;
        background-color : var(--content-light);

        &:focus {
            border : 1px solid var(--primary);
        }

        &::placeholder {
            content : 'Rechercher';
        }
    }
}

.emoji-mart-search-icon {
    right : unset;
    left  : 15px;
    top   : 15px;
}

.emoji-mart-anchor-bar {
    height : 1px;
}

.emoji-mart-category-label {
    span {
        background-color : var(--content-x-light) !important;
        font-size        : 14px;
    }
}