.error {
    margin-bottom : 5px;
    color         : red;
    border-radius : 6px;
    text-align    : center;
}

.success {
    color         : green;
    margin-bottom : 5px;
    border-radius : 6px;
    text-align    : center;
}