.map-container {
    max-width       : 350px;
    margin          : 0 auto;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

#map-departments {
    width  : 450px;
    margin : 0 auto;
    cursor : pointer;
    
    path {
        stroke          : #091726;
        stroke-width    : 1px;
        stroke-linecap  : round;
        stroke-linejoin : round;
        stroke-opacity  : .25;
        fill            : $primary-color;
    }
    g:hover path {
        fill : #366598;
    }
    g path:hover {
        fill : #184573;
    }
}

#map-region {
    width  : 450px;
    margin : 0 auto;
    cursor : pointer;
    
    path {
        stroke          : #091726;
        stroke-width    : 3px;
        stroke-linecap  : round;
        stroke-linejoin : round;
        stroke-opacity  : .25;
        fill            : $primary-color;
    }
    g path:hover {
        fill : #184573;
    }
}