.map-container {
    max-width       : 350px;
    margin          : 0 auto;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

#map-departments {
    width  : 450px;
    margin : 0 auto;
    cursor : ponter;

    path {
        stroke          : var(--content-light);
        stroke-width    : 3px;
        stroke-linecap  : round;
        stroke-linejoin : round;
        stroke-opacity  : 0.25;
        fill            : var(--primary-light);
        cursor          : pointer;
        
        &.active {
            fill : var(--primary-dark);
        }
    }

    g {
        &:hover {
            path {
                fill : var(--primary);
            }
        }
    }

    g {
        path {
            &:hover {
                fill : var(--primary-dark);
            }
        }
    }
}

#map-region {
    width  : 450px;
    margin : 0 auto;
    cursor : pointer;

    path {
        stroke          : var(--content-light);
        stroke-width    : 2px;
        stroke-linecap  : round;
        stroke-linejoin : round;
        stroke-opacity  : 0.25;
        fill            : var(--primary-light);
        cursor          : pointer;

        &.active {
            fill : var(--primary-dark);
        }
    }

    g {
        path {
            &:hover {
                fill : var(--primary);
            }
        }
    }
}
