.map {
    width  : 80%;
    height : auto;
    margin : 0 auto;
    cursor : pointer;

    path {
        stroke          : var(--content-light);
        stroke-width    : 3px;
        stroke-linecap  : round;
        stroke-linejoin : round;
        stroke-opacity  : 0.25;
        fill            : var(--primary);
        cursor          : pointer;
        
        &.active {
            fill : var(--orange);
        }
    }
}

#map-departments {
    g {
        &:hover {
            path {
                fill : rgba(var(--orange-rgb), 0.6);
            }
        }
    }
    g {
        path {
            &:hover {
                fill : var(--orange);
            }
        }
    }
}

#map-region {
    g {
        path {
            &:hover {
                fill : var(--orange);
            }
        }
    }
}

@media(max-width: 768px) {
    .map {
        width : 100%;
    }
}
