.modal-container {
    position      : fixed;
    border-radius : 6px;
    background    : var(--color-content);
    width         : auto;
    height        : auto;
    left          : 50%;
    top           : 50%;
    transform     : translate(-50%, -50%);
    display       : none;
    z-index       : 100000000;

    &.hide-modal {
        opacity    : 0;
        visibility : hidden;
        transform  : scale(1.1) translate(-50%, -50%);
        transition : visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }

    &.modal-container-active {
        display : block;
    
        &.show-modal {
            opacity    : 1;
            visibility : visible;
            transform  : scale(1.0) translate(-50%, -50%);
            transition : visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }
    }

    .modal-inner {
        position : relative;
        padding  : 20px;
    }
}


.close-modal {
    position : absolute;
    padding  : 7px 12px;
    top      : 0;
    right    : 0;
    color    : var(--color-text);
    cursor   : pointer;

    svg {
        width  : 14px;
        height : 14px;
    }
}
.modal-cover {
    position   : fixed;
    top        : 0;
    bottom     : 0;
    left       : 0;
    right      : 0;
    background : rgba(0,0,0,.6);
    z-index    : 1040;
    display    : none;

    &.modal-cover-active {
        display : block;
    }
}