.modal-container {
    position         : fixed;
    border-radius    : 6px;
    left             : 50%;
    top              : 50%;
    width            : auto;
    min-width        : 300px;
    height           : auto;
    z-index          : 1600;
    padding          : 20px 30px;
    color            : var(--text);
    background-color : var(--content);
    box-shadow       : var(--shadow-xl);

    h2 {
        padding-bottom : 7px;
        border-bottom  : 1px solid var(--text-tertiary);
        margin-bottom  : 10px;
    }

    &.hide-modal {
        opacity    : 0;
        visibility : hidden;
        transform  : scale(1.1) translate(-47%, -50%);
        transition : visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }

    &.modal-container-active {
        display : block;

        &.show-modal {
            opacity    : 1;
            visibility : visible;
            transform  : scale(1) translate(-50%, -50%);
            transition : visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }
    }

    .close-modal {
        position      : absolute;
        padding       : 5px;
        top           : 5px;
        right         : 5px;
        cursor        : pointer;
        border-radius : 30px;

        svg {
            width  : 20px;
            height : 20px;
        }

        &:hover {
            background-color : var(--content-light);
        }
    }
}


.modal-cover {
    position   : fixed;
    top        : 0;
    bottom     : 0;
    left       : 0;
    right      : 0;
    background : rgba(0, 0, 0, 0.2);
    z-index    : 1599;
    display    : none;

    &.modal-cover-active {
        display : block;
    }
}
