.modal_wrapper {
    position   : fixed;
    top        : 0;
    right      : 0;
    bottom     : 0;
    left       : 0;
    padding    : 100px 0 30px;
    overflow-x : hidden;
    overflow-y : auto;
    z-index    : 100000000000;

    .modal_container {
        position         : relative;
        margin           : auto;
        width            : 600px;
        padding          : 15px 20px;
        color            : var(--text);
        background-color : var(--content);
        border-radius    : var(--radius);
        box-shadow       : var(--shadow-xl);
        border           : 1px solid var(--content-x-light);
        z-index          : 100000000000;
    
        h2 {
            padding-bottom : 7px;
            margin-bottom  : 10px;
            font-size      : 18px !important;
    
            &.title_border {
                border-bottom : 1px solid var(--text-tertiary);
            }
        }
    
        &.hide_modal {
            opacity    : 0;
            visibility : hidden;
            transform  : scale(1.1) translate(-47%, -50%);
            transition : visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        }
    
        &.modal_container-active {
            display : block;
    
            &.show_modal {
                opacity    : 1;
                visibility : visible;
                transform  : scale(1);
                transition : visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
            }
        }
    
        .close_modal {
            position         : absolute;
            padding          : 5px;
            top              : 7px;
            right            : 5px;
            cursor           : pointer;
            border-radius    : 30px;
    
            svg {
                width  : 22px;
                height : 22px;
            }
    
            &:hover {
                background-color : var(--content-light);
            }
        }
    
        .modal_nav {
            display       : flex;
            min-width     : 100%;
            margin-bottom : 20px;
    
            .modal_nav-item {
                padding          : 8px 16px;
                cursor           : pointer;
                background-color : var(--content-x-light);
    
                &:hover {
                    background-color : rgba(var(--primary-rgb), 0.3);
                }
                &.active {
                    background-color : rgba(var(--primary-rgb), 0.6);
                }
            }
        }
    }
    
    .modal_cover {
        position   : fixed;
        top        : 0;
        bottom     : 0;
        left       : 0;
        right      : 0;
        background : rgba(0, 0, 0, 0.5);
        z-index    : 100000;
        display    : none;
    
        &.modal_cover-active {
            display : block;
            z-index : 100000;
        }
    }
}

@media(max-width: 768px) {
    .modal_wrapper {
        .modal_container {
            width : 85%;
        }
    }
}

@media(max-width: 576px) {
    .modal_wrapper {
        .modal_container {
            width : 95%;
        }
    }
}

.map_modal {
    .map_modal_nav {
        display       : flex;
        position      : relative;
        width         : 100%;
        margin-bottom : 16px;
        border-bottom : 1px solid var(--light-border);

        .map_modal_nav_item {
            position      : relative;
            height        : 100%;
            width         : 50%;
            text-align    : center;
            color         : var(--text);
            cursor        : pointer;
            padding       : 10px 5px;
            overflow      : hidden;
        }
    }
}

@media(max-width: 576px) {
    .modal_container {
        &.map_modal {
            width    : 100%;
            padding  : 30px 20px;
            position : fixed;
            bottom   : 0;
            top      : 0;
            left     : 0;
            right    : 0;
            .map {
                margin-top : 30px;
            }
        }
    }
}

.users_modal {
    width : 500px;

    .users_modal-header {
        display       : flex;
        align-items   : center;
        border-bottom : 1px solid var(--light-border);
        padding       : 0 0 10px;

        svg {
            width        : 24px;
            height       : 24px;
            margin-right : 8px;

            &.like {
                color : var(--red);
            }
            &.follow {
                color : var(--light-blue);
            }
        }

        p {
            padding-top : 5px;
        }
    }

    .users_modal-body {
        padding    : 10px 0 0;
        // overflow-y : auto;
        z-index    : 1;

        .user {
            position        : relative;
            width           : 100%;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            cursor          : pointer;
            padding         : 12px 0;
            
            .pseudo {
                margin-left : 8px;
                padding-top : 8px;
            }
        }

        .empty_users {
            display         : flex;
            align-items     : center;
            justify-content : center;
            padding         : 12px 0 6px;
            color           : var(--text);
            font-size       : 18px;
    
            svg {
                width        : 30px;
                height       : 30px;
                margin-right : 20px;
            }
        }
    }
}

.hovered_card {
    position : absolute;
    bottom   : 10px;
    left     : -120px;
    padding  : 32px;
    
    .hovered-modal_container {
        background-color : var(--content);
        padding          : 16px;
        box-shadow       : var(--shadow-xl);
        width            : auto;
        border-radius    : var(--radius);
        border           : 2px solid var(--content-x-light);

        .hovered-modal_head {
            display       : flex;
            width         : 100%;
            margin-bottom : 12px;

            .hovered-modal_avatar {
                width         : 76px;
                height        : 76px;
                border-radius : 16px;
            }

            .left {
                padding-right : 20px;
            }

            .right {
                .hovered_card-name {
                    font-weight   : 500;
                    font-size     : 20px;
                    margin-bottom : 6px;
                }
            }
        }
    }
}

.warning_modal {
    .warning_title {
        font-size : 20px;
        width     : 90%;
    }

    .warning_text {
        padding : 20px 0;
        color   : var(--text-secondary);
    }

    .btn_container {
        margin-top : 10px;
        padding    : 0;
    }
}
