.custom-scrollbar {
    &::-webkit-scrollbar {
        width : 12px;
    }
    &::-webkit-scrollbar-track {
        background : var(--content-light);
    }
    &::-webkit-scrollbar-thumb {
        background-color : var(--light-border);
        border           : 3px solid var(--content-light);
        border-radius    : 10px;
    }

    &::-webkit-scrollbar-corner {
        background : transparent;
    }
}