.custom-scrollbar {
    &::-webkit-scrollbar {
        width  : 20px;
        cursor : pointer;
    }

    &::-webkit-scrollbar-button {
        width  : 0px;
        height : 0px;
    }

    &::-webkit-scrollbar-thumb {
        background      : var(--light-border);
        border          : 5px solid rgba(0, 0, 0, 0);
        background-clip : padding-box;
        border-radius   : 9999px;
        cursor          : pointer;
    }

    &::-webkit-scrollbar-track {
        background : transparent;

        &:hover, &:active {
            background : var(--light);
        }
    }

    &::-webkit-scrollbar-corner {
        background : transparent;
    }
}