.custom-scrollbar {
    &::-webkit-scrollbar {
        width  : 10px;
        height : 10px;
    }
    &::-webkit-scrollbar-button {
        width  : 0px;
        height : 0px;
    }
    &::-webkit-scrollbar-thumb {
        background    : var(--light-border);
        border        : 31px none var(--body);
        border-radius : 6px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background : var(--light-border);
    }
    &::-webkit-scrollbar-thumb:active {
        background : var(--light-border);
    }
    &::-webkit-scrollbar-track {
        background : var(--color-hover);
        width      : 5px;
    }
    &::-webkit-scrollbar-track:hover {
        background : var(--color-hover);
    }
    &::-webkit-scrollbar-track:active {
        background : var(--color-hover);
    }
    &::-webkit-scrollbar-corner {
        background : transparent;
    } 
}