.one-line {
    text-overflow      : ellipsis;
    overflow           : hidden;
    width              : 90%;
    line-height        : 19px;
    display            : -webkit-box;
    -webkit-line-clamp : 1;
    -webkit-box-orient : vertical;
}

.two-lines {
    text-overflow      : ellipsis;
    overflow           : hidden;
    width              : 90%;
    line-height        : 19px;
    display            : -webkit-box;
    -webkit-line-clamp : 2;
    -webkit-box-orient : vertical;
}

.three-lines {
    text-overflow      : ellipsis;
    overflow           : hidden;
    width              : 90%;
    line-height        : 19px;
    display            : -webkit-box;
    -webkit-line-clamp : 3;
    -webkit-box-orient : vertical;
}

.tools-btn {
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 10px;
    cursor          : pointer;
    border-radius   : 20px;
    color           : var(--text);
    transform       : scale(1);
    background      : var(--content);
    border-radius   : 10px;

    svg {
        height : 20px;
        width  : 20px;
    }

    &:hover {
        background-color : var(--content-x-light);
    }

    &:active {
        transform  : scale(0.95);
    }
}

.small-tools-btn {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding          : 8px;
    cursor           : pointer;
    border-radius    : 8px;
    color            : var(--text);
    transform        : scale(1);
    background-color : var(--primary);
    background       : var(--content-x-light);
    box-shadow       : var(--shadow-xl);
    border-radius    : 10px;

    svg {
        height : 12px;
        width  : 12px;
    }

    &:hover {
        background-color : var(--content-x-light);
    }

    &:active {
        transform  : scale(0.95);
    }
}

.tools-menu {
    position      : absolute;
    padding       : 8px;
    z-index       : 100000;
    background    : var(--content);
    box-shadow    : var(--shadow-lg);
    border-radius : var(--radius);
    border        : 1px solid var(--content-light);

    .tools-choice {
        min-width     : 220px;
        text-align    : left;
        padding       : 10px;
        color         : var(--text);
        cursor        : pointer;
        border-radius : var(--radius);

        &:hover {
            background : var(--content-light);
        }
    }
}

.hidden {
    display : none;
}

.classic-input {
    display       : block;
    height        : 48px;
    padding       : 8px;
    color         : var(--text);
    background    : var(--content-x-light);
    border-radius : var(--radius);
    border        : 2px solid rgba(0, 0, 0, 0);
    outline       : none;

    &:focus {
        border : 2px solid var(--primary);
    }
}

.double-icon-input {
    position    : relative;
    display     : flex;
    align-items : center;
    max-width   : 300px;

    .classic-input {
        display       : block;
        height        : 48px;
        width         : 100%;
        padding       : 8px 8px 8px 34px;
        color         : var(--text);
        background    : var(--content-x-light);
        border-radius : var(--radius);
        border        : 2px solid rgba(0, 0, 0, 0);
        outline       : none;
    
        &:focus {
            border : 2px solid var(--primary);
        }
    }

    .start-icon {
        position : absolute;
        left     : 10px;

        svg {
            width  : 22px;
            height : 22px;
            color  : #9ca3af;
        }
    }

    .end-icon {
        position   : absolute;
        right      : 10px;

        svg {
            width      : 14px;
            height     : 14px;
            color      : #9ca3af;
            margin-top : 2px;
        }
    }
}

.textarea {
    display       : block;
    min-height    : 80px;
    max-height    : 300px;
    overflow-y    : auto;
    padding       : 8px;
    color         : var(--text);
    background    : var(--content-x-light);
    border-radius : var(--radius);
    border        : 2px solid rgba(0, 0, 0, 0);
    outline       : none;

    &:focus {
        border : 2px solid var(--primary);
    }
}

.dropdown-input {
    position      : relative;
    min-width     : 200px;
    margin-bottom : 3px;
    cursor        : pointer;
    background    : var(--content-x-light);
    border-radius : var(--radius);
    z-index       : 1;

    input {
        padding            : 10px;
        color              : var(--text);
        background         : var(--content-x-light);
        border-radius      : var(--radius);
        border             : 2px solid rgba(0, 0, 0, 0);
        outline            : none;
        cursor             : pointer;
        width              : 90%;
        text-overflow      : ellipsis;
        overflow           : hidden;
        display            : -webkit-box;
        -webkit-line-clamp : 1;
        -webkit-box-orient : vertical;

        &:focus {
            outline : none;
        }

        &::placeholder {
            color : var(--text-tertiary);
        }
    }

    &:hover {
        background : var(--content-x-light);

        input {
            background : var(--content-x-light);
        }
    }

    svg {
        position : absolute;
        height   : 16px;
        width    : 16px;
        bottom   : 15px;
        right    : 10px;
        color    : var(--text-tertiary);
    }

    .dropdown-input-choices {
        position         : absolute;
        left             : 0;
        min-width        : 300px;
        margin-top       : 5px;
        padding          : 5px;
        background-color : var(--content-x-light);
        z-index          : 1500;
        box-shadow       : var(--shadow-xl);
        border-radius    : var(--radius);

        div {
            padding       : 8px 12px;
            cursor        : pointer;
            background    : var(--content-x-light);
            border-radius : var(--radius);

            &:hover {
                background : var(--content);
            }
        }
    }

    &.small {
        input {
            padding   : 6px 10px 5px;
            font-size : 14px;
        }

        svg {
            bottom : 10px;
        }

        .dropdown-input-choices {
            font-size : 14px;
            min-width : 240px;
        }
    }

    &.right {
        .dropdown-input-choices {
            right : 0;
            left  : unset;
        }
    }

    &.light {
        background : var(--content-x-light);
        input {
            background : var(--content-x-light);
        }
        .dropdown-input-choices {
            background : var(--content-x-light);
            div {
                background : var(--content-x-light);
                &:hover {
                    background : var(--content-light);
                }
            }
        }
    }
}

.err {
    border        : 2px solid var(--red);
    border-radius : 8px;
}

.date-picker-container {
    position : relative;
    cursor   : pointer;
    
    input {
        display       : block;
        height        : 48px;
        padding       : 8px;
        color         : var(--text);
        background    : var(--content-x-light);
        border-radius : var(--radius);
        border        : 2px solid rgba(0, 0, 0, 0);
        outline       : none;
        cursor        : pointer;

        &:focus {
            border : 2px solid var(--primary);
        }
    }

    svg {
        position : absolute;
        height   : 18px;
        width    : 18px;
        bottom   : 16px;
        right    : 12px;
        color    : var(--text-tertiary);
    }

    .datepicker {
        position      : absolute;
        top           : 50px;
        left          : 50%;
        transform     : translateX(-50%);
        background    : var(--content-x-light);
        border-radius : 8px;
        z-index       : 2000;
        box-shadow : var(--shadow-lg);

        .rdp {

            .selected {
                background-color : var(--primary);
                border-radius    : 10px;
                border           : none;
                outline          : none;
            }
    
            .today {
                background-color : var(--content-x-light);
                border-radius    : 10px;
            }
    
            .rdp-button {
                &:hover, &:focus {
                    background-color : var(--primary);
                    border           : none;
                    border-radius    : 10px;
                }
            }

            .rdp-caption_label {
                margin  : 0;
                padding : 5px;
            }

            .rdp-nav {
                display : flex;

                .rdp-nav_button_previous, .rdp-nav_button_next {
                    display       : flex;
                    align-items   : center;
                    background    : var(--content-light);
                    border-radius : 10px;
                    margin        : 0 3px;
                    box-shadow    : var(--shadow-lg);
                    transform     : scale(1);

                    svg {
                        bottom : unset;
                        right  : unset;
                    }

                    &:hover {
                        background-color : rgba(var(--primary-rgb), 0.8);
                    }

                    &:active {
                        transform  : scale(0.9);
                        box-shadow : none;
                    }
                }
            }
        }
    }

    &.top {
        .datepicker {
            top    : unset;
            bottom : 50px;
        }
    }
}

.big-avatar {
    min-height    : 40px;
    min-width     : 40px;
    border-radius : 10px;
    margin-right  : 16px;
}

.medium-avatar {
    min-height    : 34px;
    min-width     : 34px;
    border-radius : 8px;
    margin-right  : 10px;
}

.small-avatar {
    min-height    : 28px;
    min-width     : 28px;
    border-radius : 6px;

    &:nth-child(n+2) {
        margin-left : -6px;
    }
}

.tiny-avatar {
    height        : 20px;
    width         : 20px;
    border-radius : 50px;
    margin-right  : 6px;
}

.get-difference {
    position         : relative;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    height           : 29px;
    width            : 29px;
    left             : -10px;
    padding          : 5px 4px 4px;
    font-size        : 12px;
    background-color : var(--content);
    border-radius    : 20px;
}

.user-in-array-container {
    display   : flex;
    flex-wrap : wrap;
    padding   : 10px 0;

    .user-in-array {
        display          : flex;
        align-items      : center;
        height           : 30px;
        padding          : 4px 8px;
        margin           : 4px;
        color            : var(--text);
        background-color : var(--primary);
        border-radius    : var(--radius);
        cursor           : pointer;
    
        svg {
            width         : 20px;
            height        : 20px;
            padding       : 2px;
            border-radius : 20px;
            margin-left   : 5px;
            margin-top    : 1px;
    
            &:hover {
                background-color : var(--primary-dark);
            }
        }
    }
}

.user-selecter {
    height : 100%;
    color  : var(--text);

    .user-displayer {
        min-height : 200px;
        max-height : 300px;
        overflow-y : auto;

        .user-display-choice {
            display       : flex;
            align-items   : center;
            padding       : 8px;
            margin        : 4px 0;
            cursor        : pointer;
            border-radius : var(--radius);

            &:hover {
                background : var(--content-x-light);
            }
        }
    }
}

.task-avatar {
    width         : 30px;
    height        : 30px;
    border-radius : 30px;

    &:nth-child(n+2) {
        margin-left : -10px;
    }
}

.is-error {
    display          : flex;
    align-items      : center;
    padding          : 10px;
    max-width        : 350px;
    background-color : rgba(var(--red-rgb), 0.4);
    border           : 1px solid var(--red);
    border-left      : 5px solid var(--red);
    font-size        : 14px;
    margin-top       : 4px;
    border-radius    : 8px;

    .title {
        font-size      : 16px;
        font-weight    : 600;
        letter-spacing : 0.6px;
    }

    svg {
        height       : 36px;
        width        : 36px;
        margin-right : 8px;
    }
}

.auto-complete-container {
    position         : absolute;
    padding          : 10px 0;
    max-height       : 300px;
    overflow         : auto;
    width            : 500px;
    z-index          : 1500;
    border-radius    : var(--radius);
    box-shadow       : var(--shadow-xl);
    background-color : var(--content-light);

    .auto-complete-item {
        display     : flex;
        align-items : center;
        padding     : 7px 16px;
        cursor      : pointer;
        border      : 4px solid transparent;

        &:hover {
            background  : var(--content-x-light);
            border-left : 4px solid var(--primary);
        }
    }

    .no-result {
        display         : flex;
        align-items     : center;
        justify-content : center;
        padding         : 15px 35px;
        color           : var(--text);
        font-size       : 16px;

        svg {
            width        : 30px;
            height       : 30px;
            margin-right : 20px;
        }
    }
}

.tooltip {
    position      : absolute;
    font-size     : 13px;
    width         : auto;
    max-width     : 250px;
    background    : var(--body);
    padding       : 10px 15px 8px;
    box-shadow    : var(--shadow-lg);
    border-radius : 5px;
    z-index       : 10000;
    white-space   : nowrap;

    &::before {
        content          : '';
        position         : absolute;
        width            : 0;
        height           : 0;
        border           : .5em solid transparent;
        border-top-color : var(--body);
    }

    &.top {
        bottom    : 50px;
        left      : 50%;
        transform : translateX(-50%);

        &:before {
            top       : 100%;
            left      : 50%;
            transform : translate(-50%, 0);
        }
    }

    &.right {
        top       : 50%;
        left      : 40px;
        transform : translateY(-50%);

        &:before {
            top       : 50%;
            left      : -12px;
            transform : translateY(-50%) rotate(90deg);
        }
    }

    &.right {
        top       : 50%;
        right     : 40px;
        transform : translateY(-50%);

        &:before {
            top       : 50%;
            right     : -12px;
            transform : translateY(-50%) rotate(-90deg);
        }
    }
}