.three-lines {
    text-overflow      : ellipsis;
    overflow           : hidden;
    width              : 90%;
    line-height        : 19px;
    display            : -webkit-box;
    -webkit-line-clamp : 3;
    -webkit-box-orient : vertical;
}