.add-project {
    position   : relative;
    width      : 100%;
    height     : 100%;
    background : var(--content);

    .add-project-container {
        position : relative;
        width    : 992px;
        height   : auto;
        padding  : 50px;
        margin   : 0 auto;
        color    : var(--text) !important;

        h1 {
            text-align    : center;
            margin-bottom : 20px;
        }

        .txGyJ {
            color : var(--text);
        }

        .efKnqy {
            overflow : unset;
        }

        .iUpwIs, .kDwXpO {
            background : rgba(var(--primary-rgb), 0.6);
            color      : white;
        }

        .btn-container {
            display         : flex;
            align-items     : center;
            justify-content : space-between;
            padding         : 10px 0 0;
            margin-top      : 10px;

            .next-btn {
                width : 140px;

                &.right {
                    margin-left : auto;
                }
            }

            .previous-btn {
                width : 140px;

                &.left {
                    margin-right : auto;
                }
            }
        }

        .add-project-card {
            position      : relative;
            width         : 100%;
            padding       : 20px;
            background    : var(--content-light);
            color         : var(--text);
            border-radius : 8px;
            box-shadow    : var(--shadow-lg);

            h2 {
                position      : relative;
                margin-bottom : 20px;
                display       : flex;
                align-items   : center;
                padding       : 0 0 0 22px;

                &:before {
                    content       : '';
                    position      : absolute;
                    width         : 12px;
                    height        : 12px;
                    left          : 0;
                    border-radius : 10px;
                    background    : var(--primary);
                }
            }

            .content-form {
                position : relative;
                width    : 100%;
            }

            .title-input {
                width : 300px;
                input {
                    width : 400px;
                }
            }
        }
    }
}