.add-project {
    position   : relative;
    width      : 100%;
    min-height : 100%;
    background : var(--content);

    .add-project-container {
        position  : relative;
        max-width : 1200px;
        height    : auto;
        padding   : 50px;
        margin    : 0 auto;
        color     : var(--text) !important;

        h1 {
            text-align    : center;
            margin-bottom : 20px;
        }

        .txGyJ {
            color : var(--text);
        }

        .efKnqy {
            overflow : unset;
        }

        .iUpwIs, .kDwXpO {
            background : rgba(var(--primary-rgb), 0.8);
            color      : white;
        }

        .bybfbu {
            margin  : 6px 0px 6px 12px;
            padding : 0 20px 1px 24px
        }

        .btn-container {
            display         : flex;
            align-items     : center;
            justify-content : space-between;
            padding         : 10px 0 0;
            margin-top      : 10px;

            .next-btn {
                width       : 140px;
                padding-top : 2px;

                &.right {
                    margin-left : auto;
                }
            }

            .previous-btn {
                width       : 140px;
                padding-top : 2px;

                &.left {
                    margin-right : auto;
                }
            }
        }

        .add-project-card {
            position      : relative;
            width         : 100%;
            padding       : 20px;
            background    : var(--content-light);
            color         : var(--text);
            border-radius : 8px;
            box-shadow    : var(--shadow-lg);

            h2 {
                position      : relative;
                margin-bottom : 20px;
                display       : flex;
                align-items   : center;
                padding       : 0 0 0 22px;

                &:before {
                    content       : '';
                    position      : absolute;
                    width         : 12px;
                    height        : 12px;
                    left          : 0;
                    border-radius : 10px;
                    background    : var(--primary);
                }
            }

            .title {
                display         : flex;
                justify-content : space-between;
                align-items     : flex-end;
                max-width       : 300px;
                margin-bottom   : 8px;

                span {
                    color     : var(--text-secondary);
                    font-size : 10px;
                }
            }
            .title-infos {
                width           : 300px;
                display         : flex;
                justify-content : flex-end;
                color           : var(--text-secondary);
                font-size       : 12px;
                margin-top      : 6px;
            }

            .content-form {
                position  : relative;
                width     : 100%;
            }

            input {
                width : 300px;
            }
        }
    } 

    .add-img-container {
        display         : flex;
        justify-content : space-around;

        .img-input {
            position : relative;
            height   : 154px;
            width    : 154px;
            opacity  : 0;
            z-index  : 1500;
            cursor   : pointer;
        }

        .img-preview-container {
            display          : flex;
            position         : relative;
            height           : 154px;
            width            : 154px;
            background-color : var(--content-x-light);
            border-radius    : 5px;

            .img-preview {
                position        : absolute;
                height          : 154px;
                width           : 154px;
                display         : flex;
                flex-direction  : column;
                align-items     : center;
                justify-content : center;
                top             : 0;
                border-radius   : 5px;

                svg {
                    width  : 110px;
                    height : 110px;
                }

                &.active {
                    border : 3px solid var(--primary);

                    svg {
                        color : var(--primary);
                    }
                }
            }

            .delete-btn {
                position         : absolute;
                right            : -5px;
                top              : -5px;
                padding          : 4px;
                border-radius    : 50px;
                color            : white;
                cursor           : pointer;
                background-color : black;

                svg {
                    width  : 26px;
                    height : 26px;
                }
            }
        }
    }
}

.works-table {
    position  : relative;
    width     : 100%;
    max-width : 510px;

    .works-table-content {
        position : relative;

        .works-table-item {
            display          : flex;
            align-items      : center;
            width            : 100%;
            padding          : 4px 0;
            background-color : var(--content-light);
    
            > div {
                position     : relative;
                padding      : 5px 10px;
                border-right : 2px solid var(--content-x-light);
    
                &:nth-child(1) {
                    width              : 95%;
                    padding-left       : 0;
                    text-overflow      : ellipsis;
                    overflow           : hidden;
                    display            : -webkit-box;
                    line-height        : 22px;
                    -webkit-line-clamp : 1;
                    -webkit-box-orient : vertical;
                }

                &:nth-child(2), &:nth-child(3) {
                    width           : 10%;
                    display         : flex;
                    justify-content : center;
                }

                &:last-child {
                    border : none;
                }

                input {
                    width            : 100%;
                    width            : 80px;
                    background-color : var(--content-x-light);
                }
            }

            &:last-child {
                border-radius : 0 0 5px 5px;
            }
        }
    }

    .searchbar {
        position    : relative;
        display     : flex;
        align-items : center;
        min-width   : 100%;
        padding     : 10px 0;

        .search-input {
            width     : 100%;
            max-width : unset;
            input {
                width : 100%;
            }
        }

        .number-input {
            margin : 0 10px;
        }

        .tools-btn {
            background : var(--primary);
        }

        .auto-complete-container {
            top   : 62px;
            width : 100%;
        }
    }
}










.add-project-card {
    position      : relative;
    width         : 100%;
    padding       : 20px;
    background    : var(--content-light);
    color         : var(--text);
    border-radius : 8px;
    box-shadow    : var(--shadow-lg);

    h2 {
        position      : relative;
        margin-bottom : 20px;
        display       : flex;
        align-items   : center;
        padding       : 0 0 0 22px;

        &:before {
            content       : '';
            position      : absolute;
            width         : 12px;
            height        : 12px;
            left          : 0;
            border-radius : 10px;
            background    : var(--primary);
        }
    }
    .add-img-container {
        display         : flex;
        justify-content : space-around;

        .img-input {
            position : relative;
            height   : 154px;
            width    : 154px;
            opacity  : 0;
            z-index  : 1500;
            cursor   : pointer;
        }

        .img-preview-container {
            display          : flex;
            position         : relative;
            height           : 154px;
            width            : 154px;
            background-color : var(--content-x-light);
            border-radius    : 5px;

            .img-preview {
                position        : absolute;
                height          : 154px;
                width           : 154px;
                display         : flex;
                flex-direction  : column;
                align-items     : center;
                justify-content : center;
                top             : 0;
                border-radius   : 5px;

                svg {
                    width  : 110px;
                    height : 110px;
                }

                &.active {
                    border : 3px solid var(--primary);

                    svg {
                        color : var(--primary);
                    }
                }
            }

            .delete-btn {
                position         : absolute;
                right            : -5px;
                top              : -5px;
                padding          : 4px;
                border-radius    : 50px;
                color            : white;
                cursor           : pointer;
                background-color : black;

                svg {
                    width  : 26px;
                    height : 26px;
                }
            }
        }
    }
}