.project-modal.modal-container {
    position       : fixed;
    display        : flex;
    width          : 700px;
    height         : auto;
    border-radius  : 5px;
    background     : var(--content);
    color          : var(--text-grey);
    font-size      : 14px;
    cursor         : pointer;

    .left {
        position      : relative;
        display       : block;
        width         : 300px;
        height        : auto;
        margin        : 0;
        border-radius : 5px 5px 0 0;

        .action-btn-favorite {
            position    : absolute;
            display     : flex;
            align-items : center;
            bottom      : 5px;
            right       : 0;
            background  : transparent;
            border      : none;
            color       : white;

            svg {
                width  : 16px;
                height : 16px;
            }
        }
    }

    .right {
        padding : 15px 20px;
        height  : 400px;
        width:400px;

        .title {
            padding       : 0 0 10px 0;
            border-bottom : 1px solid var(--body);

            h2 {
                font-size : 14px;
                margin    : 0;
            }

            p {
                margin    : 0;
                font-size : 11px;
                color     : var(--text-grey);
            }
        }

        .top {
            display         : flex;
            justify-content : space-between;
            margin-top      : 5px;

            div {
                max-width   : 150px;
                display     : flex;
                align-items : center;

                span {
                    font-weight : 600;
                    color       : var(--primary);
                }

                svg {
                    margin-right : 5px;
                }
            }

            .under-preparation-status {
                background    : rgba(240, 147, 59, 0.7);
                border        : 1px solid rgb(240, 147, 59);
                font-size     : 12px;
                color         : white;
                padding       : 2px 10px;
                border-radius : 20px;

            }
            .in-progress-status {
                background    : rgba(36, 191, 226, 0.7);
                border        : 1px solid rgb(36, 191, 226);
                font-size     : 12px;
                color         : white;
                padding       : 2px 10px;
                border-radius : 20px;
            }
            .completed-status {
                background    : rgba(13, 155, 13, 0.7);
                border        : 1px solid rgb(13, 155, 13);
                font-size     : 12px;
                color         : white;
                padding       : 2px 10px;
                border-radius : 20px;
            }
        }

        .description {
            margin : 10px 0;
            height : 80px;

            p {
                margin    : 0;
                font-size : 14px;
            }
        }

        .bottom {
            display : flex;

            .pseudo-container {
                min-width       : 40%;
                display         : flex;
                align-items     : center;
                justify-content : flex-end;
                margin-bottom   : 10px;
    
                .avatar {
                    width         : 30px;
                    height        : 30px;
                    border-radius : 4px;
                    margin-right  : 7px;
                }
    
                a {
                    font-weight : 600;
                    line-height : 12px;
                }
    
                p {
                    font-size   : 12px;
                    line-height : 12px;
                    margin      : 0;
                }
            }
    
            .action-container {
                position : relative;
                left     : 0;
                bottom   : 0;
                width    : 100%;
    
                .action {
                    display         : flex;
                    flex-direction  : column;
                    align-items     : flex-start;
                    justify-content : center;
                    padding         : 5px 0;
    
                    p {
                        margin    : 0;
                        font-size : 14px;
                    }
    
                    .likers-modal-btn {
                        display     : flex;
                        align-items : center;

                        span {
                            font-size : 13px;
                        }
    
                        svg {
                            width        : 18px;
                            height       : 18px;
                            margin-right : 8px;
                        }
                    }
                }
            }
        }
    }
}