.project-page {
    .header {
        .header-inner {
            &:before {
                position         : absolute;
                content          : '';
                bottom           : 0;
                width            : 100%;
                left             : 50%;
                transform        : translateX(-50%);
                height           : 60%;
                background-color : var(--x-light);
                border           : 1px solid var(--light-border);
            }

            .header_right-bottom {
                a {
                    display     : flex;
                    align-items : center;
                    font-weight : 600;
                    font-size   : 16px;
                    color       : var(--text);
                    margin-top  : 5px;

                    div {
                        margin-right : 5px;
                    }
                }
            }
    
            .join-btn {
                height           : 48px;
                color            : white;
                font-weight      : 600;
                text-transform   : uppercase;
                font-size        : 14px;
                background-color : var(--primary);
                margin           : 10px 0;
            }
        }
    }

    .action-btn {
        width            : 50%;
        font-weight      : 700;
        border-radius    : var(--radius);
        color            : var(--text-secondary);
        background-color : var(--content-x-light);

        svg {
            width       : 22px;
            height      : 22px;
            margin-left : 10px;
        }

        &.like {
            svg {
                color : var(--red);
            }
        }

        &.follow {
            margin-left : 10px;
            svg {
                color : var(--green);
            }
        }
    }
}

.project-page-body {
    background : var(--content-light);
    .ql-image {
        width  : 100%;
        margin : 30px 0;
    }
    p {
        font-size : 16px;
    }
}

.content-cards {
    position       : sticky;
    top            : 90px;
    overflow-y     : auto;
    padding-bottom : 80px;
    padding-right  : 5px;

    .content-card {
        display          : flex;
        flex-direction   : column;
        padding          : 20px;
        margin-bottom    : 20px;
        border-radius    : var(--radius);
        background-color : var(--content-x-light);
        border           : 1px solid var(--light-border);
        &:hover {
            border : 1px solid var(--primary);
        }

        .card-title {
            display         : flex;
            justify-content : space-between;

            h3 {
                font-size      : 18px;
                text-align     : center;
                font-weight    : 700;
                letter-spacing : 0.5px;
                color          : var(--primary);
            }

            .swiper-button {
                display         : flex;
                align-items     : center;
                justify-content : center;
                height          : 28px;
                width           : 28px;
                padding         : 2px;
                border-radius   : var(--radius);
                box-shadow      : var(--shadow-tiny);
                color           : var(--primary);
                z-index         : 10;
                cursor          : pointer;
                border          : 1px solid var(--primary);
                &:hover {
                    color            : white;
                    background-color : var(--primary);
                }

                svg {
                    width  : 24px;
                    height : 24px;
                }
            }
        }

        .card-body {
            margin-top : 30px;
            h4 {
                font-weight : 600;
            }
        }

        .actuality-slide {
            h4 {
                @include line-clamp(100%, 21px, 2);
                text-align         : center;
                margin-bottom      : 20px;
            }
            > div {
                @include line-clamp(100%, 21px, 5);
            }
        }

        .gallery-slide {
            > div {
                height : 200px;
            }
        }
    }
}

@media(max-width:992px) {
    .content-cards {
        padding-bottom : 0;
        .content-card {
            &.actuality_card, &.qna_card, &.gallery_card {
                display : none;
            }
            &.map_card {
                display    : none;
                margin-top : 20px;
            }
        }
    }
}

.explore-more {
    position   : relative;
    padding    : 20px 10px;
    margin-top : 60px;
    border-top : 1px solid var(--light-border);

    .explore-more-tags {
        display     : flex;
        align-items : center;
        flex-wrap   : wrap;
        padding-top : 20px;

        .tag {
            display       : flex;
            align-items   : center;
            padding       : 5px 10px;
            margin-right  : 10px;
            margin-top    : 10px;
            border-radius : var(--radius);
            color         : var(--text-secondary);
            box-shadow    : var(--shadow-tiny);

            span {
                color        : var(--primary);
                font-weight  : 700;
                font-size    : 18px;
                margin-right : 5px;
            }
        }
    }
}