.project-tags {
    position  : relative;
    display   : flex;
    flex-wrap : wrap;
    padding   : 10px 0;

    > div {
        display     : flex;
        align-items : center;
        margin      : 5px 7px 5px 0;
        color       : var(--text);

        span {
            color : var(--primary);
        }
    }
}