.project-tags {
    position  : relative;
    display   : flex;
    flex-wrap : wrap;
    padding   : 10px 0;

    > div {
        display       : flex;
        align-items   : center;
        margin        : 5px 7px 5px 0;
        border-radius : var(--rounded-sm);
        color         : var(--text);

        span {
            color        : var(--primary);
            font-weight  : 700;
            font-size    : 18px;
        }
    }
}