.profil_container {
    position     : relative;
    width        : 100%;
    height       : auto;
    min-height   : 100%;
    background   : var(--content);
    margin-right : auto;
    margin-left  : auto;

    .header {
        padding-bottom : 20px;
        border-bottom  : 1px solid var(--light-border);
    }

    .networks-item {
        display     : flex;
        align-items : center;
        padding     : 5px 0;

        svg {
            height        : 30px;
            width         : 30px;
            margin-right  : 14px;
            padding       : 7px;
            color         : white;
            border-radius : 3px;
            flex          : 0 0 30px;
        }

        a {
            &:hover {
                color : var(--primary);
            }
        }
    }
}

.profil-page {
    .search_header {
        position        : relative;
        display         : flex;
        align-items     : center;
        justify-content : space-between;

        h2 {
            span {
                font-size   : 18px;
                color       : var(--text-secondary);
                margin-left : 8px;
            }
        }

        .icon-input {
            width     : 40%;
            max-width : unset;
            input {
                width : 100%;
            }
        }
    }

    .profil-page_body {
        width                 : 100%;
        margin-top            : 30px;

        .profil-page_projects {
            display               : grid;
            grid-template-columns : repeat(3, 1fr);
            grid-gap              : 10px;
        }

        .card {
            width : auto;
        }

        .contact_card {
            min-width     : 49.5%;
            padding       : 10px;
            margin-bottom : 10px;
            border        : 1px solid var(--light-border);
            border-radius : var(--rounded-sm);

            .contact_card-left {
                min-height    : 80px;
                min-width     : 80px;
                border-radius : 50%;
            }
            .contact_card-right {
                display         : flex;
                justify-content : space-between;
                align-items     : center;
                padding-left    : 20px;
                width           : 100%;

                .pseudo {
                    font-weight : 600;
                    font-size   : 16px;
                    color       : var(--text);
                }

                p {
                    font-size : 12px;
                    color     : var(--text-secondary);
                }
            }
        }

        .loading-container {
            width   : 100%;
            padding : 50px 0;

            .icon-loading {
                margin  : 0 auto;
            }
        }
    }
}

.secured-email {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    border          : 1px solid var(--light-border);
    padding         : 5px 10px;
    border-radius   : var(--rounded-sm);
    svg {
        margin-right : 5px;
    }
}