.profil_container {
    position     : relative;
    width        : 100%;
    height       : auto;
    min-height   : 100%;
    background   : var(--content);
    margin-right : auto;
    margin-left  : auto;

    .networks-item {
        display     : flex;
        align-items : center;
        padding     : 5px 0;

        svg {
            height        : 30px;
            width         : 30px;
            margin-right  : 14px;
            padding       : 7px;
            color         : white;
            border-radius : 3px;
            flex          : 0 0 30px;
        }

        a {
            &:hover {
                color : var(--primary);
            }
        }
    }
}

.profil-page {
    .search-header {
        position        : relative;
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        width           : 100%;

        h2 {
            span {
                font-size   : 18px;
                color       : var(--text-secondary);
                margin-left : 8px;
            }
        }

        .search-header_inputs {
            display : flex;
            width   : 100%;
        }
    }
}

.profil-page_body {
    width                 : 100%;
    margin-top            : 30px;

    .profil-page_projects {
        display               : grid;
        grid-template-columns : repeat(3, 1fr);
        grid-gap              : 10px;
    }

    .card {
        width : auto;
    }

    .loading-container {
        width   : 100%;
        padding : 50px 0;

        .icon-loading {
            margin  : 0 auto;
        }
    }
}

@media(max-width: 768px) {
    .profil-page {
        .search-header {
            flex-direction : column;
            align-items    : flex-start;
        }
    }
}

@media(max-width: 576px) {
    @media(max-width: 768px) {
        .profil-page {
            .search-header {
                .search-header_inputs {
                    flex-direction : column;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .profil-page_body {
        .profil-page_projects {
            grid-template-columns : repeat(1, 1fr);
            grid-gap              : 15px;
        }
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .profil-page_body {
        .profil-page_projects {
            grid-template-columns : repeat(2, 1fr);
            grid-gap              : 15px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .profil-page_body {
        .profil-page_projects {
            grid-template-columns : repeat(3, 1fr);
            grid-gap              : 10px;
        }
    }
}

.profil-page_contacts {
    display               : grid;
    grid-template-columns : repeat(2, 1fr);
    grid-gap              : 10px;
}

@media(max-width: 1200px) {
    .profil-page_contacts {
        grid-template-columns : repeat(1, 1fr);
        grid-gap              : 10px;
    }
}

.contact_card {
    padding       : 10px;
    background    : var(--x-light);
    border-radius : var(--rounded-md);

    .contact_card-left {
        min-height    : 60px;
        height        : 60px;
        min-width     : 60px;
        width         : 60px;
        border-radius : var(--rounded-full);
    }
    .contact_card-right {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        padding-left    : 20px;
        width           : 100%;

        .pseudo {
            font-weight : 600;
            font-size   : 16px;
            color       : var(--text);
        }

        p {
            font-size : 12px;
            color     : var(--text-secondary);
        }
    }
}

.secured-email {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    border          : 1px solid var(--light-border);
    padding         : 5px 10px;
    border-radius   : var(--rounded-sm);
    svg {
        margin-right : 5px;
    }
}