.profil-img-modal {
    position      : absolute;
    border-radius : 6px;
    background    : var(--color-content);
    width         : auto;
    height        : auto;
    left          : 50%;
    top           : 50%;
    transform     : translate(-50%, -50%);
    display       : none;
    z-index       : 1050;

    .modal-avatar {
        width         : 160px;
        height        : 160px;
        border-radius : 80px;
        margin        : 0 auto;
        top           : 70px;
        left          : 30px;
    }

    .body {
        display        : flex;
        flex-direction : column;
        height         : 100%;

        canvas {
            margin        : 20px auto;
            border-radius : 5px;
        }

        .range-container {
            display     : flex;
            align-items : center;
            width       : 280px;
            margin      : 0 auto;

            label {
                margin : 0 10px 0 0;
                width  : 60px;
            }

            input[type=range] {
                width : 200px;
            }
        }
    }

    .footer {
        position   : relative;
        margin-top : 50px;
        width      : 100%;

        .modal-container-btn {
            display         : flex;
            flex-direction  : row-reverse;
            justify-content : space-between;
            align-items     : center;
            width           : 100%;

            .btn {
                min-width : 100px;
            }
        }
    }
}