.profil-nav {
    display         : flex;
    justify-content : center;
    height          : 60px;
    width           : 100%;
    background      : var(--content);
    border-radius   : 0 0 3px 3px;

    ul {
        position   : relative;
        display    : flex;
        list-style : none;
        margin     : 0;

        li {
            display         : flex;
            height          : 100%;
            min-width       : 80px;
            text-align      : center;
            justify-content : center;
            align-items     : center;
            cursor          : pointer;

            p {
                margin      : 0;
                line-height : 17px;
            }

            a {
                text-decoration : none;
                height          : 100%;
                width           : 100%;
                color           : var(--text);
                display         : flex;
                align-items     : center;
                justify-content : center;
                padding         : 0 7px;
                border-bottom   : 3px solid transparent;

                &:hover {
                    background    : var(--content-light);;
                    border-bottom : 3px solid var(--primary);
                    color         : var(--primary);
                    .svg-icon {

                        path {
                            fill : var(--primary);
                        }
                    }
                }

                &.activeLink {
                    background    : var(--content-light);;
                    border-bottom : 3px solid var(--primary);
                    .svg-icon {
        
                        path {
                            fill : var(--primary);
                        }
                    }
                }
            }
        }
    }
}