.dashboard-about {
    position : relative;
    width    : 100%;
    height   : 100%;
    color    : var(--text);
    background-color : var(--content);

    .dashboard-about-content {
        position  : relative;
        padding   : 10px 20px;
        max-width : 1366px;
        margin    : 0 auto;

        .dashboard-about-content-inner {
            display  : flex;


            .dashboard-about-col {
                width : 50%;
            }
        }
    
        .dashboard-about-content-item {
            padding   : 8px;
            font-size : 16px;

            .label {
                color          : var(--text-secondary);
                font-size      : 14px;
                margin-bottom  : 5px;
                letter-spacing : .5px;
                display        : flex;
                align-items    : center;
            }

            .title {
                margin-right : 15px;
            }

            .content {
                display     : flex;
                align-items : center;
            }

            .content-form {
                position    : relative;
                display     : flex;
                align-items : center;

                .btn-container {
                    display : flex;

                }

                .small-input {
                    width : 300px;
                    input {
                        width : 400px;
                    }
                }
            }
        }
    }
}

.dashboard-about-array {
    position      : relative;
    width         : 100%;

    .dashboard-about-array-header {
        display          : flex;
        align-items      : center;
        width            : 100%;
        padding          : 7px;
        background-color : var(--content-x-light);
        border-radius    : 3px 3px 0 0;

        .dashboard-about-array-header-item {
            font-weight  : 600;
            padding      : 5px 10px 1px;
            border-right : 2px solid var(--border-light);

            &:last-child {
                border : none;
            }

            &:nth-child(1) {
                width : 70%;
            }

            &:nth-child(2), &:nth-child(3) {
                width           : 15%;
                display         : flex;
                justify-content : center;
            }
        }
    }

    .dashboard-about-array-content {
        position : relative;

        .dashboard-about-array-item {
            display          : flex;
            align-items      : center;
            width            : 100%;
            padding          : 7px;
            background-color : var(--content-light);
            border-top       : 2px solid var(--content-x-light);
    
            > div {
                position     : relative;
                padding      : 5px 10px;
                border-right : 2px solid var(--content-x-light);
    
                &:nth-child(1) {
                    width              : 70%;
                    text-overflow      : ellipsis;
                    overflow           : hidden;
                    display            : -webkit-box;
                    -webkit-line-clamp : 1;
                    -webkit-box-orient : vertical;
                }

                &:nth-child(2), &:nth-child(3) {
                    width           : 15%;
                    display         : flex;
                    justify-content : center;
                }

                &:last-child {
                    border : none;
                }

                input {
                    width            : 100%;
                    width            : 80px;
                    background-color : var(--content-x-light);
                }
            }

            &:last-child {
                border-radius : 0 0 3px 3px;
            }
        }

        .dashboard-about-array-picker {
            display         : flex;
            justify-content : flex-start;
            position        : relative;
            padding         : 10px 0;

            .searchbar {
                position:relative;
                display     : flex;
                align-items : center;
                width       : 60%;

                .search-input {
                    width : 100%;
                }

                .number-input {
                    width  : 134px;
                    margin : 0 10px;
                }

                .tools-btn {
                    background : var(--primary);
                }
            }

            .auto-complete-container {
                top    : unset;
                bottom : 62px;
            }
        }
    }
}