.actuality-container {
    width   : 100%;
    height  : auto;
    padding : 15px 0;

    .actuality-content {
        width         : 100%;
        height        : auto;
        margin-bottom : 20px;
        padding       : 25px;
        background    : var(--x-light);
        cursor        : pointer;

        .actuality-header {
            padding-bottom : 20px;
            border-bottom  : 1px solid var(--light-border);

            .actuality-nb {
                color : var(--text-secondary);
            }

            h3 {
                font-size : 26px !important;
                padding   : 5px 0 20px;
            }

            .actuality-infos {
                display : flex;

                .actuality-infos-right {
                    .actuality-poster {
                        display     : flex;
                        align-items : center;

                        span {
                            font-size     : 12px;
                            padding       : 2px 5px;
                            background    : var(--light-blue);
                            color         : white;
                            border-radius : var(--rounded-sm);
                            margin-left   : 8px;
                        }
                    }

                    .date {
                        font-size  : 12px;
                        color      : var(--text-secondary);
                        margin-top : 2px;
                    }
                }
            }
        }

        .actuality-img {
            position : relative;
            width    : 35%;
            z-index  : 1;

            img {
                position      : absolute;
                top           : 0;
                left          : 0;
                height        : 100%;
                width         : 100%;
                object-fit    : cover;
                border-radius : var(--rounded-sm);
            }
        }

        .actuality-description {
            position : relative;
            width    : 100%;
            height   : auto;
            padding  : 20px 0;

            p {
                text-overflow      : ellipsis;
                overflow           : hidden;
                width              : 100%;
                line-height        : 26px;
                font-size          : 16px;
                display            : -webkit-box;
                -webkit-line-clamp : 4;
                -webkit-box-orient : vertical;
                text-align         : justify;
                margin-top         : 10px;
            }

            &.before {
                &:before {
                    position   : absolute;
                    bottom     : 0;
                    content    : '';
                    height     : 100px;
                    width      : 100%;
                    background : linear-gradient(to top, var(--x-light) 0%, rgba(0, 0, 0, 0) 100%);
                    z-index    : 2;
                }
            }
        }
    }
}



.actuality-page-container {
    .actuality-content {
        width         : 100%;
        height        : auto;
        margin-bottom : 20px;
        cursor        : pointer;
    
        .actuality-header {
            padding-bottom : 20px;
            border-bottom  : 1px solid var(--light-border);
    
            .actuality-nb {
                color : var(--text-secondary);
            }
    
            h3 {
                font-size : 26px !important;
                padding   : 5px 0 20px;
            }
    
            .actuality-infos {
                display : flex;
    
                .actuality-infos-right {
                    .actuality-poster {
                        display     : flex;
                        align-items : center;
    
                        span {
                            font-size     : 12px;
                            padding       : 2px 5px;
                            background    : var(--light-blue);
                            color         : white;
                            border-radius : var(--rounded-sm);
                            margin-left   : 8px;
                        }
                    }
    
                    .date {
                        font-size  : 12px;
                        color      : var(--text-secondary);
                        margin-top : 2px;
                    }
                }
            }
        }
    
        .actuality-description {
            position : relative;
            width    : 100%;
            height   : auto;
            padding  : 20px 0;
    
            p {
                line-height        : 28px;
                font-size          : 16px;
                margin-top         : 10px;
            }
        }

        .actuality-img-container {
            display    : flex;
            margin-top : 20px;

            > div {
                width  : 33.333%;
                height : 200px;
                
                &:nth-child(2) {
                    margin : 0 10px;
                }
            }
        }
    }
}