.home-activity-feed {
    position      : relative;
    padding       : 12px 12px 18px;
    background    : var(--content-light);
    color         : var(--text);
    border-radius : var(--radius);
    min-height    : 150px;
    max-height    : 470px;

    .home-activity-feed-header {
        position        : relative;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        padding         : 6px 12px;
        margin-bottom   : 8px;
        border-bottom   : 1px solid rgba(var(--primary-rgb), 0.5);

        h2 {
            span {
                margin-left : 8px;
                font-size   : 16px;
                color       : var(--text-tertiary);
            }
        }
    }

    .home-activity-feed-container {
        padding    : 0 12px;
        max-height : 380px;
        overflow-y : auto;

        .home-activity-feed-item {
            position : relative;
            padding  : 12px 0;
    
            .activity-date {
                display       : flex;
                align-items   : center;
                margin-bottom : 15px;
                padding-left  : 32px;
                font-weight   : 600;

                &:before {
                    content          : '';
                    position         : absolute;
                    left             : 11px;
                    width            : 10px;
                    height           : 10px;
                    border-radius    : 10px;
                    background-color : var(--primary);
                }
            }
    
            .home-activity-feed-item-inner {
                position      : relative;
                display       : flex;
                margin-bottom : 10px;
    
                &:before {
                    content          : '';
                    position         : absolute;
                    top              : -22px;
                    left             : 5px;
                    width            : 24px;
                    height           : 2px;
                    background-color : var(--light-border);
                    transform        : rotate(90deg);
                }

                &.no-before {
                    &:before {
                        content : none;
                    }
                }
    
                .activity-hour {
                    display     : flex;
                    align-items : center;
                    width       : 35px;
                    font-size   : 12px;
                    
                }
    
                .activity-content {
                    display     : flex;
                    align-items : center;
    
                    div {
                        display     : flex;
                        align-items : center;
    
                        p {
                            color              : var(--text-secondary);
                            width              : 100%;
                            text-overflow      : ellipsis;
                            overflow           : hidden;
                            display            : -webkit-box;
                            -webkit-line-clamp : 1;
                            -webkit-box-orient : vertical;
    
                            span {
                                font-weight : 500;
                                color       : var(--text);
                            }
                        }
    
                        svg {
                            min-width     : 38px;
                            min-height    : 38px;
                            margin        : 0 15px;
                            padding       : 7px;
                            border-radius : 20px;
                            color         : var(--blue);
                            background    : rgba(var(--blue-rgb), 0.3);
                        }
                    }
                }
            }
        }

        .empty-array {
            display         : flex;
            align-items     : center;
            justify-content : center;
            padding         : 20px 35px;
            color           : var(--text);
            font-size       : 18px;

            span {
                text-transform : lowercase !important;
            }

            svg {
                width        : 30px;
                height       : 30px;
                margin-right : 20px;
            }
        }
    }
}