.dashboard-header {
    position   : relative;
    width      : 100%;
    background : var(--light);

    .dashboard-header-top {
        position        : relative;
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        margin-top      : 7px;

        .dashboard-header_left {
            display     : flex;
    
            .dashboard-header-img {
                height        : 48px;
                width         : 48px;
                border-radius : var(--rounded-md);
            }
    
            .dashboard-header-content {
                padding : 0 15px;
    
                h1 {
                    font-size     : 18px !important;
                    line-height   : 18px;
                    color         : var(--text);
                    margin-bottom : 5px;
                }

                .dashboard-header-content-infos {
                    .infos {
                        display      : flex;
                        align-items  : center;
                        font-size    : 13px;
                        line-height  : 22px;
                        color        : var(--text-secondary);
                        margin-right : 20px;

                        svg {
                            margin-right : 7px;
                            color        : var(--text-tertiary);
                        }
                    }
                }
            }
        }
    
        .dashboard-header_right {
            display : flex;
    
        }
    }
    

    .dashboard-header_navbar {
        position         : relative;
        width            : 100%;
        background-color : var(--content-x-light);
        
        .dashboard-header_navbar-content {
            display         : flex;
            align-items     : center;
            justify-content : flex-start;
            margin          : 0 auto;
            max-width       : 1366px;

            .dashboard-header_navbar-item {
                padding   : 10px 30px 10px 0;
                font-size : 16px;
                color     : var(--text-tertiary);
                cursor    : pointer;

                a {
                    &:hover {
                        color : var(--text-tertiary);
                    }
    
                    &.active {
                        color : var(--primary);
                    }
                }
            }
        }
    }

    .dashboard-breadcrumb {
        position    : relative;
        display     : flex;
        align-items : center;
        width       : 100%;
        padding     : 0 0 10px;
        color       : var(--text-secondary);
        font-size   : 12px;

        .crumb {
            display     : flex;
            align-items : center;

            svg {
                color  : var(--primary);
                margin : 0 5px;
            }
        }
    }
}