.dashboard-header {
    width           : 100%;
    padding         : 10px 24px 16px;
    background      : var(--content-light);

    .dashboard-header-top {
        display         : flex;
        align-items     : center;
        justify-content : space-between;

        .dashboard-header-left {
            display     : flex;
            align-items : center;
    
            .dashboard-header-img {
                height        : 48px;
                width         : 48px;
                border-radius : 30px;
            }
    
            .dashboard-header-content {
                padding : 0 32px;
    
                h1 {
                    font-size     : 20px;
                    margin-bottom : 2px;
                    color         : var(--text);
                }

                .dashboard-header-content-infos {
                    display : flex;
                    align-items : center;

                    .infos {
                        display      : flex;
                        align-items  : center;
                        font-size    : 13px;
                        color        : var(--text-secondary);
                        margin-right : 20px;

                        svg {
                            margin-bottom : 2px;
                            margin-right  : 3px;
                            color         : var(--text-tertiary);
                        }
                    }
                }
            }
        }
    
        .dashboard-header-right {
            display : flex;
    
        }
    }

    .dashboard-breadcrumb {
        position    : relative;
        display     : flex;
        align-items : center;
        width       : 100%;
        padding     : 0 0 16px;
        color       : var(--text-secondary);
        font-size   : 12px;

        .crumb {
            display     : flex;
            align-items : center;

            svg {
                color  : var(--primary);
                margin : 0 5px;
            }
        }
    }
}