.dashboard-members-title {
    display         : flex;
    justify-content : space-between;
    align-items     : center;

    span {
        font-size   : 18px;
        margin-left : 5px;
        color       : var(--text-tertiary);
    }
}

.dashboard-members-tools {
    position      : relative;
    display       : flex;
    padding       : 20px 0 4px;
    margin-bottom : 12px;
}

.dashboard-members-table-header {
    position        : relative;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    margin          : 12px 0 8px;
    border-radius   : var(--radius);
    background      : var(--footer);
    border          : 1px solid var(--light-border);

    .dashboard-members-table-tools {
        display       : flex;
        align-items   : center;
        padding       : 10px 20px;
        width         : 25%;
        cursor        : pointer;
        border-radius : var(--radius);

        &:hover {
            background : var(--content-x-light);
        }

        svg {
            margin-left : 10px;
        }
    }
}

.dashboard-members-member {
    position        : relative;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    border-bottom   : 1px solid var(--light-border);

    .dashboard-members-infos {
        display     : flex;
        align-items : center;
        padding     : 10px 20px;
        width       : 25%;
    }
}

.member-requests {
    position : relative;
    padding  : 12px 0;

    .member-request {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        padding         : 12px 0;
        
        .member-requests-left {
            display     : flex;
            align-items : center;
    
            .member-requests-pseudo {
                font-size : 18px;
            }
    
            .member-requests-details {
                font-size : 13px;
                color     : var(--text-tertiary);
            }
        }
    }

    .empty-requests {
        display         : flex;
        align-items     : center;
        justify-content : center;
        padding         : 0 8px;
        color           : var(--text);
        font-size       : 14px;

        svg {
            width        : 30px;
            height       : 30px;
            margin-right : 20px;
        }
    }
}

.home-members {
    position      : relative;
    padding       : 12px 12px 18px;
    min-height    : 150px;
    max-height    : 470px;
    background    : var(--content);
    color         : var(--text);
    border-radius : var(--radius);
    border        : 1px solid var(--light-border);

    .home-members-header {
        position        : relative;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        padding         : 6px 12px;
        margin-bottom   : 8px;
        border-bottom   : 2px solid var(--content-x-light);

        h2 {
            span {
                display          : inline-block;
                vertical-align   : middle;
                font-size        : 14px;
                padding          : 3px 8px 2px;
                margin-left      : 8px;
                border-radius    : 5px;
                background-color : var(--content-x-light);
            }
        }
    }

    .home-members-container {
        padding    : 0 12px;
        max-height : 380px;
        overflow-y : auto;

        .home-members-member {
            position        : relative;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            padding         : 10px 0;
    
            .home-members-infos {
                display     : flex;
                align-items : center;
                width       : 25%;
    
                .home-members-infos-name {
    
                    .role {
                        font-size : 12px;
                        color     : var(--text-tertiary);
                    }
                }
            }
        }
    }
}

.add-members-modal {
    width : 450px;
}