.dashboard-projects-header {
    position   : relative;
    width      : 100%;
    padding    : 20px 0;
    background : var(--xx-light);

    .dashboard-projects-header-top {
        position : relative;
        width    : 100%;
        padding  : 0 0 20px;

        h1 {
            span {
                font-size     : 20px;
                color         : var(--text-secondary);
                margin-left   : 10px;
                background    : var(--content-x-light);
                padding       : 1px 6px 0;
                border-radius : var(--radius);
            }
        }
    }

    .dashboard-projects-header-bottom {
        display         : flex;
        align-items     : center;
        justify-content : space-between;

        .dashboard-projects-header-bottom-left {
            position     : relative;
            width        : 70%;
            margin-right : 20px;
        }

        .dashboard-projects-header-bottom-right {
            position : relative;
            width    : 30%;
        }
    }
}

.dashboard-projects-tools {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    margin-bottom   : 30px;

    > div {
        display : flex;
        
        .infos {
            padding       : 5px 15px;
            border-radius : var(--radius);
            width         : auto;

            &.blue {
                background-color : rgba(var(--light-blue-rgb), 0.3);
                color            : var(--light-blue);
            }

            &.green {
                background-color : rgba(var(--green-rgb), 0.3);
                color            : var(--green);
            }
        }
    }
}

.project-card {
    position      : relative;
    display       : flex;
    width         : 100%;
    max-height    : 400px;
    margin-bottom : 20px;
    background    : var(--content-light);
    border-radius : var(--radius);
    box-shadow    : var(--shadow-tiny);

    .project-picture {
        position       : relative;
        width          : 25%;
        z-index        : 1;

        img {
            position      : absolute;
            top           : 0;
            left          : 0;
            height        : 100%;
            width         : 100%;
            object-fit    : cover;
            border-radius : var(--radius) 0 0 var(--radius);
        }
    }

    .project-card-content {
        position : relative;
        padding  : 10px 20px;
        width    : 75%;

        .project-card-content-top {
            .project-title {
                display         : flex;
                align-items     : center;
                justify-content : space-between;

                h2 {
                    text-overflow      : ellipsis;
                    overflow           : hidden;
                    width              : 75%;
                    font-size          : 18px;
                    line-height        : 24px;
                    display            : -webkit-box;
                    -webkit-line-clamp : 1;
                    -webkit-box-orient : vertical;
                    margin-bottom      : 2px;
                }

                .state {
                    padding       : 2px 12px;
                    border-radius : var(--radius);
                    font-size     : 14px;

                    &.orange {
                        background : rgba(var(--orange-rgb), 0.2);
                        color      : var(--orange);
                    }
                    &.blue {
                        background : rgba(var(--light-blue-rgb), 0.2);
                        color      : var(--light-blue);
                    }
                    &.green {
                        background : rgba(var(--green-rgb), 0.2);
                        color      : var(--green);
                    }
                }
            }

            .location {
                font-size   : 14px;
                color       : var(--text-secondary);
                line-height : 22px;
            }
        }

        .project-card-content-infos {
            display         : flex;
            align-items     : center;
            padding         : 8px 0;

            .contributors {
                display      : flex;
                align-items  : center;
                margin-right : 10px;

                p {
                    margin-left : 6px;
                }
            }
        }

        .description {
            font-size          : 14px;
            padding            : 8px 0;
            text-align         : justify;
            height             : 90px;
            text-overflow      : ellipsis;
            overflow           : hidden;
            width              : 100%;
            line-height        : 21px;
            display            : -webkit-box;
            -webkit-line-clamp : 4;
            -webkit-box-orient : vertical;
            color              : var(--text-secondary);
        }
    }
}