.dashboard-projects-header {
    position   : relative;
    width      : 100%;
    padding    : 20px 0;
    background : var(--light);
    z-index    : 2;

    .dashboard-projects-header-top {
        position : relative;
        width    : 100%;
        padding  : 0 0 20px;

        h1 {
            font-size   : 22px;
            font-weight : 400;
            span {
                font-size   : 18px;
                color       : var(--text-secondary);
                margin-left : 10px;
            }
        }
    }
}

.dashboard-projects-tools {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    margin-bottom   : 30px;

    > div {
        display : flex;
        
        button {
            padding       : 10px 20px;
            border-radius : var(--rounded-sm);
            background    : var(--content-x-light);
            margin        : 0 3px;
            font-weight   : 500;
            span {
                color       : var(--text-secondary);
                margin-left : 5px;
                font-weight : 400;
            }
        }
    }
}

.project-card {
    position      : relative;
    display       : flex;
    width         : 100%;
    padding       : 20px 0;
    border-radius : var(--rounded-sm);
    border-bottom : 1px solid var(--light-border);

    &:last-child {
        border : none;
    }

    .project-picture {
        position       : relative;
        width          : 25%;
        z-index        : 1;

        img {
            position      : absolute;
            top           : 0;
            left          : 0;
            height        : 100%;
            width         : 100%;
            object-fit    : cover;
            border-radius : var(--rounded-md);
        }
    }

    .project-card-content {
        position : relative;
        padding  : 10px 20px;
        width    : 75%;

        .project-card-content-top {
            position : relative;

            h2 {
                width         : 75%;
                line-height   : 30px;
                margin-bottom : 6px;
                font-size     : 20px;
            }

            h3 {
                width         : 75%;
                font-size     : 14px;
                font-weight   : 400;
                color         : var(--text-secondary);
                margin-bottom : 10px;
            }

            .state {
                position      : absolute;
                top           : 0;
                right         : 0;
                padding       : 4px 14px;
                border-radius : var(--rounded-sm);
                font-size     : 14px;

                &.orange {
                    background : rgba(var(--orange-rgb), 0.2);
                    color      : var(--orange);
                }
                &.blue {
                    background : rgba(var(--light-blue-rgb), 0.2);
                    color      : var(--light-blue);
                }
                &.green {
                    background : rgba(var(--green-rgb), 0.2);
                    color      : var(--green);
                }
            }

            .infos_field {
                display     : flex;
                align-items : center;
                font-size   : 14px;
                line-height : 24px;
                color       : var(--text-secondary);
                svg {
                    margin-right : 5px;
                    color        : var(--text);
                }
            }
        }

        .description {
            font-size          : 14px;
            padding            : 8px 0;
            text-align         : justify;
            max-height         : 90px;
            text-overflow      : ellipsis;
            overflow           : hidden;
            width              : 90%;
            line-height        : 24px;
            display            : -webkit-box;
            -webkit-line-clamp : 4;
            -webkit-box-orient : vertical;
            color              : var(--text-secondary);
        }

        .project-tags {
            padding : 0;
            .tag {
                color : var(--text-secondary);
            }
        }
    }
}