.add-qna {

    .qna-form {
        padding       : 20px 0;
        border-bottom : 1px solid var(--light-border);
    }

    .btn-container {
        padding         : 20px 0;
        justify-content : space-between;
    }
}

.qna-accordion {
    width         : 100%;
    height        : auto;
    margin-bottom : 20px;

    .qna-accordion-question {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        padding         : 10px 0;
        font-size       : 20px;
        font-weight     : 500;
    }

    .qna-accordion-answer {
        padding    : 10px 0;
        color      : var(--text-secondary);
        text-align : justify;
    }
}