.dashboard-tasks {
    width      : auto;
    height     : 100%;
    padding    : 24px;
    background : var(--content);
    color      : var(--text);

    .dashboard-tasks-container {
        width     : 100%;
        max-width : 1440px;
        padding   : 0 50px;
        margin    : 0 auto;

        .dashboard-tasks-header {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
    
            .dashboard-tasks-header-left {
                display     : flex;
                align-items : center;
    
                .dashboard-tasks-nav {
                    display     : flex;
                    margin-left : 28px;
                    font-size   : 15px;
        
                    .dashboard-tasks-nav-item {
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        width           : 75px;
                        padding         : 8px 0;
                        background      : var(--content-light);
                        cursor          : pointer;
        
                        &:nth-child(1) {
                            border-radius : 5px 0 0 5px;
                        }
                        &:nth-child(2) {
                            border-radius : 0 8px 8px 0;
                        }
        
                        &.active {
                            background-color : rgba(var(--primary-rgb), 0.6);
                        }
                    }
                }
            }
        }
    
        .tasklist-nav {
            position    : relative;
            display     : flex;
            align-items : center;
            margin      : 20px auto;
            max-width   : 1440px;
    
            .tasklist-nav-item {
                display         : flex;
                justify-content : center;
                align-items     : center;
                width           : auto;
                padding         : 3px 16px 2px;
                height          : 36px;
                background      : var(--content-x-light);
                cursor          : pointer;
    
                &.active {
                    background : rgba(var(--primary-rgb), 0.7);
                }
    
                &:nth-child(1) {
                    border-radius : 5px 0 0 5px;
                }
                &:nth-child(4) {
                    border-radius : 0 5px 5px 0;
                }
            }
        }
    
        .details {
            display         : flex;
            align-items     : center;
            justify-content : center;
            height          : 30px;
            width           : 90px;
            font-size       : 12px;
            padding         : 7px 10px 5px;
            border-radius   : 3px;
    
            &.blue {
                background : rgba(var(--blue-rgb), 0.2);
                color      : var(--blue);
            }
            &.red {
                background : rgba(var(--red-rgb), 0.2);
                color      : var(--red);
            }
            &.orange {
                background : rgba(var(--orange-rgb), 0.2);
                color      : var(--orange);
            }
            &.green {
                background : rgba(var(--green-rgb), 0.2);
                color      : var(--green);
            }
        }
    
        .tasklist-table {
            margin     : 5px auto 0;
            transition : 0.5s ease;
            max-height : 1000px;
            max-width  : 1440px;
    
            .tasklist-table-header {
                display          : flex;
                justify-content  : space-between;
                align-items      : center;
                width            : 100%;
                padding          : 13px 35px 10px;
                background-color : var(--content-light);
                border-radius    : 5px;
                cursor           : pointer;
    
                p {
                    font-size      : 18px;
                    text-transform : uppercase;
                    width          : 105px;
                }
    
                span {
                    margin-left : 10px;
                    color       : var(--text-tertiary);
                }
    
                &:hover {
                    background-color : var(--content-x-light);
                }
            }
    
            &.closed {
                max-height : 50px;
                overflow-y : hidden;
                transition : 0.5s;
            }
    
            .tasklist-table-item {
                position        : relative;
                display         : flex;
                justify-content : space-between;
                align-items     : center;
                padding         : 12px;
                cursor          : pointer;
                border-radius   : 5px;
    
                &:hover {
                    background-color : var(--content-x-light);
                }
                
                .tasklist-table-item-left {
                    display     : flex;
                    align-items : center;
                    width       : 100%;
                }
            }
        }
    
        .empty-array {
            display         : flex;
            align-items     : center;
            justify-content : flex-start;
            padding         : 20px 35px;
            color           : var(--text);
            font-size       : 18px;
    
            span {
                text-transform : lowercase !important;
            }
    
            svg {
                width        : 30px;
                height       : 30px;
                margin-right : 20px;
            }
        }
    }
}

.home-tasks {
    position      : relative;
    min-height    : 150px;
    padding       : 12px 12px 18px;
    background    : var(--content);
    color         : var(--text);
    border-radius : var(--radius);

    .home-tasks-header {
        position        : relative;
        padding         : 6px 12px 0;
        margin-bottom   : 8px;

        .home-tasks-nav-header-top {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            margin-bottom   : 10px;
        }

        h2 {
            span {
                display          : inline-block;
                vertical-align   : middle;
                font-size        : 14px;
                padding          : 3px 8px 2px;
                margin-left      : 8px;
                border-radius    : 5px;
                background-color : var(--content-x-light);
            }
        }

        .home-tasks-nav {
            display     : flex;
            font-size   : 12px;

            .home-tasks-nav-item {
                display         : flex;
                justify-content : center;
                align-items     : center;
                width           : auto;
                height          : 36px;
                padding         : 3px 12px 2px;
                background      : var(--content-x-light);
                cursor          : pointer;

                &.active {
                    background : rgba(var(--primary-rgb), 0.7);
                }

                &:nth-child(1) {
                    border-radius: 5px 0 0 5px;
                }

                &:nth-child(4) {
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }

    .home-tasks-container {
        padding    : 0 12px;
        max-height : 380px;
        overflow-y : auto;

        .home-tasks-task {
            position        : relative;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            padding         : 10px 0;

            .home-tasks-task-content {
                display     : flex;
                align-items : center;
                width       : 100%;

                .home-tasks-task-content-inner {
                    display         : flex;
                    align-items     : center;
                    justify-content : space-between;
                    width           : 100%;
                    padding-right   : 5px;

                    .title {
                        margin-top         : 3px;
                        font-size          : 14px;
                        text-overflow      : ellipsis;
                        overflow           : hidden;
                        width              : 100%;
                        line-height        : 19px;
                        display            : -webkit-box;
                        -webkit-line-clamp : 1;
                        -webkit-box-orient : vertical;
                    }
                }
            }

            .details {
                display         : flex;
                align-items     : center;
                justify-content : center;
                height          : 30px;
                width           : 64px;
                font-size       : 12px;
                padding         : 7px 5px 5px;
                border-radius   : 5px;
        
                &.blue {
                    background : rgba(var(--blue-rgb), 0.2);
                    color      : var(--blue);
                }
                &.red {
                    background : rgba(var(--red-rgb), 0.2);
                    color      : var(--red);
                }
                &.orange {
                    background : rgba(var(--orange-rgb), 0.2);
                    color      : var(--orange);
                }
                &.green {
                    background : rgba(var(--green-rgb), 0.2);
                    color      : var(--green);
                }
            }
        }
    }
}

.create-task-modal {
    width : 500px;
}