.conversation-bottom {
    position     : relative;
    padding      : 10px;
    background   : var(--content-x-light);

    .auto-complete-container {
        bottom    : 100%;
        width     : auto;
        min-width : 280px;

        &.mention, &.emojis {
            max-width  : 320px;
            background : var(--content-x-light);
        }
    }
}

.conversation-toolsbox {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    border          : 2px solid var(--light-border);
    background      : var(--content-x-light);
    box-shadow      : rgb(35 34 33 / 17%) 0px 0 2px 0px;
    border-radius   : var(--rounded-sm);

    &:focus-within,
    &.active {
        border : 2px solid var(--primary);
    }

    .message-text-tools {
        position        : relative;
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        width           : 100%;
        padding         : 3px 5px;
        background      : var(--content-x-light);
    
        .text-tools-left {
            display     : flex;
            align-items : center;

            .tools-group {
                position    : relative;
                display     : flex;
                align-items : center;
                padding     : 0 5px;

                &:before {
                    content          : '';
                    position         : absolute;
                    left             : 0;
                    top              : 50%;
                    transform        : translateY(-50%);
                    width            : 1px;
                    height           : 15px;
                    background-color : var(--light-border);
                }
            }
    
            .text-tools {
                position        : relative;
                display         : flex;
                align-items     : center;
                justify-content : center;
                width           : unset;
                height          : unset;
                padding         : 3px;
                margin          : 0 2px;
                border-radius   : var(--rounded-sm);
    
                &:hover {
                    background : var(--x-light);
                }
    
                svg {
                    width  : 14px;
                    height : 14px;
                }

                &.files-upload {
                    input {
                        position : absolute;
                        width    : 100%;
                        height   : 100%;
                        opacity  : 0;
                        font-size: 0;
                        cursor   : pointer;
                    }
                }
            }
        }

        .menu-tools-btn {
            padding       : 1px;
            margin-right  : 6px;
            border-radius : 50%;

            svg {
                width      : 18px;
                height     : 18px;
                transition : .1s ease;
            }

            &:hover {
                background : var(--xx-light);
            }

            &.active {
               svg {
                   transform  : rotate(45deg);
                   transition : .1s ease;
               } 
            }
        }

        .message-text-tools-menu {
            position      : absolute;
            left          : 0;
            bottom        : 30px;
            left          : -10px;
            width         : 250px;
            height        : 250px;
            padding       : 10px;
            background    : var(--xx-light);
            border        : 2px solid var(--light-border);
            border-radius : var(--rounded-sm);
            box-shadow    : rgb(35 34 33 / 17%) 0px 0 2px 0px;
        }
        
        .text-tools-right {
            display     : flex;
            align-items : center;
    
            .send-tool {
                padding          : 4px 8px;
                border-radius    : 5px;
                background-color : var(--primary);
                color            : white;
                &:disabled {
                    opacity: 0.5;
                }
            }
        
            .save-tool {
                font-size        : 12px;
                padding          : 4px 8px;
                border-radius    : 3px;
                background-color : var(--primary);
                color            : white;

                &:disabled {
                    opacity : 0.5;
                }
            }

            .cancel-tool {
                font-size     : 12px;
                padding       : 4px 8px;
                margin-right  : 7px;
                border        : 1px solid var(--light-border);
                border-radius : 3px;
            }
        }
    
        .emoji-picker-container {
            position : absolute;
            right    : 0;
            bottom   : 70px;
        }
    }
}

@media (max-width:768px) {
    .conversation-bottom {
        padding : 10px 0 0 0;
        border-radius : 10px 10px 0 0;

        .conversation-toolsbox {
            border-radius : 10px 10px 0 0;
            border        : none;

            .message-text-tools {
                background : var(--content-x-light);
                padding: 5px 5px;

                .text-tools-left {

                    .text-tools {
                        height : 26px;
                        width  : 31px;

                        svg {
                            width  : 17px;
                            height : 17px;
                        }
                    }
                }

                .menu-tools-btn {

                    svg {
                        width  : 20px;
                        height : 20px;
                    }
                }
            }
        }

        .auto-complete-container {
            &.mention, &.emojis {
                width  : 100%;
                bottom : 40px;
            }
        }
    }
}