.messenger {
    height  : (calc(100vh - 60px));
    display : flex;

    .conversation-menu {
        flex : 3.5;

        .conversation-menu-input {
            width         : 100%;
            padding       : 10px;
            border        : none;
            background    : var(--color-content);
            margin-bottom : 10px;
            border-radius : 5px;
        }

        .conversation {
            display       : flex;
            align-items   : center;
            padding       : 10px;
            cursor        : pointer;
            border-radius : 5px;
            border-bottom : 1px solid rgb(57, 57, 57);

            &:hover {
                background : rgb(44, 43, 43);
            }

            &.new-notification {
                border : 1px solid $primary-color;
            }
            
            .conversation-img-container {
                display      : flex;
                position     : relative;
                height       : 36px;
                margin-right : 10px;

                .conversation-img {
                    min-width     : 36px;
                    min-height    : 36px;
                    border-radius : 20px;
    
                    &:nth-child(n+2) {
                        margin-left : -20px;
                    }
                }
            }

            .conversation-infos {
                width : 100%;

                .conversation-infos-top {
                    display         : flex;
                    justify-content : space-between;

                    .conversation-name {
                        display : flex;
                    }
        
                    .conversation-date {
                        font-size : 12px;
                    }
                }
    
                .last-message-wrapper {
                    margin    : 0px;
                    font-size : 12px;
    
                }
            }
        }
    }

    .conversation-box {
        flex : 5.5;

        .conversation-box-wrapper {
            display        : flex;
            flex-direction : column;
            height         : 100%;

            .conversation-box-top {
                position        : relative;
                display         : flex;
                justify-content : space-between;
                height          : 60px;
                background      : var(--color-content);

                .conversation-box-members {
                    display     : flex;
                    align-items : center;
                    margin-left : 20px;
            
                    .conversation-img-container {
                        display      : flex;
                        position     : relative;
                        height       : 36px;
                        margin-right : 10px;
        
                        .conversation-img {
                            min-width     : 36px;
                            min-height    : 36px;
                            border-radius : 20px;
            
                            &:nth-child(n+2) {
                                margin-left : -20px;
                            }
                        }
                    }
                }

                .conversation-box-menu {
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    width           : 50px;
                    height          : 100%;

                    svg {
                        height : 25px;
                        width  : 25px;
                    }
                }

                .conversation-tools {
                    position      : absolute;
                    top           : 50px;
                    right         : 0;
                    width         : 200px;
                    background    : var(--color-content);
                    padding       : 10px 0;
                    border-radius : 5px;

                    button {
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        font-size       : 14px;
                        height          : 30px;
                        width           : 100%;
                        border          : none;
                        background      : transparent;
                        color           : var(--text-color);

                        svg {
                            margin-right : 10px;
                        }
                    }
                }
            }

            .conversation-box-container {
                position   : relative;
                height     : 100%;
                overflow-y : auto;
                padding    : 0 10px;
                background : var(--color-content-light);

                .is-typing {
                    position      : absolute;
                    bottom        : 0;
                    font-size     : 14px;
                    padding       : 5px 10px;
                    background    : rgba($primary-color, 0.6);
                    color         : white;
                    border-radius : 5px;

                    svg {
                        max-height : 13px;
                        width      : 65px;
                    }
                }
            }
        }

        .message {
            position      : relative;
            display       : flex;
            padding       : 5px 10px;
            width         : 100%;
            border-radius : 5px;

            &:hover {
                background : var(--color-content);
            }

            .message-left {
                display     : flex;
                padding-top : 3px;

                .message-img {
                    width         : 32px;
                    height        : 32px;
                    border-radius : 5px;
                    margin-right  : 10px;
                }
            }

            .message-right {
                position : relative;

                .message-right-top {
                    display       : flex;
                    align-items   : flex-end;
                    margin-bottom : 3px;

                    .message-sender {
                        margin-right : 7px;
                        font-weight  : 500;
                    }

                    .time-ago {
                        font-size : 12px;
                    }
                }

                .message-text {
                    margin : 0 0 5px 0;
                    width  : 100%;
                    color  : white;
                }

                .emoji-container {
                    display : flex;

                    .emoji {
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        width           : 35px;
                        height          : 26px;
                        margin-right    : 5px;
                        border-radius   : 15px;
                        background      : rgba($primary-color, 0.45);
                        border          : 1px solid $primary-color;
                    }
                    .emoji-add {
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        width           : 35px;
                        height          : 26px;
                        margin-right    : 5px;
                        border-radius   : 15px;
                        background      : var(--color-body);
                        cursor          : pointer;
                    }
                }
            }

            .message-actions {
                display       : flex;
                position      : absolute;
                right         : 0;
                top           : -10px;
                padding       : 5px 10px;
                border-radius : 5px;
                background    : var(--color-body);
                cursor        : pointer;

                .message-actions-btn {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    padding         : 5px;
                    margin          : 0 5px;
                    border-radius   : 5px;

                    svg {
                        width  : 14px;
                        height : 14px;
                    }

                    &:hover {
                        background : var(--color-content);
                    }
                }

                .message-tools-menu {
                    position       : absolute;
                    right          : 0;
                    top            : -75px;
                    display        : flex;
                    flex-direction : column;
                    background     : var(--color-body);
                    padding        : 5px;

                    button {
                        width         : 100%;
                        background    : transparent;
                        border-radius : 5px;
                        padding       : 5px 10px;
                        border        : none;
                        color         : white;
                        font-size     : 14px;
                    }
                }
            }
        }

        .conversation-bottom {
            position        : relative;
            padding         : 10px 0;
            display         : flex;
            align-items     : center;
            justify-content : space-between;

            .conversation-input {
                width      : 500px;
                min-height : 40px;
                padding    : 10px;
                border     : none;
                outline    : none;
            }

            .emoji-picker-container {
                position : absolute;
                right    : 0;
                bottom   : 70px;
            }
        }
    }

    .online-users-container {
        flex : 3;

        .online-users-wrapper {

            .online-users {
                display     : flex;
                align-items : center;
                cursor      : pointer;
                position    : relative;
                margin-top  : 10px;

                .online-user-img {
                    width         : 32px;
                    height        : 32px;
                    border-radius : 20px;
                    margin-right  : 10px;
                }

                .online-badge {
                    position         : absolute;
                    width            : 10px;
                    height           : 10px;
                    border-radius    : 10px;
                    background-color : limegreen;
                    bottom           : 0;
                    left             : 0;
                }
            }
        }
    }

    .online-users-wrapper, .conversation-menu-wrapper {
        padding : 10px;
        height  : 100%;
    }
}