.add-project-header {
    position   : fixed;
    width      : 100%;
    height     : 120px;
    background : var(--content-light);
    z-index    : 1000;

    .add-project-header-top {
        display         : flex;
        justify-content : space-between;
        height          : 64px;
        width           : 100%;
        padding         : 0 20px;
    
        .logo_container {
            position        : relative;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            height          : 100%;
            width           : auto;
            min-width       : 123px;

            img {
                height      : 32px;
                width       : auto;
                margin-left : 4px;
            }
        }
        
        .header-top-right {
            display     : flex;
            align-items : center;

            button {
                margin : 0 5px;
            }
        }
    }

    .add-project-header-bottom {
        position        : relative;
        width           : 100%;
        height          : 56px;
        border-bottom   : 1px solid var(--light-border);

        .add-project-header-bottom-container {
            display         : flex;
            justify-content : center;
            height          : 100%;
            min-width       : 460px;

           .nav-item {
                position        : relative;
                display         : flex;
                justify-content : center;
                align-items     : center;
                min-width       : 90px;
                padding         : 0 20px;
                overflow        : hidden;
                cursor          : pointer;
    
                &:before {
                    content          : '';
                    position         : absolute;
                    left             : 50%;
                    transform        : translateX(-50%);
                    bottom           : -3px;
                    height           : 4px;
                    width            : 0;
                    border-radius    : var(--rounded-full);
                    transition       : 0.2s ease;
                }
    
                svg {
                    width        : 18px;
                    height       : 18px;
                    margin-right : 7px;
                }
    
                p {
                    line-height : 14px;
                    font-weight : 500;
                    white-space : nowrap;
                }
    
                &:hover,
                &.active {
                    svg {
                        color      : var(--primary);
                        transition : 0.2s ease;
                    }
                    &:before {
                        width            : 50px;
                        transition       : 0.2s ease;
                        background-color : var(--primary);
                    }
                }
    
                &.active {
                    &:before {
                        width : 80%;
                    }
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .add-project-header {
        .add-project-header-top {
            .header-top-right {
                button {
                    margin : 0 5px;
                }
            }
        }
        .add-project-header-bottom {
            .add-project-header-bottom-container {
                > div {
                    flex-direction : column;
                    svg {
                        margin-right  : 0;
                    }
                }
            }
        }
    }
}