.password-checker {
    position      : absolute;
    top           : 108%;
    width         : 100%;
    padding       : 15px;
    background    : var(--content-light);
    border-radius : var(--rounded-sm);
    box-shadow    : var(--shadow-xl);
    z-index       : 10;

    .checker-header {
        color  : var(--text);
        margin : 7px 0;
    }

    .checker {
        display     : flex;
        align-items : center;
        padding     : 2px 0;

        svg {
            width        : 20px;
            height       : 20px;
            margin-right : 8px;
        }

        &.is-valid {
            color : var(--green);
        }

        &.not-valid {
            color : var(--danger);
        }
    }
}

.password-strength {
    display       : flex;
    align-items   : center;
    height        : 30px;
    margin-bottom : 10px;

    .strength-item {
        height           : 14px;
        width            : 24%;
        background-color : var(--x-light);

        &:nth-child(1) {
            border-radius : var(--rounded-sm ) 0 0 var(--rounded-sm );
            &.weak {
                background-color : var(--danger);
            }
            &.medium {
                background-color : var(--orange);
            }
            &.strong {
                background-color : var(--green);
            }
        }
        &:nth-child(2) {
            &.medium {
                background-color : var(--orange);
            }
            &.strong {
                background-color : var(--green);
            }
        }
        &:nth-child(3) {
            border-radius : 0 var(--rounded-sm ) var(--rounded-sm ) 0;
            &.strong {
                background-color : var(--green);
            }
        }
    }

    .strength {
        width         : 25%;
        height        : 28px;
        padding       : 4px;
        text-align    : center;
        border-radius : var(--rounded-sm);
        margin-left   : auto;

        &.weak {
            color            : var(--danger);
            background-color : rgba(var(--danger-rgb), 0.2);
        }
        &.medium {
            color            : var(--orange);
            background-color : rgba(var(--orange-rgb), 0.2);
        }
        &.strong {
            color            : var(--green);
            background-color : rgba(var(--green-rgb), 0.2);
        }
    }
}