.sign-container {
    height     : calc(100vh - 60px);
    width      : 100%;
    background : var(--content-light);

    .sign-container-inner {
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        justify-content : center;
        margin          : 0 auto;
        height          : calc(100vh - 60px);
        width           : 500px;
        padding-bottom  : 100px;

        .header-logo {
            width  : 120px;
            height : auto;
            margin : 0 auto 20px;
        }

        .sign-card {
            position      : relative;
            width         : 100%;
            padding       : 30px;
            box-shadow    : var(--shadow-tiny);
            border-radius : var(--radius);
            background    : var(--content-x-light);

            .title {
                margin-bottom : 20px;
                text-align    : center;

                h1 {
                    color : var(--text);
                }
            }

            .dynamic-input {
                min-width  : 100%;
                background : var(--content-light);

                input {
                    min-width  : 100%;
                }
            }

            .validated {
                position : absolute;
                top      : 23px;
                right    : 20px;
                z-index  : 2;
                color    : var(--green);
            }

            .forgot-password {
                width           : 100%;
                font-size       : 14px;
                display         : flex;
                align-items     : center;
                justify-content : flex-end;
                padding-top     : 10px;

                a {
                    color : var(--placeholder);
                }

                &:hover {
                    text-decoration : underline;
                    a {
                        color : var(--text);
                    }
                }
            }
        }

        .sign-card-bottom {
            display         : flex;
            align-items     : center;
            width           : 100%;
            text-align      : center;
            justify-content : center;
            color           : var(--text);
            padding         : 12px 20px 0;
            margin-top      : 20px;
            border-radius   : var(--radius);
        }
    }
}

/**
* QUERIES
*/

@media(max-width:576px) {
    .sign-container {
        width : 100vw;
        .sign-container-inner {
            justify-content : flex-start;
            padding         : 50px 20px 0;
            width           : 100vw;
            .sign-card {
                box-shadow : none;
                padding    : 0;
            }
            .header-logo {
                display : none;
            }
        }
    }
}

/**
* Password checker modal
*/

.password-checker {
    position      : absolute;
    top           : 108%;
    width         : 100%;
    background    : var(--content-x-light);
    border-radius : var(--radius);
    padding       : 15px;
    box-shadow    : var(--shadow-lg);
    z-index       : 10;

    .checker-header {
        color  : var(--text);
        margin : 10px 0;
    }

    .checker {
        display     : flex;
        align-items : center;
        padding     : 5px 0;

        svg {
            width        : 22px;
            height       : 22px;
            margin-right : 8px;
        }

        &.is-valid {
            color : var(--green);
        }

        &.not-valid {
            color : var(--red);
        }
    }
}

.password-strength {
    display       : flex;
    align-items   : center;
    height        : 30px;
    margin-bottom : 10px;

    .strength-item {
        height           : 14px;
        width            : 24%;
        background-color : var(--light);

        &:nth-child(1) {
            border-radius : var(--radius ) 0 0 var(--radius );
            &.weak {
                background-color : var(--red);
            }
            &.medium {
                background-color : var(--orange);
            }
            &.strong {
                background-color : var(--green);
            }
        }
        &:nth-child(2) {
            &.medium {
                background-color : var(--orange);
            }
            &.strong {
                background-color : var(--green);
            }
        }
        &:nth-child(3) {
            border-radius : 0 var(--radius ) var(--radius ) 0;
            &.strong {
                background-color : var(--green);
            }
        }
    }

    .strength {
        width         : 25%;
        height        : 30px;
        padding       : 5px;
        text-align    : center;
        border-radius : var(--radius);
        margin-left   : auto;

        &.weak {
            color            : var(--red);
            background-color : rgba(var(--red-rgb), 0.2);
        }
        &.medium {
            color            : var(--orange);
            background-color : rgba(var(--orange-rgb), 0.2);
        }
        &.strong {
            color            : var(--green);
            background-color : rgba(var(--green-rgb), 0.2);
        }
    }
}