.hovered_card {
    position : absolute;
    bottom   : 10px;
    left     : -120px;
    padding  : 32px;

    .hovered-modal_container {
        padding          : 12px;
        width            : auto;
        min-width        : 320px;
        background-color : var(--content-light);
        border           : 2px solid var(--content-x-light);
        border-radius    : var(--rounded-md);
        box-shadow       : var(--shadow-xl);

        p {
            font-size   : 12px;
            font-weight : 300;
        }

        button {
            width : 100%;
        }

        .hovered-modal_head {
            display       : flex;
            width         : 100%;
            margin-bottom : 12px;

            .hovered-modal_avatar {
                width         : 76px;
                height        : 76px;
                border-radius : var(--rounded-full);
            }

            .left {
                padding-right : 20px;
            }

            .hovered_card-name {
                font-weight   : 500;
                font-size     : 18px;
                margin-bottom : 6px;
                line-height   : 20px;
            }
        }
    }
}