.map_modal {
    .map_modal_nav {
        display       : flex;
        position      : relative;
        width         : 70%;
        margin-bottom : 16px;

        .map_modal_nav_item {
            position      : relative;
            height        : 100%;
            width         : 50%;
            text-align    : center;
            color         : var(--text);
            cursor        : pointer;
            padding       : 5px;
            margin        : 0 3px;
            overflow      : hidden;
            border-radius : var(--rounded-sm);
 
            &.active {
                color      : var(--primary);
                background : rgba(var(--primary-rgb), 0.2);
            }
            &:hover {
                color      : var(--primary);
                background : var(--light);
            }
        }
    }
}

@media(max-width: 576px) {
    .modal_container {
        &.map_modal {
            width    : 100%;
            padding  : 30px 20px;
            position : fixed;
            bottom   : 0;
            top      : 0;
            left     : 0;
            right    : 0;
            .map {
                margin-top : 30px;
            }
        }
    }
}