.users_modal {
    min-height : 300px;
    overflow   : unset !important;
    .users_modal-header {
        display        : flex;
        align-items    : center;
        padding-bottom : 10px;

        svg {
            width        : 20px;
            height       : 20px;
            margin-right : 8px;
        }
    }

    .users_modal-body {
        padding-top : 10px;
        // overflow-y : auto;
        z-index    : 1;

        .user {
            position        : relative;
            width           : 100%;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            cursor          : pointer;
            padding         : 7px 0;
            
            .pseudo {
                margin-left : 8px;
                padding-top : 8px;
            }
        }

        button {
            font-size : 12px;;
        }

        .empty_users {
            display         : flex;
            align-items     : center;
            justify-content : center;
            padding         : 12px 0 6px;
            color           : var(--text);
    
            svg {
                width        : 26px;
                height       : 26px;
                margin-right : 10px;
            }
        }
    }
}