.btn {
  z-index         : 1;
  position        : relative;
  margin          : 0;
  padding         : 10px;
  border          : none;
  overflow        : hidden;
  text-decoration : none;
  text-align      : center;
  font-weight     : 300;
  font-size       : 14px;
  line-height     : 20px;
  background      : #6366F1;
}