.btn {
  z-index         : 1;
  position        : relative;
  margin          : 0;
  padding         : 10px;
  border          : none;
  overflow        : hidden;
  text-decoration : none;
  text-align      : center;
  font-weight     : 300;
  font-size       : 14px;
  line-height     : 20px;
  background      : #6366F1;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}