.map-container {
    max-width:500px;
    margin          : 0 auto;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

#map-departments, #map-regions {
    height:500px;
    width:auto;

    path {
        fill         : #86AAE0;
        stroke       : #FFFFFF;
        stroke-width : 0.6;
        transition   : fill 0.2s, stroke 0.3s;

        &:hover {
            fill   : red;
            stroke : red;
        }
    }

    .separator {
        stroke       : #ccc;
        fill         : none;
        stroke-width : 1.5;

        &:hover {
            stroke : #ccc;
            fill   : none;
        }
    }
}

.carte {
    width: 100%;
    margin: 0 auto;
    
    path {
        stroke: #000000;
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: #86aae0;
    }
    g:hover path {
        fill: #86cce0;
    }
    g path:hover {
        fill: #86eee0;
    }
}