.main-body {
    min-height : 420px;
    width      : 100%;
    background : var(--content);

    .swiper-container {
        position      : relative;
        width         : 100%;
        padding       : 30px 0;
        border-bottom : 1px solid var(--light-border);

        .swiper-header {
            display     : flex;
            align-items : center;
            padding     : 20px 0;

            h2 {
                position     : relative;
                display      : flex;
                align-items  : flex-end;
                line-height  : 20px;
                margin-right : 10px;
            }

            a {
                display       : flex;
                align-items   : center;
                color         : var(--primary);
                margin-top    : 5px;
                padding       : 5px 10px 5px 15px;
                border-radius : var(--rounded-sm);
                transition  : .2s;

                svg {
                    display     : flex;
                    height      : 16px;
                    width       : 16px;
                    margin-left : 8px;
                    color       : var(--primary);
                    transition  : .2s;
                }

                &:hover {
                    padding-left : 10px;
                    background   : rgba(var(--primary-rgb), 0.05);
                    transition  : .2s;
                    svg {
                        margin-left : 16px;
                        transition  : .2s;
                    }
                }
            }
        }

        .swiper-inner {
            position : relative;
            width    : 100%;
            height   : 100%;

            .swiper {
                overflow   : unset;
                overflow-x : hidden;
                overflow-y : visible;
                padding    : 4px .2%;
            }

            .swiper-slide {
                display         : flex;
                justify-content : center;
                align-items     : center;
                width           : auto;
                height          : 100%;
            }
        }
    }
}

@media(max-width: 768px) {
    .main-body {
        .swiper-container {
            .swiper-header {
                flex-direction : column;
                align-items    : flex-start;
                h2 {
                    font-size : 20px;
                }
            }
        }
    }
}

/* Swiper buttons */

.nav-buttons {
    position        : absolute;
    top             : -46px;
    right           : 0;
    display         : flex;
    justify-content : space-between;
    width           : 60px;

    .swiper-button {
        display         : flex;
        align-items     : center;
        justify-content : center;
        height          : 27px;
        width           : 27px;
        padding         : 5px;
        background      : var(--content-x-light);
        border-radius   : var(--rounded-sm);
        z-index         : 10;
        box-shadow      : var(--shadow-tiny);
        cursor          : pointer;

        svg {
            width  : 22px;
            height : 22px;
            color  : var(--text);
        }
    }
}

/* Categories home slide */

.home_small_swiper {
    padding : 30px 0;
    h2 {
        line-height : 20px;
        padding     : 20px 0;
    }
    .small_swiper {
        position : relative;
        .small_slide {
            width  : 170px;
            height : 90px;
    
            .small_slide_card {
                display       : flex;
                align-items   : flex-end;
                height        : 100%;
                width         : 100%;
                border-radius : var(--rounded-sm);
                cursor        : pointer;

                &:after {
                    position      : absolute;
                    content       : '';
                    height        : 80px;
                    width         : 100%;
                    background    : linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                    z-index       : 0;
                    border-radius : var(--rounded-sm);
                }
        
                p {
                    position   : relative;
                    z-index    : 1;
                    font-size  : 20px;
                    padding    : 10px;
                    width      : 100%;
                    text-align : center;
                    color      : white;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .home_small_swiper {
        h2 {
            font-size : 20px;
        }
        .small_swiper {
            .small_slide {
                width  : 100px;
                height : 90px;
                .small_slide_card {
                    p {
                        font-size : 14px;
                        padding   : 5px;
                    }
                }
            }
        }
    }
}

/* Tags home slide */

.tiny_swiper {
    position        : relative;
    width           : 100%;
    padding         : 30px 0 0;
    display         : flex;
    justify-content : space-between;

    .tiny_slide {
        width     : auto;
        max-width : 250px;

        .tiny_card {
            display       : flex;
            height        : 40px;
            background    : var(--content-light);
            border        : 1px solid var(--light-border);
            border-radius : var(--rounded-sm);
            cursor        : pointer;
    
            .tiny_card-img {
                width         : 50px;
                height        : 100%;
                border-radius : var(--rounded-sm) 0 0 var(--rounded-sm);
            }
    
            .tiny_card-text {
                display     : flex;
                align-items : center;
                padding     : 0 15px;
            }
        }
    }
}