.home-body {
    position   : relative;
    width      : 100%;
    background : linear-gradient(to right, var(--content) 30%, var(--content-light) 100%);

    .swiper-container {
        position      : relative;
        width         : 100%;
        padding       : 30px 0;
        border-bottom : 1px solid var(--light-border);

        .swiper-header {
            display     : flex;
            align-items : center;
            padding     : 20px 0;

            h2 {
                position    : relative;
                display     : flex;
                align-items : flex-end;
                padding     : 0 20px 0 0;
            }

            a {
                display     : flex;
                align-items : flex-end;
                color       : var(--primary);
                margin-top  : 5px;

                svg {
                    display     : flex;
                    align-items : flex-end;
                    height      : 20px;
                    width       : 26px;
                    margin-left : 3px;
                }
            }
        }

        .swiper-inner {
            position : relative;
            width    : 100%;
            height   : 100%;

            .nav-buttons {
                position        : absolute;
                top             : -40px;
                right           : 0;
                display         : flex;
                justify-content : space-between;
                width           : 80px;
        
                .swiper-button {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    height          : 27px;
                    width           : 27px;
                    padding         : 5px;
                    border-radius   : var(--radius);
                    color           : var(--text);
                    z-index         : 10;
                    cursor          : pointer;
                    box-shadow      : var(--shadow-tiny);
            
                    svg {
                        width  : 22px;
                        height : 22px;
                    }
                }
            }

            .swiper {
                overflow   : unset;
                overflow-x : hidden;
                overflow-y : visible;
                padding    : 4px .2%;
            }

            .swiper-slide {
                display         : flex;
                justify-content : center;
                align-items     : center;
                width           : auto;
                height          : 100%;

                &:nth-child(1) {
                    margin-left : 0;
                }
                &:last-child {
                    margin-right : 0;
                }
            }
        }
    }

    .home-category {
        position      : relative;
        width         : 100%;
        padding       : 0 0 30px;
        border-bottom : 1px solid var(--light-border);

        .category-swiper {
            position   : relative;
            width      : 100%;
            margin-top : 30px;
            
            .category-slide {
                width  : 205px;
                height : 110px;
        
                .category-card {
                    display       : flex;
                    align-items   : flex-end;
                    height        : 100%;
                    width         : 100%;
                    border-radius : var(--radius);
                    cursor        : pointer;
    
                    &:after {
                        position      : absolute;
                        content       : '';
                        height        : 80px;
                        width         : 100%;
                        background    : linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                        z-index       : 0;
                        border-radius : var(--radius);
                    }
            
                    p {
                        position   : relative;
                        z-index    : 1;
                        font-size  : 20px;
                        padding    : 10px;
                        width      : 100%;
                        text-align : center;
                        color      : white;
                    }
                }
            }

            .nav-buttons {
                position        : absolute;
                top             : -40px;
                right           : 0;
                display         : flex;
                justify-content : space-between;
                width           : 80px;
        
                .swiper-button {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    height          : 27px;
                    width           : 27px;
                    padding         : 5px;
                    border-radius   : var(--radius);
                    color           : var(--text);
                    z-index         : 10;
                    cursor          : pointer;
                    box-shadow      : var(--shadow-tiny);
            
                    svg {
                        width  : 22px;
                        height : 22px;
                    }
                }
            }
        }
    }

    .home-tags {
        position      : relative;
        width         : 100%;
        padding       : 40px 0 30px;
        border-bottom : 1px solid var(--light-border);

        .tags-container {
            position        : relative;
            width           : 100%;
            padding         : 30px 0 0;
            display         : flex;
            justify-content : space-between;
        
            .tags-card {
                position      : relative;
                display       : flex;
                align-items   : flex-end;
                width         : 18.5%;
                height        : 110px;
                border-radius : var(--radius);
                cursor        : pointer;
    
                &:after {
                    position      : absolute;
                    content       : '';
                    height        : 80px;
                    width         : 100%;
                    background    : linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
                    z-index       : 0;
                    border-radius : var(--radius);
                }
        
                p {
                    position   : relative;
                    z-index    : 1;
                    font-size  : 20px;
                    padding    : 10px;
                    width      : 100%;
                    text-align : center;
                    color      : white;
                }
            }
        }

        .small-tags-container {
            position        : relative;
            width           : 100%;
            padding         : 30px 0 0;
            display         : flex;
            justify-content : space-between;
        
            .small-tags-card {
                display       : flex;
                height        : 40px;
                width         : auto;
                border-radius : var(--radius);
                cursor        : pointer;
                background    : var(--content-light);
                box-shadow    : var(--shadow-tiny);

                .tags-img {
                    width         : 50px;
                    height        : 100%;
                    border-radius : var(--radius) 0 0 var(--radius);
                }
        
                .tags {
                    display     : flex;
                    align-items : center;
                    padding     : 0 15px;
                }
            }
        }
    }
}

.card {
    position         : relative;
    width            : 100%;
    color            : var(--text);
    cursor           : pointer;
    background-color : var(--content-light);
    border-radius    : var(--radius);
    border           : 1px solid transparent;
    box-shadow      : var(--shadow-tiny);

    .card-img {
        height        : 160px;
        width         : 100%;
        border-radius : var(--radius) var(--radius) 0 0;
    }

    .card-body {
        padding : 12px 16px;

        .card-title {
            display        : flex;
            flex-direction : column;
            padding-bottom : 10px;
            border-bottom  : 1px solid var(--light-border);

            h3 {
                text-overflow      : ellipsis;
                overflow           : hidden;
                width              : 100%;
                line-height        : 30px;
                font-size          : 18px;
                display            : -webkit-box;
                -webkit-line-clamp : 1;
                -webkit-box-orient : vertical;
                margin-bottom      : 6px;
            }

            p {
                display       : flex;
                align-items   : center;
                font-size     : 12px;
                color         : var(--text-secondary);
                margin-bottom : 3px;

                svg {
                    margin-right : 5px;
                }
            }
        }

        .card-head {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            padding         : 8px 0;

            .contributors {
                display     : flex;
                align-items : center;

                p {
                    margin-left : 6px;
                }
            }

            .state {
                padding       : 2px 12px;
                border-radius : var(--radius);
                font-size     : 14px;

                &.orange {
                    background : rgba(var(--orange-rgb), 0.2);
                    color      : var(--orange);
                }
                &.blue {
                    background : rgba(var(--light-blue-rgb), 0.2);
                    color      : var(--light-blue);
                }
                &.green {
                    background : rgba(var(--green-rgb), 0.2);
                    color      : var(--green);
                }
            }
        }

        .description {
            padding            : 8px 0;
            margin-bottom      : 14px;
            font-size          : 14px;
            height             : 79px;
            text-overflow      : ellipsis;
            overflow           : hidden;
            width              : 100%;
            line-height        : 24px;
            display            : -webkit-box;
            -webkit-line-clamp : 3;
            -webkit-box-orient : vertical;
            color              : var(--text-secondary);
        }

        .card-footer {
            display : flex;
            width   : 100%;

            .footer-left {
                width : 70%;

                .action-btn {
                    position    : relative;
                    display     : flex;
                    align-items : center;

                    .icon-toggle {
                        margin-right : 8px;
                        box-shadow   : var(--shadow-tiny);
                    }

                    &.like {
                        .icon-toggle {
                            background-color : rgba(var(--red-rgb), 0.1);
                        }
                        svg {
                            fill   : var(--red);
                            stroke : var(--red);
                        }

                        &:hover {
                            .icon-toggle {
                                background-color : rgba(var(--red-rgb), 0.15);
                            }
                        }
                    }
                    &.follow {
                        margin-top : 10px;
                        .icon-toggle {
                            background-color : rgba(var(--green-rgb), 0.1);
                        }
                        svg {
                            fill   : var(--green);
                            stroke : var(--green);
                        }

                        &:hover {
                            .icon-toggle {
                                background-color : rgba(var(--green-rgb), 0.15);
                            }
                        }
                    }
                }
            }

            .footer-right {
                width       : 30%;
                display     : flex;
                padding-top : 8px;

                .footer-name {
                    color : var(--text-secondary);
                    .name {
                        a {
                            font-weight : 500;
                            color       : var(--text);
                        }
                    }

                    .date {
                        font-size : 12px;
                    }
                }
            }
        }
    }
}

.favorite-toggle {
    position         : absolute;
    top              : 130px;
    right            : 8px;
    display          : flex;
    align-items      : center;
    padding          : 2px 0 0 0;
    background-color : var(--content-x-light);
    border-radius    : 30px;
    box-shadow       : var(--shadow-tiny);

    svg {
        fill : var(--yellow);
    }

    p {
        position    : absolute;
        opacity     : 0;
        font-size   : 13px;
        white-space : nowrap;
    }

    &:hover {
        padding-left : 15px;
        transition   : .3s ease;

        p {
            position   : unset;
            opacity    : 1;
            transition : 1s ease .2s;
        }
    }
}