.mini_nav_container {
    position    : relative;
    top         : 0;
    right       : 20px;
    display     : flex;
    align-items : center;
    height      : 60px;
    width       : auto;

    .mini_nav {
        position    : relative;
        display     : flex;
        height      : 60px;
        width       : auto;
    
        .mini_nav-ul {
            position        : relative;
            display         : flex;
            justify-content : center;
            align-items     : center;
    
            .mini_nav-li {
                position        : relative;
                display         : flex;
                height          : 100%;
                min-width       : 39px;
                justify-content : center;
                align-items     : center;
                cursor          : pointer;
    
                .mini_nav-a {
                    position        : relative;
                    height          : 100%;
                    width           : 100%;
                    display         : flex;
                    flex-direction  : column;
                    align-items     : center;
                    justify-content : center;
                    padding         : 0 12px;
                    color           : var(--navbar-txt);
                    overflow        : hidden;
    
                    &:before {
                        content          : '';
                        position         : absolute;
                        left             : 50%;
                        transform        : translateX(-50%);
                        bottom           : -7px;
                        width            : 0;
                        height           : 10px;
                        border-radius    : 20px;
                        background-color : transparent;
                        transition       : 0.2s ease;
                    }
    
                    &:hover {
                        .nav_icon {
                            color      : var(--primary);
                            transition : 0.2s ease;
                        }
    
                        &:before {
                            width            : 50px;
                            transition       : 0.2s ease;
                            background-color : var(--primary);
                        }
                    }
    
                    &.active {
                        .nav_icon {
                            color      : var(--primary);
                            transition : 0.2s ease;
                        }
    
                        &:before {
                            width            : 80%;
                            transition       : 0.2s ease;
                            background-color : var(--primary);
                        }
                    }
    
                    .mini_nav-avatar {
                        width         : 22px;
                        height        : 22px;
                        border-radius : 50%;
                        margin        : 0 auto 2px;
                    }
        
                    .mini_nav-pseudo {
                        line-height : 13px;
                        font-size   : 13px;
                    }
                }
    
                .mini_nav-button {
                    height          : 36px;
                    width           : 36px;
                    background      : var(--mini_nav-btn);
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    border-radius   : var(--rounded-md);
    
                    svg {
                        width  : 15px;
                        height : 15px;
                        color  : var(--navbar-txt);
                    }
    
                    &:hover, &.active {
                        background : var(--x-light);
                    }
                }
            }
    
            .bordered {
                width         : 2px;
                height        : 30px;
                background    : var(--light-border);
                margin : 0 10px;
            }
        }
    }

    .toggle_icon {
        height       : 28px;
        width        : 28px;
        margin-right : 15px;
        cursor       : pointer;
    }
}

@media(max-width: 992px) {
    .mini_nav_container {
        right  : 10px;
        height : 54px;
        .mini_nav {
            height : 54px;
            .mini_nav-ul {
                .mini_nav-li {
                    .mini_nav-a {
                        padding : 0;
                        .mini_nav-avatar {
                            width  : 28px;
                            height : 28px;
                        }
                        .mini_nav-pseudo {
                            display : none;
                        }
                    }
                    .mini_nav-button {
                        width  : 34px;
                        height : 34px;
                        svg {
                            height : 14px;
                            width  : 14px;
                        }
                    }
                }
            }
        }
    }
}