header {
    position : relative;
    width    : 100%;
    height   : 60px;
    z-index  : 800;

    .navbar {
        position      : fixed;
        display       : flex;
        height        : 60px;
        width         : 100%;
        background    : var(--navbar);
        box-shadow    : var(--shadow-light);
        border-bottom : 2px solid var(--primary);
        z-index       : 800;

        .logo_container {
            position        : relative;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            padding-left    : 20px;

            .logo_inner {
                display     : flex;
                align-items : center;
                width       : auto;
                height      : 100%;

                img {
                    height      : 36px;
                    width       : auto;
                    margin-left : 4px;
                }
            }
        }

        .nav_container {
            left      : 50%;
            transform : translateX(-50%);
        }

        .nav_container-right {
            right : 50px;
        }

        .nav_container, .nav_container-right {
            position        : absolute;
            top             : 0;
            display         : flex;
            justify-content : space-between;
            width           : auto;
            margin          : 0 auto;
            height          : 60px;

            .nav_ul {
                position : relative;
                display  : flex;
                margin   : 0;
                padding  : 0;

                .nav_li {
                    display         : flex;
                    text-align      : center;
                    justify-content : center;
                    align-items     : center;
                    height          : 100%;
                    min-width       : 80px;
                    color           : var(--text);
                    cursor          : pointer;

                    .nav_link {
                        position        : relative;
                        display         : flex;
                        flex-direction  : column;
                        align-items     : center;
                        justify-content : center;
                        height          : 100%;
                        width           : 100%;
                        padding         : 0 37px 0;
                        color           : var(--text);
                        overflow        : hidden;

                        &:before {
                            content          : '';
                            position         : absolute;
                            left             : 50%;
                            transform        : translateX(-50%);
                            bottom           : -7px;
                            width            : 0;
                            height           : 10px;
                            border-radius    : 20px;
                            background-color : transparent;
                            transition       : 0.2s ease;
                        }

                        .nav_icon {
                            width         : 18px;
                            height        : 18px;
                            margin-bottom : 5px;
                            color         : var(--navbar-txt);
                            transition    : 0.2s ease;
                        }

                        .nav_p {
                            margin      : 0;
                            line-height : 14px;
                            font-size   : 13px;
                            font-weight : 500;
                            white-space : nowrap;
                            color       : var(--navbar-txt);
                        }

                        &:hover {

                            .nav_icon {
                                color      : var(--primary);
                                transition : 0.2s ease;
                            }

                            &:before {
                                width            : 50px;
                                transition       : 0.2s ease;
                                background-color : var(--primary);
                            }
                        }

                        &.active {

                            .nav_icon {
                                color      : var(--primary);
                                transition : 0.2s ease;
                            }

                            &:before {
                                width            : 80%;
                                transition       : 0.2s ease;
                                background-color : var(--primary);
                            }
                        }
                    }
                }
            }
        }
    }
}

.mini_nav {
    position     : absolute;
    top          : 0;
    right        : 0;
    height       : 60px;
    width        : auto;
    display      : flex;
    margin-right : 20px;

    .mini_nav-ul {
        position        : relative;
        display         : flex;
        justify-content : center;
        align-items     : center;
        margin          : 0;
        padding         : 0;

        .mini_nav-li {
            position        : relative;
            display         : flex;
            height          : 100%;
            min-width       : 43px;
            justify-content : center;
            align-items     : center;
            cursor          : pointer;

            .mini_nav-a {
                position        : relative;
                height          : 100%;
                width           : 100%;
                display         : flex;
                flex-direction  : column;
                align-items     : center;
                justify-content : center;
                padding         : 0 12px;
                color           : var(--navbar-txt);
                overflow        : hidden;

                &:before {
                    content          : '';
                    position         : absolute;
                    left             : 50%;
                    transform        : translateX(-50%);
                    bottom           : -7px;
                    width            : 0;
                    height           : 10px;
                    border-radius    : 20px;
                    background-color : transparent;
                    transition       : 0.2s ease;
                }

                &:hover {

                    .nav_icon {
                        color      : var(--primary);
                        transition : 0.2s ease;
                    }

                    &:before {
                        width            : 50px;
                        transition       : 0.2s ease;
                        background-color : var(--primary);
                    }
                }

                &.active {

                    .nav_icon {
                        color      : var(--primary);
                        transition : 0.2s ease;
                    }

                    &:before {
                        width            : 80%;
                        transition       : 0.2s ease;
                        background-color : var(--primary);
                    }
                }
            }

            .mini_nav-button {
                height          : 36px;
                width           : 36px;
                background      : var(--mini_nav-btn);
                display         : flex;
                align-items     : center;
                justify-content : center;
                border-radius   : 50px;

                svg {
                    width  : 15px;
                    height : 15px;
                    color  : var(--navbar-txt);
                }

                .mini-badge {
                    position         : absolute;
                    top              : 5px;
                    right            : 0;
                    display          : flex;
                    align-items      : center;
                    justify-content  : center;
                    height           : 20px;
                    width            : 20px;
                    border-radius    : 20px;
                    background-color : var(--primary);
                    color            : white;
                }

                &:hover {
                    background : var(--mini_nav-btn);
                }
            }

            .mini_nav-avatar {
                width         : 22px;
                height        : 22px;
                border-radius : 50%;
                margin        : 0 auto 2px;
            }

            .mini_nav-pseudo {
                line-height : 13px;
                font-size   : 13px;
            }
        }

        .bordered {
            width         : 2px;
            height        : 30px;
            background    : var(--light-border);
            margin : 0 10px;
        }
    }
}

.navbar_form_pages {
    position        : relative;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 20px;
    margin          : 0 auto;

    .logo_inner {
        display       : flex;
        align-items   : center;
        width         : auto;
        height        : 100%;
        padding-right : 25px;
        border-right  : 2px solid white;

        img {
            height      : 36px;
            width       : auto;
            margin-left : 4px;
        }
    }

    .right {
        display         : flex;
        align-items     : center;
        justify-content : center;
        padding-left    : 25px;

        svg {
            height       : 30px;
            width        : 30px;
            margin-right : 7px;
        }

        p {
            font-size : 18px;
        }
    }
}

.move-back {
    position         : absolute;
    top              : 7px;
    left             : 40px;
    padding          : 8px;
    background-color : var(--content-light);
    border-radius    : 30px;
    cursor           : pointer;

    svg {
        height : 26px;
        width  : 26px;
    }

    a {
        display : block;
        height  : 100%;
        width   : 100%;
    }

    &:hover {
        background-color : var(--content);
    }
}