header {
    position : relative;
    width    : 100vw;
    height   : 60px;
    z-index  : 800;

    .navbar {
        position      : fixed;
        display       : flex;
        height        : 60px;
        width         : 100vw;
        background    : var(--navbar);
        box-shadow    : var(--shadow-light);
        // border-bottom : 2px solid var(--primary);
        z-index       : 800;

        .logo_container {
            position        : relative;
            top             : 0;
            left            : 0;
            height          : 100%;
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            padding-left    : 20px;

            .logo_inner {
                display     : flex;
                align-items : center;
                width       : auto;
                height      : 100%;

                .logo-main {
                    height      : 36px;
                    width       : auto;
                    margin-left : 4px;
                }

                .logo-small {
                    height      : 36px;
                    width       : auto;
                    margin-left : 4px;
                }
            }

            .toggle_icon {
                display      : none;
                height       : 22px;
                width        : 22px;
                margin-right : 15px;
                cursor       : pointer;
            }
        }

        .nav_container, .nav_container-right {
            position        : relative;
            display         : flex;
            justify-content : space-between;
            width           : auto;
            margin          : 0 auto;
            height          : 60px;

            .nav_ul {
                position : relative;
                display  : flex;

                .nav_li {
                    display         : flex;
                    text-align      : center;
                    justify-content : center;
                    align-items     : center;
                    height          : 100%;
                    color           : var(--text);
                    cursor          : pointer;

                    .nav_link {
                        position        : relative;
                        display         : flex;
                        flex-direction  : column;
                        align-items     : center;
                        justify-content : center;
                        height          : 100%;
                        width           : 100%;
                        padding         : 0 37px 0;
                        color           : var(--text);
                        overflow        : hidden;

                        &:before {
                            content          : '';
                            position         : absolute;
                            left             : 50%;
                            transform        : translateX(-50%);
                            bottom           : -7px;
                            width            : 0;
                            height           : 10px;
                            border-radius    : 20px;
                            background-color : transparent;
                            transition       : 0.2s ease;
                        }

                        .nav_icon {
                            width         : 20px;
                            height        : 20px;
                            margin-bottom : 5px;
                            color         : var(--navbar-txt);
                            transition    : 0.2s ease;
                        }

                        .nav_p {
                            margin      : 0;
                            line-height : 14px;
                            font-size   : 14px;
                            font-weight : 500;
                            white-space : nowrap;
                            color       : var(--navbar-txt);
                        }

                        &:hover {
                            .nav_icon {
                                color      : var(--primary);
                                transition : 0.2s ease;
                            }
                            &:before {
                                width            : 50px;
                                transition       : 0.2s ease;
                                background-color : var(--primary);
                            }
                        }

                        &.active {
                            .nav_icon {
                                color      : var(--primary);
                                transition : 0.2s ease;
                            }
                            &:before {
                                width            : 80%;
                                transition       : 0.2s ease;
                                background-color : var(--primary);
                            }
                        }
                    }
                }
            }
        }
        
        .nav_container-right {
            right  : 10px;
            margin : 0;
            .nav_ul {
                .nav_li {
                    .nav_link {
                        padding : 0 15px 0;
                    }
                }
            }
        }
    }
}

/**
* QUERIES
*/

@media(max-width: 1200px) {
    header {
        .navbar {
            .nav_container {
                margin-left  : auto;
                margin-right : 50px;
                .nav_ul {
                    .nav_li {
                        .nav_link {
                            padding : 0 20px 0;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 992px) {
    header {
        height : 54px;
        .navbar {
            height : 54px;
            .logo_container {
                padding-left : 15px;
                margin-right : auto;
                .toggle_icon {
                    display : block;
                }
            }
            .nav_container {
                position   : absolute;
                top        : 54px;
                left       : 0;
                height     : 100vh;
                max-width  : 0;
                visibility : hidden;
                width      : 100%;
                background : var(--navbar);
                box-shadow : var(--shadow-left);
                overflow   : hidden;
                z-index    : 1000;
                transition : .1s ease;
                &.open {
                    max-width  : 75%;
                    visibility : visible;
                    transition : .3s ease;
                }
                .nav_ul {
                    flex-direction : column;
                    width          : 100%;
                    padding        : 10px;
                    .nav_li {
                        justify-content : flex-start;
                        height          : auto;
                        margin          : 2px 0;
                        &:hover {
                            background    : var(--light);
                            border-radius : var(--radius);
                        }
                        .nav_link {
                            flex-direction  : row;
                            justify-content : flex-start;
                            height          : 100%;
                            padding         : 10px 10px;

                            &:before {
                                content : none;
                            }
                            &.active {
                                background : var(--light);
                                &:before {
                                    content : none;
                                }
                            }
                            .nav_icon {
                                margin-right  : 13px;
                                margin-bottom : 0;
                                font-size     : 16px;
                            }
                        }
                    }
                }
            }
            .nav_container-right {
                margin-left  : auto;
                margin-right : 0;
                right        : 10px;
                .nav_ul {
                    .register {
                        display : none;
                    }
                    .nav_li {
                        .nav_link {
                            padding:0 15px;
                            &:before {
                                content : none;
                            }
                            &.active {
                                &:before {
                                    content : none;
                                }
                            }
                            .nav_icon {
                                margin-bottom : 0;
                                height        : 30px;
                                width         : 56px;
                                border-right  : 1px solid var(--light-border);
                                padding        : 0 15px;
                            }
                            .nav_p {
                                display : none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:576px) {
    .logo-small {
        height      : 28px !important;
        width       : auto;
        margin-left : 4px;
    }
}

/**
* Connexion/register pages navbar
*/

.navbar_form_pages {
    position        : relative;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 10px 20px;
    margin          : 0 auto;

    .logo_inner {
        display       : flex;
        align-items   : center;
        width         : auto;
        height        : 100%;
        padding-right : 25px;
        border-right  : 2px solid var(--light-border);

        .logo-main {
            height      : 36px;
            width       : auto;
            margin-left : 4px;
        }

        .logo-small {
            display     : none;
            height      : 36px;
            width       : auto;
            margin-left : 4px;
        }
    }

    .right {
        display         : flex;
        align-items     : center;
        justify-content : center;
        padding-left    : 25px;

        svg {
            height       : 30px;
            width        : 30px;
            margin-right : 7px;
        }

        p {
            font-size : 18px;
        }
    }
}

.move-back {
    position         : absolute;
    top              : 7px;
    left             : 30px;
    padding          : 8px;
    background-color : var(--x-light);
    border-radius    : 30px;
    cursor           : pointer;

    svg {
        height : 23px;
        width  : 23px;
    }

    a {
        display : block;
        height  : 100%;
        width   : 100%;
    }

    &:hover {
        background-color : var(--content);
    }
}

/**
* QUERIES
*/

@media(max-width: 576px) {
    .navbar_form_pages {
        .logo_inner {
            padding-right : 15px;
            .logo-main {
                display : none;
            }
            .logo-small {
                display : block;
            }
        }
        .right {
            padding-left : 15px;
            p {
                font-size : 16px;
            }
        }
    }
    .move-back {
        left : 10px;
    }
}