header {
    height   : 60px;
    width    : 100%;
    position : relative;

    nav {
        display       : flex;
        position      : fixed;
        height        : 60px;
        width         : 100%;
        border-bottom : 1px solid #9147ff;

        .container {
            position        : relative;
            display         : flex;
            justify-content : space-between;

            .logo-container {
                position : relative;
                
                .logo {
                    display     : flex;
                    width       : auto;
                    height      : 100%;
                    align-items : center;


                    img {
                        height       : 40px;
                        width        : auto;
                        margin-right : 4px;
                    }
                }
            }

            ul {
                position   : relative;
                display    : flex;
                list-style : none;
                margin     : 0;

                .add-project {
                    position     : relative;
                    display      : flex;
                    align-items  : center;
                    justify-self : left;
                    margin-right : 40px;

                    .btn {
                        background : #9147ff;
                        padding    : 5px 10px;

                        .svg-icon {
                            height       : 25px;
                            width        : 25px;
                            margin-right : 5px;
                            stroke-width : 2px;

                            path {
                                fill         : whitesmoke;
                                stroke-width : 2px;
                            }
                        }

                    }
                }

                li {
                    display         : flex;
                    height          : 100%;
                    min-width       : 80px;
                    text-align      : center;
                    justify-content : center;
                    align-items     : center;
                    padding         : 0 7px;
                    color           : whitesmoke;
                    border-bottom   : 2px solid transparent;
                    cursor          : pointer;

                    p {
                        margin      : 0;
                        line-height : 17px;
                    }

                    .svg-icon {
                        width         : 1.8em;
                        height        : 1.8em;
                        margin-bottom : 2px;

                        path {
                            fill : whitesmoke;
                        }
                    }

                    .avatar {
                        width:26px;
                        height:26px;
                        margin-bottom:5px;
                    }

                    a {
                        text-decoration : none;
                        color           : whitesmoke;
                        display         : block;
                    }

                    &:hover {
                        border-bottom : 2px solid #9147ff;
                        .svg-icon {

                            path {
                                fill : #9147ff;
                            }
                        }
                    }
                }
            }
        }
    }
}