.notifications-menu {
    min-width     : 360px;
    width         : auto;
    padding       : 10px 15px;
    position      : absolute;
    background    : var(--content-light);
    box-shadow    : var(--shadow-xl);
    border-radius : var(--radius);
    top           : 55px;
    right         : 5px;
    z-index       : 1100;
    border        : 2px solid var(--x-light);

    .notifications-header {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        width           : 100%;
        margin-bottom   : 8px;
        color           : var(--text);
        font-weight     : 500;

        .title {
            font-size : 22px;
        }
    }

    .notifications-navbar {
        display       : flex;
        width         : 100%;
        padding       : 0 0 10px;
        margin-bottom : 16px;
        color         : var(--text);
        border-bottom : 1px solid var(--content-light);

        .navlink {
            padding          : 4px 12px;
            cursor           : pointer;
            background-color : var(--content-light);
            border-radius    : var(--radius);
            box-shadow       : var(--shadow-tiny);

            &.active {
                background-color : var(--primary);
                color            : white;
            }

            &:nth-child(2) {
                margin-left : 8px;
            }
        }
    }

    .empty-notifications {
        display     : flex;
        align-items : center;
        justify-content: center;
        padding     : 0 8px;
        color       : var(--text);
        font-size   : 14px;

        svg {
            width        : 30px;
            height       : 30px;
            margin-right : 20px;
        }
    }
}