.notifications-menu {
    min-width     : 360px;
    width         : auto;
    padding       : 10px 15px;
    position      : absolute;
    top           : 55px;
    right         : 5px;
    background    : var(--content-light);
    box-shadow    : var(--shadow-two);
    border-radius : var(--rounded-sm);
    z-index       : 800;

    .notifications-header {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        width           : 100%;
        margin-bottom   : 8px;
        color           : var(--text);
    }

    .icon-input {
        height : 40px;
    }

    .notifications-navbar {
        display : flex;
        width   : 100%;
        padding : 0 0 10px;
        color   : var(--text);

        > div {
            padding          : 1px 12px;
            background-color : var(--content-light);
            border-radius    : var(--rounded-sm);
            border           : 1px solid var(--light-border);
            cursor           : pointer;

            &.active {
                background-color : var(--primary);
                color            : white;
            }

            &:nth-child(2) {
                margin-left : 8px;
            }
        }
    }

    .empty-notifications {
        padding-top     : 5px;
        display         : flex;
        align-items     : center;
        justify-content : center;
        color           : var(--text);
        margin-top      : 10px;

        svg {
            width        : 26px;
            height       : 26px;
            margin-right : 10px;
        }
    }
}

@media(max-width: 576px) {
    .notifications-menu {
        position : fixed;
        width    : 100vw;
        height   : 100vh;
        top      : 60px;
        left     : 0;
        right    : 0;
    }
}

.notification-ticket {
    position        : relative;
    display         : flex;
    padding         : 5px;
    padding-right   : 20px;
    border-radius   : var(--rounded-sm);
    cursor          : pointer;

    &:hover {
        background-color : var(--x-light);
    }

    .left {
        margin-right : 10px;
    }

    .right {
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        .notification-infos {
            color       : var(--text-secondary);
            line-height : 18px;

            a {
                font-weight : 600;
                color       : var(--text);
            }
        }

        .date {
            font-size : 12px;
            color     : var(--primary);
        }

        .notification-actions {
            display         : flex;
            justify-content : space-between;
            padding-top     : 8px;

            button {
                width      : 48.5%;
                height     : 30px;
                box-shadow : none;

                &:nth-child(2) {
                    color      : var(--text) !important;
                    background : var(--x-light);
                    border     : 1px solid var(--light-border);
                }
            }
        }
    }

    &.unseen {
        &:before {
            content          : '';
            position         : absolute;
            top              : 7px;
            right            : 5px;
            background-color : var(--primary);
            width            : 15px;
            height           : 15px;
            border-radius    : 50%;
        }
    }
}

.mini-badge {
    position         : absolute;
    right            : 0;
    top              : 0;
    background-color : var(--primary);
    color            : white;
    border           : 2px solid var(--navbar);
    font-size        : 11px;
    line-height      : 11px;
    border-radius    : var(--rounded-full);
    height           : 20px;
    width            : 20px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
}

.notifications-menu-card {
    display       : flex;
    padding       : 10px 3px;
    border-radius : var(--rounded-sm);
    cursor        : pointer;

    .notification-body {
        .notification-title {
            font-size          : 13px;
            line-height        : 19px;
            max-height         : 66px;
            width              : 100%;
            text-overflow      : ellipsis;
            overflow           : hidden;
            display            : -webkit-box;
            -webkit-line-clamp : 3;
            -webkit-box-orient : vertical;

            a {
                font-weight : 400;
            }
        }
        .notification-date {
            font-size : 12px;
            color     : var(--text-secondary);
        }
        .notification-btn-container {
            display         : flex;
            justify-content : space-between;
            margin-top      : 5px;
            button {
                width:49%;
            }
        }
    }
    .notification-bubble {
        position  : relative;
        min-width : 18px;
        &:before {
            content          : '';
            position         : absolute;
            top              : 5px;
            right            : 0;
            background-color : var(--primary);
            width            : 12px;
            height           : 12px;
            border-radius    : var(--rounded-full);
        }
    }
}