.online-users-menu {
    position   : fixed;
    right      : -102%;
    bottom     : 0;
    top        : 60px;
    width      : 350px;
    padding    : 10px 0;
    background : var(--content);
    box-shadow : var(--shadow-right);
    z-index    : 700;
    opacity    : 1;
    transition : .3s ease;
    overflow-y : auto;
    overflow-x : hidden;

    &.open {
        right      : 0;
        transition : .3s ease;
    }

    .online-users-header {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        padding         : 4px 10px;
        margin-bottom   : 6px;
    }

    h2 {
        font-size : 18px;
    }

    .tools_btn {
        background : transparent;
    }

    .online-title {
        position       : relative;
        color          : var(--text-secondary);
        margin-bottom  : 4px;
        padding        : 0 10px;
        text-transform : uppercase;
        letter-spacing : .7px;
    }
}

@media(max-width: 576px) {
    .online-users-menu {
        width : 100%;
    }
}

.online-users {
    display         : flex;
    position        : relative;
    align-items     : center;
    justify-content : space-between;
    padding         : 10px 10px;
    border-radius   : var(--rounded-sm);
    cursor          : pointer;

    .online-user {
        display : flex;

        .online-user-img {
            width         : 36px;
            height        : 36px;
            border-radius : 50%;
            margin-right  : 10px;
        }

        .online-user-pseudo {
            line-height : 16px;
            color       : var(--text);
            font-weight : 500;
        }

        .online-user-status {
            font-size  : 12px;
            margin-top : 3px;
            color      : var(--text-secondary)
        }
    }

    &.online {
        .online-user-img {
            border : 2px solid var(--green);
        }
    }

    &.offline {
        .online-user {
            opacity : 0.5;
        }
        .tools_btn {
            opacity : 0.5
        }
    }

    &:hover {
        background : var(--x-light);
    }
}