.search-page {
    position         : relative;
    width            : 100%;
    background-color : var(--content-x-light);

    .search-header {
        position         : relative;
        background-color : var(--light);

        .search-header-inner {
            max-width : 1000px;
            margin    : 0 auto;

            .header_input_flex {
                position : relative;
                display  : flex;
                width    : 100%;
                margin   : 10px 0;
    
                > div {
                    width : 50%;
                    &:nth-child(1) {
                        margin-right : 4px;
                    }
                    &:nth-child(2) {
                        margin-left : 4px;
                    }
                }
            }
    
            .btn_container {
                display         : flex;
                justify-content : space-between;
                align-items     : center;
                margin-top      : 10px;
            }
        }
    }

    .results-container {
        position : relative;
        width    : 100%;

        .results-top {
            font-size      : 18px;
            padding-bottom : 30px;
            
            span {
                font-size : 16px;
                color     : var(--text-secondary);
            }
        }

        .results-content {
            display         : flex;
            justify-content : space-between;
            flex-wrap       : wrap;
            width           : 100%;
            min-height   : 100%;

            .card {
                max-width  : 424px;
            }
        }
    }
}