.settings-menu {
    width         : 300px;
    height        : auto;
    position      : absolute;
    background    : var(--content);
    border-radius : 5px;
    top           : 55px;
    right         : 5px;
    z-index       : 1100;
    color         : var(--text);
    box-shadow    : var(--shadow-xl);
    border        : 2px solid var(--content-x-light);

    .settings-menu-header {
        display         : flex;
        align-items     : center;
        padding         : 10px;

        .brand {
            text-align : center;
            width      : 100%;
            margin     : 0;
        }

        svg {
            height        : 36px;
            width         : 36px;
            padding       : 7px;
            border-radius : 30px;
            cursor        : pointer;
            background    : var(--content-light);;

            &:hover {
                background : var(--content-light);;
                
                path {
                    fill : var(--primary);
                }
            }
        }
    }

    .settings-menu-ul {
        padding         : 0;
        margin          : 0;
        list-style-type : none;

        .settings-menu-li {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            height          : 52px;
            border-left     : 3px solid transparent;
            cursor          : pointer;
            
            .settings-menu-li-left {
                display     : flex;
                align-items : center;
                padding     : 0 0 0 10px;
                height      : 100%;
                width       : auto;

                p {
                    margin    : 0 0 0 10px;
                    font-size : 15px;
                }

                svg {
                    height        : 36px;
                    width         : 36px;
                    padding       : 7px;
                    border-radius : 30px;
                    background    : var(--content-light);
                }
            }

            .settings-menu-li-right {
                display     : flex;
                align-items : center;
                padding     : 0 0 0 10px;
                height      : 100%;
                width       : auto;

                svg {
                    height        : 36px;
                    width         : 36px;
                    padding       : 7px;
                    border-radius : 30px;
                    margin-right  : 5px;
                }
            }

            &:hover {
                background  : var(--content-light);
                border-left : 3px solid var(--primary);

                svg {
                    background  : var(--content);
                    path {
                        fill : var(--text);
                    }
                }
            }

            .switch {
                position : relative;
                display  : inline-block;
                width    : 60px;
                height   : 28px;
                margin : 0 10px 0 0;

                input { 
                    opacity : 0;
                    width   : 0;
                    height  : 0;
            
                    &:checked + .slider {
                        background-color : var(--primary);
            
                        &:before {
                            transform : translateX(32px);
                        }
                    }
            
                    &:focus + .slider {
                        box-shadow : 0 0 1px #2196F3;
                    }
                }
            
                .slider {
                    position         : absolute;
                    cursor           : pointer;
                    top              : 0;
                    left             : 0;
                    right            : 0;
                    bottom           : 0;
                    background-color : #ccc;
                    transition       : .4s;
            
                    &:before {
                        position         : absolute;
                        content          : "";
                        height           : 20px;
                        width            : 20px;
                        left             : 4px;
                        bottom           : 4px;
                        background-color : white;
                        transition       : .4s;
                    }
                }
            }
            .slider.round {
                border-radius : 34px;
            
                &:before {
                    border-radius : 50%;
                }
            }
        }
    }
}