.sidebar {
    position     : fixed;
    height       : calc(100vh - 60px);
    min-width    : 280px;
    max-width    : 280px;
    background   : var(--content-light);
    box-shadow   : var(--shadow-left);
    z-index      : 799;
    overflow-y   : hidden;

    &.reduced {
        max-width : 80px;
        min-width : 80px;
    }

    .sidebar-header {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        width           : 100%;
        padding-left    : 16px;
        padding-right   : 16px;
        height          : 54px;
        color           : var(--text);
        background      : var(--light);

        &.reduced {
            justify-content : center;
        }

        .sidebar-header-inner {
            display     : flex;
            align-items : center;

            &.reduced {
                display : none;
            }

            p {
                font-size      : 16px;
                font-weight    : 500;
                text-transform : uppercase;

                span {
                    font-size   : 15px;
                    margin-left : 8px;
                    color       : var(--text-secondary);
                }
            }
        }

        .sidebar-header-toggle {
            display    : flex;
            cursor     : pointer;

            svg {
                height : 20px;
                width  : 20px;
                color  : var(--svg-x-light);
            }

            &:hover {
                svg {
                    color : var(--primary);
                }
            }
        }

        &.reduced {
            .sidebar-header-toggle {
                svg {
                    transform : rotate(180deg);
                }
            }
        }
    }

    .sidebar-inner {
        position   : relative;
        height     : calc(100% - 108px);
        padding    : 10px 0;
        overflow-x : hidden;
        overflow-y : auto;

        .sidebar-container {
            width : 100%;

            .sidebar-title {
                display         : flex;
                align-items     : center;
                justify-content : space-between;
                padding         : 10px 15px;
                color           : var(--text-secondary);

                svg {
                    width  : 16px;
                    height : 16px;
                }

                &:hover {
                    color      : var(--text);
                    background : var(--content);
                }

                &.reduced {
                    justify-content : center;
                }

                .sidebar-title-inner {
                    display     : flex;
                    align-items : center;

                    .sidebar-img {
                        width         : 26px;
                        height        : 26px;
                        flex-shrink   : 0;
                        border-radius : var(--rounded-md);

                    }

                    .sidebar-name {
                        font-size    : 14px;
                        padding-left : 12px;
                        width        : 80%;

                        &.reduced {
                            display : none;
                        }
                    }
                }
            }

            a {
                &.active {
                    .sidebar-title {
                        background : var(--content);
                    }
                }
            }

            .sidebar-submenu {
                a {
                    display     : flex;
                    padding     : 10px 27px;
                    height      : 100%;
                    width       : 100%;
                    color       : var(--text-secondary);

                    &.active {
                        color : var(--text);
                    }

                    svg {
                        width        : 18px;
                        height       : 18px;
                        margin-right : 8px;
                        fill         : var(--svg-light);
                    }
    
                    .sidebar-submenu-text {
                        display : flex;
    
                        span {
                            font-size   : 11px;
                            margin-left : 8px;
                            margin-top  : 4px;
                        }
                    }
    
                    &:hover {
                        background : var(--content);
                        color      : var(--text);
                        svg {
                            color : var(--primary);
                        }
                    }
                    &.active {
                        color : var(--text);
                        svg {
                            color : var(--primary);
                        }
                    }
                }

                &.reduced {
                    a {
                        justify-content : center;
                        svg {
                            margin : 0;
                        }
                        .sidebar-submenu-text {
                            display : none;
                        }
                    }
                }
            }
        }
    }

    .sidebar-bottom {
        position    : relative;
        display     : flex;
        align-items : center;
        padding     : 0 16px;
        width       : 100%;
        height      : 54px;
        color       : var(--text);
        background  : var(--light);
        margin-top  : auto;

        .sidebar-bottom-avatar {
            width         : 24px;
            height        : 24px;
            border-radius : var(--rounded-full);
        }

        .sidebar-bottom-pseudo {
            font-size    : 16px;
            padding-left : 10px;
        }

        &.reduced {
            justify-content : center;

            .sidebar-bottom-pseudo {
                display : none;
            }
        }
    }

    .sidebar-skeleton {
        width       : 100%;
        height      : 60px;
        display     : flex;
        align-items : center;
        padding     : 12px 16px;

        .sidebar-skeleton-card {
            display         : flex;
            align-items     : center;
            width           : 100%;

            .sidebar-skeleton-round {
                min-width     : 26px;
                min-height    : 26px;
                border-radius : var(--rounded-md);
                background    : var(--color-skeleton);
            }

            .sidebar-skeleton-text {
                background    : var(--color-skeleton);
                width         : 60%;
                height        : 14px;
                border-radius : var(--rounded-md);
                margin        : 0 12px;
            }
        }

        &:nth-child(1) {
            .sidebar-skeleton-card {
                .sidebar-skeleton-text {
                    width : 75%;
                }
            }
        }
        &:nth-child(3) {
            .sidebar-skeleton-card {
                .sidebar-skeleton-text {
                    width : 70%;
                }
            }
        }
        &:nth-child(5) {
            .sidebar-skeleton-card {
                .sidebar-skeleton-text {
                    width : 50%;
                }
            }
        }

        svg {
            color : var(--text);
        }

        &.reduced {
            .sidebar-skeleton-card {
                justify-content : center;

                .sidebar-skeleton-text {
                    display : none;
                }
            }
        }
    }
}

@media(max-width: 769px) {
    .sidebar {
        height       : calc(100vh - 54px);
        width         : 100%;
        max-width     : unset;
        max-height    : 100%;
        border-bottom : 1px solid var(--light-border);
        box-shadow    : none;
        &.reduced {
            max-width  : unset;
            min-width  : 100%;
            max-height : 54px;
        }

        .sidebar-inner {
            height : calc(100% - 108px);
        }
        
        .sidebar-header {
            max-height : 54px;
            &.reduced {
                justify-content : space-between;
            }
    
            .sidebar-header-inner {
                &.reduced {
                    display : flex;
                }
            }
        }
    }
}