.sidebar {
    position     : relative;
    height       : 100%;
    min-width    : 280px;
    max-width    : 280px;
    background   : var(--content);
    box-shadow   : var(--shadow-left);
    z-index      : 800;
    overflow-y   : hidden;
    border-right : 2px solid var(--primary);

    &.reduced {
        max-width : 80px;
        min-width : 80px;
    }

    .sidebar-header {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        width           : 100%;
        padding-left    : 16px;
        padding-right   : 16px;
        height          : 70px;
        color           : var(--text);
        background      : var(--light);

        &.reduced {
            justify-content : center;
        }

        .sidebar-header-inner {
            display     : flex;
            align-items : center;

            &.reduced {
                display : none;
            }

            .sidebar-header-icon {
                display          : flex;
                align-items      : center;
                justify-content  : center;
                padding          : 8px;
                background-color : var(--content);
                border-radius    : var(--radius);

                svg {
                    height : 20px;
                    width  : 20px;
                }
            }

            p {
                margin-left : 12px;
                font-size   : 16px;
                font-weight : 500;

                span {
                    background-color : var(--content);
                    height           : 20px;
                    font-size        : 15px;
                    padding          : 4px 8px 3px;
                    margin-left      : 8px;
                    border-radius    : var(--radius);
                }
            }
        }

        .sidebar-header-toggle {
            cursor : pointer;

            svg {
                height : 20px;
                width  : 20px;
            }
        }
    }

    .sidebar-inner {
        position   : relative;
        height     : calc(100% - 140px);
        padding    : 10px 0;
        overflow-x : hidden;
        overflow-y : auto;

        .sidebar-container {
            width   : 100%;
            padding : 4px 8px;

            .sidebar-title {
                display         : flex;
                align-items     : center;
                justify-content : space-between;
                position        : relative;
                padding         : 10px 16px;
                color           : var(--text-secondary);
                border-radius   : var(--radius);
                cursor          : pointer;

                &:hover {
                    color : var(--primary);
                }

                &.reduced {
                    justify-content : center;
                }

                .sidebar-title-inner {
                    display     : flex;
                    align-items : center;

                    .sidebar-img {
                        width         : 30px;
                        height        : 30px;
                        border-radius : 50px;
                        border        : 2px solid var(--light-border);

                    }

                    .sidebar-name {
                        font-size    : 14px;
                        padding-left : 12px;

                        &.reduced {
                            display : none;
                        }
                    }
                }
            }

            .sidebar-submenu {
                padding     : 0 8px 0 0;
                margin-left : 30px;
                border-left : 1px solid var(--light-border);

                a {
                    display         : flex;
                    justify-content : flex-start;
                    align-items     : center;
                    position        : relative;
                    margin          : 5px 0;
                    padding         : 8px 16px;
                    height          : 100%;
                    width           : 100%;
                    font-size       : 14px;
                    color           : var(--text-secondary);
                    border-radius   : var(--radius);
                    cursor          : pointer;

                    &.active {
                        color : var(--primary);
                    }

                    svg {
                        width        : 20px;
                        height       : 20px;
                        margin-right : 8px;
                    }
    
                    .sidebar-submenu-text {
                        display     : flex;
                        align-items : center;
    
                        span {
                            height           : 20px;
                            font-size        : 13px;
                            padding          : 1px 8px;
                            margin-left      : 8px;
                            border-radius    : var(--radius);
                            background-color : var(--content-x-light);
                        }
                    }
    
                    &:hover {
                        color : var(--primary);
                    }
                }

                &.reduced {
                    padding : 4px;
                    border  : none;
                    margin  : 0;

                    a {
                        margin-left     : 0;
                        justify-content : center;
                        padding         : 8px 4px;

                        svg {
                            margin : 0;
                        }

                        .sidebar-submenu-text {
                            display : none;
                        }
                    }
                }
            }
        }
    }

    .sidebar-bottom {
        position        : absolute;
        bottom          : 0;
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        padding         : 0 12px 0 20px;
        width           : 100%;
        height          : 70px;
        color           : var(--text);
        background      : var(--light);

        .sidebar-bottom-inner {
            display     : flex;
            align-items : center;

            .sidebar-bottom-avatar {
                width         : 28px;
                height        : 28px;
                border-radius : 30px;
            }

            .sidebar-bottom-pseudo {
                display      : flex;
                font-size    : 16px;
                padding-left : 12px;
            }
        }

        &.reduced {
            padding-left    : 12px;
            justify-content : center;

            .sidebar-bottom-pseudo {
                display : none;
            }
        }
    }

    .sidebar-skeleton {
        width       : 100%;
        height      : 60px;
        display     : flex;
        align-items : center;
        padding     : 12px 16px;
        cursor      : pointer;

        .sidebar-skeleton-card {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            width           : 100%;

            .sidebar-skeleton-round {
                min-width        : 30px;
                min-height       : 30px;
                border-radius    : 30px;
                background-color : var(--color-skeleton);
            }

            .sidebar-skeleton-text {
                background-color : var(--color-skeleton);
                width            : 100%;
                height           : 28px;
                border-radius    : 30px;
                margin           : 0 8px;
            }
        }

        svg {
            color : var(--text);
        }

        &.reduced {
            .sidebar-skeleton-card {
                justify-content : center;

                .sidebar-skeleton-text {
                    display : none;
                }
            }
        }
    }
}