.message-files-container {
    display : block;
    width   : 100%;
    
    .files-block {
        position      : relative;
        display       : inline-block;
        border-radius : 5px;
        margin        : 5px 0;

        iframe {
            border-radius  : var(--radius);
            pointer-events : none;
            overflow       : hidden;
            object-fit     : fill;
            width          : 100%;
            max-width      : 500px;
        }

        .video-block {
            max-width  : 400px;
            max-height : 220px;
            .video-js {
                max-width  : 400px;
                max-height : 220px;
            }
        }

        &:hover, &:active {
            .files-tools {
                display : flex;
            }
        }
    }

    .files-tools {
        display       : none;
        position      : absolute;
        right         : 7px;
        top           : 7px;
        border        : 1px solid var(--light-border);
        border-radius : var(--radius);

        button {
            padding          : 4px;
            background-color : var(--content-x-light);
            cursor           : pointer;
    
            svg {
                height : 18px;
                width  : 18px;
                color  : var(--text);
            }

            &:hover {
                background: var(--light);
            }
        }
    }
}