.share-message-modal {
    .conversation-toolsbox,
    .message-text-editor,
    .message-text-tools,
    .ql-editor {
        background:var(--content-x-light) !important;
    }

    .quill, .ql-editor {
        min-height : 100px;
    }

    .btn-container {
        padding-top     : 10px;
        display         : flex;
        justify-content : flex-end;
        
        .save-tool {
            font-size        : 12px;
            padding          : 4px 8px 5px;
            border-radius    : 3px;
            background-color : var(--dark-green);
            color            : white;

            &:disabled {
                opacity : 0.5;
            }
        }

        .cancel-tool {
            font-size     : 12px;
            padding       : 4px 8px;
            margin-right  : 7px;
            border        : 1px solid var(--light-border);
            border-radius : 3px;
        }
    }
}

@media(max-width:576px) {
    .conversation-box-wrapper {
        .modal_wrapper {
            padding : 0;
            overflow-y: hidden;
            .modal_container {
                margin : 0;
            }
            .share-message-modal {
                width         : 100%;
                height        : 100vh;
                border        : none;
                border-radius : 0;
                .btn-container {
                    position        : fixed;
                    bottom          : 0;
                    left            : 0;
                    justify-content : space-around;
                    padding         : 10px;
                    width           : 100%;
                    button {
                        font-size     : 12px;
                        padding       : 8px 8px 6px;
                        margin-right  : 0;
                        border        : 1px solid var(--light-border);
                        border-radius : 3px;
                        width         : 49%;
                    }
                }
            }
        }
    }
}

.shared-message {
    margin-top  : 8px;
    padding     : 3px 5px 3px 10px;
    border-left : 2px solid var(--light-border);

    .message-top {
        display       : flex;
        align-items   : center;
        margin-bottom : 3px;
        .message-img {
            width         : 17px;
            height        : 17px;
            border-radius : 50%;
            margin-right  : 5px;
        }

        .message-infos {
            font-size     : 15px;
            margin-right  : 7px;
            font-weight   : 500;
            line-height   : 15px;

            span {
                font-size   : 11px;
                color       : var(--text-secondary);
                margin-left : 5px;
                font-weight : 300;
            }
        }
    }
}