.explore-more {
    position   : relative;
    padding    : 20px 10px;
    margin-top : 60px;
    border-top : 1px solid var(--light-border);

    .explore-more-tags {
        display     : flex;
        align-items : center;
        flex-wrap   : wrap;
        padding-top : 20px;

        .tag {
            display       : flex;
            align-items   : center;
            padding       : 5px 10px;
            margin-right  : 10px;
            margin-top    : 10px;
            border-radius : var(--rounded-sm);
            color         : var(--text-secondary);

            span {
                color        : var(--primary);
                font-weight  : 700;
                font-size    : 18px;
            }
        }
    }
}