.project-page {
    min-height : 100vh;
}

.project-page-body {
    background : var(--content-light);
    .ql-image {
        width  : 100%;
        margin : 30px 0;
    }
    .content_nav-sticky {
        padding : 0;
        .content_nav {
            border : none;
        }
    }
}