.project-tags {
    position  : relative;
    display   : flex;
    flex-wrap : wrap;
    padding   : 10px 0;

    > div {
        display          : flex;
        align-items      : center;
        margin           : 2px;
        padding          : 3px 5px;
        color            : var(--text);
        background-color : var(--light);
        border-radius    : var(--rounded-sm);

        span {
            color : var(--primary);
        }

        svg {
            margin-left : 5px;
        }
    }
}