.messenger {
    height           : (calc(100vh - 60px));
    display          : flex;
    background-color : var(--content-light);

    h2 {
        font-size   : 22px;
        line-height : 22px;
    }
}

.no-conversation-yet {
    position       : absolute;
    top            : 50%;
    left           : 0;
    transform      : translateY(-50%);
    display        : flex;
    flex-direction : column;
    align-items    : center;
    width          : 100%;
    max-height     : 500px;
    margin         : auto;

    img {
        width  : 40%;
        margin : 0 auto;
    }

    p {
        text-align : center;
        font-size  : 16px;
    }

    .user-avatar {
        height        : 80px;
        width         : 80px;
        border-radius : 50%;
        border        : 3px solid  var(--content-x-light);

        &:nth-child(n+2) {
            margin-left : -34px;
        }
    }
    
    .user-pseudo {
        font-size   : 26px;
        font-weight : 600;
        margin-top  : 10px;
    }
}

.conversation-scroll-btn {
    position        : absolute;
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 160px;
    left            : 49%;
    transform       : translateX(-50%);
    top             : -36px;
    padding         : 4px 0;
    font-size       : 13px;
    border-radius   : var(--radius);
    background      : var(--primary);
    color           : white;
    z-index         : 700;

    span {
        margin-right : 6px;
    }
}

.notification-message {
    position      : absolute;
    height        : auto;
    width         : 370px;
    right         : 20px;
    bottom        : 20px;
    background    : var(--content);
    z-index       : 1000;
    font-size     : 13px;
    border-radius : var(--radius);

    .top {
        display : flex;
        padding : 15px 15px 0 15px;

        svg {
            width        : 16px;
            height       : 16px;
            margin-right : 10px;
            color        : var(--primary);
        }

        .subject {
            margin-right : 10px;
            color        : white;
        }
    }

    .notification-content {
        display         : flex;
        justify-content : space-between;
        padding         : 7px 15px 15px;

        .left {
            .sender {
                font-size : 16px;
                color     : white;
            }

            p {
                margin : 0;
            }
        }

        .right {
            width         : 35px;
            height        : 35px;
            border-radius : 30px;
        }
    }

    .bottom {
        padding       : 10px 15px;
        background    : #474c56;
        border-radius : 0 0 3px 3px;

        button {
            background : none;
            border     : none;
            color      : white;
        }
    }
}