.messenger {
    height           : (calc(100vh - 60px));
    display          : flex;
    background-color : var(--content-light);

    .conversation-menu {
        width   : 28%;
        padding : 10px;

        .conversation {
            display       : flex;
            align-items   : center;
            padding       : 10px;
            cursor        : pointer;

            &:hover {
                background    : var(--content-x-light);
                border-radius : var(--radius);
            }

            &.new-notification {
                background : rgba(var(--primary-rgb), 0.2);
            }
            
            .conversation-img-container {
                display      : flex;
                position     : relative;
                margin-right : 10px;

                .conversation-img {
                    min-width     : 44px;
                    min-height    : 44px;
                    border-radius : 50%;
    
                    &:nth-child(n+2) {
                        margin-left : -28px;
                    }
                }
            }

            .conversation-infos {
                width : 100%;

                .conversation-infos-top {
                    display         : flex;
                    justify-content : space-between;

                    .conversation-name {
                        display     : flex;
                        color       : var(--text);
                        font-size   : 14px;
                    }
        
                    .conversation-date {
                        font-size : 12px;
                        color     : var(--text-secondary);
                    }
                }
    
                .last-message-wrapper {
                    display    : flex;
                    margin-top : 5px;
                    font-size  : 12px;
                    color      : var(--text-secondary);
                    position   : relative;
                    
                    p {
                        font-size : 12px !important;
                    }

                    .unseen-messages {
                        position        : absolute;
                        right           : 0;
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        width           : 24px;
                        height          : 24px;
                        border-radius   : 20px;
                        background      : var(--primary);
                        color           : white;
                    }
                }
            }
        }
    }

    .conversation-box {
        width : 50%;

        .conversation-box-wrapper {
            display        : flex;
            flex-direction : column;
            height         : 100%;

            .conversation-box-top {
                position        : relative;
                display         : flex;
                justify-content : space-between;
                height          : 60px;
                padding         : 10px 20px;
                background      : var(--content);
                box-shadow      : var(--shadow-xl);

                .conversation-box-members {
                    display     : flex;
                    align-items : center;
                    cursor      : pointer;
            
                    .conversation-img-container {
                        display      : flex;
                        position     : relative;
                        height       : 32px;
                        margin-right : 10px;
        
                        .conversation-img {
                            min-width     : 32px;
                            min-height    : 32px;
                            border-radius : 50%;
            
                            &:nth-child(n+2) {
                                margin-left : -12px;
                            }
                        }
                    }

                    .conversation-name {
                        display     : flex;
                        align-items : center;

                        svg {
                            margin-left : 5px;
                            width       : 20px;
                            height      : 20px;
                        }
                    }
                }

                .conversation-box-menu {
                    display         : flex;
                    align-items     : center;
                    height          : 100%;

                    svg {
                        height : 25px;
                        width  : 25px;
                    }
                }

                .conversation-tools {
                    position      : absolute;
                    top           : 50px;
                    right         : 0;
                    width         : 200px;
                    background    : var(--content);
                    padding       : 10px 0;
                    border-radius : var(--radius);
                    z-index       : 10;

                    button {
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        font-size       : 14px;
                        height          : 30px;
                        width           : 100%;
                        border          : none;
                        background      : transparent;
                        color           : var(--text-color);

                        svg {
                            margin-right : 10px;
                        }
                    }
                }
            }

            .conversation-box-container {
                position         : relative;
                height           : 100%;
                overflow-y       : auto;
                padding          : 10px;
                background-color : var(--content-x-light);
            }
        }

        .messages-date {
            position    : relative;
            display     : flex;
            align-items : center;
            z-index     : 10;
            cursor      : pointer;

            .date {
                display       : flex;
                align-items   : center;
                text-align    : center;
                margin        : 0 auto;
                padding       : 6px 26px;
                font-size     : 12px;
                background    : var(--content);
                border-radius : 30px;

                svg {
                    width       : 20px;
                    height      : 20px;
                    margin-top  : 1px;
                    margin-left : 10px;
                }
            }

            .message-date-sort-tools {
                background    : var(--content);
                position      : absolute;
                top           : 32px;
                left          : 57%;
                transform     : translateX(-50%);
                padding       : 20px 0;
                font-size     : 14px;
                color         : white;
                border-radius : var(--radius);
                z-index       : 11;

                ul {
                    list-style-type : none;
                    padding         : 0;
                    margin          : 0;

                    li {
                        white-space : nowrap;
                        padding     : 5px 30px;
                        &:hover {
                            background : var(--body);
                        }
                    }
                }

            }
        }

        .message {
            position      : relative;
            display       : flex;
            padding       : 15px 20px;
            width         : 100%;
            border-radius : var(--radius);

            &:hover {
                background : var(--content);
            }

            .message-left {
                display : flex;

                .message-img {
                    width         : 38px;
                    height        : 38px;
                    border-radius : var(--radius);
                    margin-right  : 10px;
                }
            }

            .message-right {
                position : relative;
                width    : 100%;

                .message-right-top {
                    display       : flex;
                    align-items   : flex-end;
                    margin-bottom : 3px;

                    .message-sender {
                        font-size    : 15px;
                        line-height  : 17px;
                        margin-right : 7px;
                        font-weight  : 500;
                        color        : white;

                        span {
                            margin-left : 5px;
                            font-size   : 12px;
                            line-height : 17px;
                            color       : var(--text-secondary);
                        }
                    }
                }

                .message-text {
                    margin : 0 0 5px 0;
                    
                    width : 100%;
                    color : rgb(223, 223, 223);

                    p {
                        margin      : 0;
                        line-height : 17px;
                    }
                }

                .emoji-container {
                    display     : flex;
                    padding-top : 4px;

                    .emoji {
                        position        : relative;
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        width           : 30px;
                        height          : 22px;
                        margin-right    : 5px;
                        border-radius   : 15px;
                        background      : rgba(var(--primary-rgb), 0.45);
                        border          : 1px solid var(--primary);
                    }
                    .emoji-add {
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        width           : 30px;
                        height          : 22px;
                        margin-right    : 5px;
                        border-radius   : 15px;
                        background      : var(--body);
                        cursor          : pointer;
                    }
                }
            }

            .message-actions {
                display       : flex;
                position      : absolute;
                right         : 10px;
                top           : -10px;
                padding       : 5px 10px;
                border-radius : var(--radius);
                background    : var(--body);
                cursor        : pointer;

                .message-actions-btn {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    padding         : 5px;
                    margin          : 0 5px;
                    border-radius   : var(--radius);

                    svg {
                        width  : 14px;
                        height : 14px;
                    }

                    &:hover {
                        background : var(--content);
                    }
                }

                .message-tools-menu {
                    position       : absolute;
                    right          : 0;
                    top            : -72px;
                    display        : flex;
                    flex-direction : column;
                    background     : var(--body);
                    padding        : 5px;
                    z-index:10;

                    button {
                        width         : 100%;
                        background    : var(--body);
                        border-radius : var(--radius);
                        padding       : 5px 10px;
                        border        : none;
                        color         : white;
                        font-size     : 14px;
                        
                        &:hover {
                            background: var(--content);
                        }
                    }
                }
            }

            .message-text-editor {
                width : 100%;

                .ql-toolbar.ql-snow, .ql-container.ql-snow {
                    border        : 1px solid white;
                    border-radius : var(--radius);
                    margin-bottom : 3px;
                }
                .ql-snow .ql-stroke, .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
                    stroke : white;
                }
                .ql-editor.ql-blank::before {
                    color : white;
                }

                .conversation-input {
                    width      : 500px;
                    min-height : 40px;
                    padding    : 10px;
                    border     : none;
                    outline    : none;
                }

                .ql-editor {
                    padding : 10px 15px;

                    &::placeholder {
                        color : white;
                    }
                }
            }

            .message-text-tools {
                display         : flex;
                justify-content : space-between;
                align-items     : center;
                width           : 100%;
                padding         : 0 10px 5px;

                .left, .right {
                    display : flex;
                    .btn {
                        padding     : 5px 7px !important;
                        display     : flex;
                        align-items : center;
                    }
                }

                .emoji-picker-container {
                    position : absolute;
                    right    : 0;
                    bottom   : 70px;
                }
            }
        }

        .conversation-bottom {
            position        : relative;
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            justify-content : space-between;
            color           : white;
            border-radius   : var(--radius);
            border          : 1px solid white;
            background      : var(--content);
        }

        .quill .ql-container.ql-snow {
            background : var(--content);
        }

        .is-typing {
            position      : absolute;
            font-size     : 12px;
            top           : -32px;
            right         : 20px;
            padding       : 3px 10px;
            background    : rgba(var(--primary-rgb), 086);
            color         : white;
            border-radius : var(--radius);

            svg {
                margin-left: 10px;
                max-height : 11px;
                width      : 30px;
            }
        }

        .message-text-editor {
            width : 100%;

            .ql-toolbar.ql-snow, .ql-container.ql-snow {
                border : none;
            }
            .ql-snow .ql-stroke, .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
                stroke : var(--text);
            }
            .ql-editor.ql-blank::before {
                color : var(--text);
            }

            .ql-editor {
                padding : 10px 15px;

                &::placeholder {
                    color : var(--text);
                }
            }
        }

        .message-text-tools {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            width           : 100%;
            padding         : 0 10px 5px;

            .left, .right {
                display : flex;
                .btn {
                    padding     : 5px 7px !important;
                    display     : flex;
                    align-items : center;
                }
            }

            .emoji-picker-container {
                position : absolute;
                right    : 0;
                bottom   : 70px;
            }
        }
    }
}

.online-users-container {
    width   : 22%;
    padding : 10px;

    .online-users {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        position        : relative;
        padding         : 10px 15px;
        border-radius   : var(--radius);
        cursor          : pointer;

        .online-user {
            display : flex;

            .online-user-img {
                width         : 44px;
                height        : 44px;
                border-radius : 50%;
                margin-right  : 10px;
            }

            .online-user-name {
                .online-user-pseudo {
                    line-height : 18px;
                    color       : var(--text);
                    font-weight : 600;
                }
                .online-user-status {
                    font-size  : 12px;
                    margin-top : 7px;
                    color      : var(--text-secondary)
                }
            }
        }

        .online-badge {
            width            : 18px;
            height           : 18px;
            border-radius    : 50%;
            background-color : var(--content-x-light);

            &.connected {
                background-color : var(--primary);
            }
        }

        &:hover {
            background : var(--content);
        }

        .online-user-menu {
            position      : absolute;
            left          : -155px;
            top           : 0px;
            background    : var(--content);
            border-radius : var(--radius);
            padding       : 10px 0;

            ul {
                margin  : 0;
                padding : 0;

                li {
                    padding : 5px 30px;

                    &:hover {
                        background : var(--body);
                    }
                }
            }
        }
    }

    h3 {
        padding       : 8px 15px;
    }
}

.emoji-popup {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    position        : absolute;
    bottom          : 30px;
    background      : var(--body);
    border-radius   : var(--radius);
    padding         : 7px;

    span {
        padding       : 7px;
        border-radius : var(--radius);
        background    : var(--content);
    }

    p {
        font-size   : 10px;
        white-space : nowrap;
        margin      : 0;
    }
}

.conversation-scroll-btn {
    position        : absolute;
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 160px;
    left            : 49%;
    transform       : translateX(-50%);
    top             : -36px;
    padding         : 3px 0;
    font-size       : 13px;
    border-radius   : 30px;
    border          : 1px solid var(--primary);
    background      : var(--primary);
    color           : white;

    span {
        margin-right : 6px;
    }
}

/**********************************************************************************/
/******************************** ADD CONVERSATION ********************************/

.add-conversation-modal {
    width          : 470px;
    display        : flex;
    flex-direction : column;

    .header {
        ul {
            display       : flex;
            padding       : 0;
            margin-bottom : 10px;

            li {
                padding       : 3px 5px;
                margin        : 0 8px;
                cursor        : pointer;
                font-size     : 14px;
                border-bottom : 1px solid transparent;

                &:hover {
                    border-bottom : 1px solid var(--primary);
                }
            }
        }
    }

    .add-conversation-bloc {
        padding : 10px 0;
    }

    .conversation-btn-container {
        position   : relative;
        bottom     : 0;
        display    : flex;
        margin-top : 30px;
        width      : 100%;
        button {
            width : 100%;
        }
    }
}

/**********************************************************************************/
/****************************** CONVERSATION MODAL ********************************/

.conversation-modal {
    min-width : 450px;
    .header {
        .conversation-name {
            padding     : 0 10px 10px;
            font-weight : 600;
        }
        ul {
            display       : flex;
            padding       : 0;
            margin-bottom : 10px;

            li {
                padding       : 5px 10px 5px 0;
                cursor        : pointer;
                border-bottom : 1px solid transparent;
                font-size     : 14px;

                &:hover {
                    border-bottom : 1px solid var(--primary);
                }
            }
        }
    }

    .body {
        font-size : 14px;
        .conversation-infos {
            overflow-y : auto;

            .conversation-infos-bloc {
                display         : flex;
                align-items     : center;
                justify-content : space-between;
                padding         : 10px 0;
                border-bottom   : 1px solid var(--light-border);

                &:nth-child(4) {
                    border : none;
                }

                .left {
                    width:100%;
                    .info-title {
                        font-weight   : 600;
                        color         : var(--text);
                        margin-bottom : 10px;
                    }

                    .info {
                        color : var(--text-secondary);
                    }
                }

                .right {
                    margin-left : 40px;
                }
            }

            .conversation-btn-container {
                display    : flex;
                margin-top : 30px;
                button {
                    width : 100%;
                }
            }
        }

        .conversation-members {
            overflow-y : auto;

            .conversation-member {
                display         : flex;
                justify-content : space-between;
                padding         : 10px 0;

                .conversation-member-infos {
                    display : flex;
                    align-items: center;

                    .conversation-member-avatar {
                        height        : 36px;
                        width         : 36px;
                        margin-right  : 10px;
                        border-radius : var(--radius);
                    }
                }
            }
        }
    }
}

.notification-message {
    position      : absolute;
    height        : auto;
    width         : 370px;
    right         : 20px;
    bottom        : 20px;
    background    : var(--content);
    z-index       : 1000000000;
    font-size     : 13px;
    border-radius : var(--radius);

    .top {
        display : flex;
        padding : 15px 15px 0 15px;

        svg {
            width        : 16px;
            height       : 16px;
            margin-right : 10px;
            color        : var(--primary);
        }

        .subject {
            margin-right : 10px;
            color        : white;
        }
    }

    .notification-content {
        display         : flex;
        justify-content : space-between;
        padding         : 7px 15px 15px;

        .left {
            .sender {
                font-size : 16px;
                color     : white;
            }

            p {
                margin:0;
            }
        }

        .right {
            width         : 35px;
            height        : 35px;
            border-radius : 30px;
        }
    }

    .bottom {
        padding       : 10px 15px;
        background    : #474c56;
        border-radius : 0 0 3px 3px;

        button {
            background : none;
            border     : none;
            color      : white;
        }
    }
}