.messenger {
    height           : (calc(100vh - 60px));
    width            : 100%;
    display          : flex;
    background-color : var(--content-light);

    h2 {
        font-size   : 22px;
        line-height : 22px;
    }
}

@media(max-width:992px) {
    .messenger {
        height : (calc(100vh - 54px));
    }
}

.no-conversation-yet {
    position       : absolute;
    top            : 50%;
    left           : 0;
    transform      : translateY(-50%);
    display        : flex;
    flex-direction : column;
    align-items    : center;
    width          : 100%;
    max-height     : 500px;
    margin         : auto;

    img {
        width  : 40%;
        margin : 0 auto;
    }

    p {
        text-align : center;
        font-size  : 16px;
    }

    .user-avatar {
        height        : 80px;
        width         : 80px;
        border-radius : 50%;
        border        : 3px solid  var(--content-x-light);

        &:nth-child(n+2) {
            margin-left : -34px;
        }
    }
    
    .user-pseudo {
        font-size   : 26px;
        font-weight : 600;
        margin-top  : 10px;
    }
}

.conversation-scroll-btn {
    position        : absolute;
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 160px;
    left            : 49%;
    transform       : translateX(-50%);
    top             : -26px;
    padding         : 7px 0;
    font-size       : 13px;
    border-radius   : var(--rounded-sm);
    background      : var(--primary);
    color           : white;
    box-shadow      : var(--shadow-xl);
    z-index         : 700;

    span {
        margin-right : 6px;
        line-height  : 15px;
    }
}