.message-container {
    position        : relative;
    display         : flex;
    justify-content : left;
    min-width       : 100%;
    margin          : 10px 0 0;
    padding         : 4px 15px;
    border-radius   : var(--radius);
    cursor          : pointer;

    &:hover {
        background-color: var(--light);
    }

    &.hovered {
        background-color: var(--content-light);
    }

    .message {
        position : relative;
        width    : 100%;
        display  : flex;
        position : relative;
            
        .message-left {
            min-width : 50px;

            .message-img {
                width         : 38px;
                height        : 38px;
                border-radius : 50%;
                margin-right  : 12px;
            }
        }

        .message-right {
            position : relative;
            width    : 100%;

            .message-right-top {
                display       : flex;
                align-items   : baseline;
                margin-bottom : 2px;
                font-size     : 15px;
                margin-right  : 7px;
                font-weight   : 500;
                line-height   : 15px;

                span {
                    font-size   : 11px;
                    color       : var(--text-secondary);
                    margin-left : 5px;
                }
            }

            .message-text {
                color  : var(--text-secondary);
                p {
                    display:inline-block;
                    vertical-align: bottom;
                    line-height : 20px;
                }
            }
        }

        .message-actions {
            display       : flex;
            position      : absolute;
            top           : -27px;
            right         : 0;
            border-radius : 5px;
            background    : var(--content-x-light);
            box-shadow    : var(--shadow-lg);
            border        : 2px solid var(--light-border);
            cursor        : pointer;

            .message-actions-btn {
                display         : flex;
                align-items     : center;
                justify-content : center;
                padding         : 3px 5.5px;
                width:30px;
                height:30px;

                svg {
                    width  : 18px;
                    height : 18px;
                }

                &:hover, &:hover .tools_box .tools_btn {
                    background-color : var(--light);
                }
            }
        }
    }

    &.loader {
        &:nth-child(2), &:nth-child(5)  {
            justify-content: right;
            .message-left {
                display      : flex;
                align-items  : flex-end;
                order        : 2;
                margin-right : unset;
                .message-img {
                    margin-right : unset;
                    margin-left  : 10px;
                }
            }
            .message-right {
                order : 1;
                .message-right-top {
                    .message-sender {
                        display : none;
                    }
                }
            }

        }
    }

    &.minify {
        margin : 0;
        .message-img {
            display : none;
        }
        .message-right-top {
            display : none !important;
        }
        &:before {
            display   : none;
            content   : attr(data-hour);
            position  : absolute;
            left      : 20px;
            top       : 50%;
            height    : 10px;
            transform : translateY(-50%);
            color     : var(--text-secondary);
            font-size : 10px;
        }
        &:hover {
            &::before {
                display : block;
            }
        }
    }
}

.message-emoji-container {
    display     : flex;
    padding-top : 4px;

    .emoji {
        position         : relative;
        display          : flex;
        align-items      : center;
        padding          : 3px 7px;
        margin-right     : 5px;
        border-radius    : var(--radius);
        background-color : var(--light);

        .tooltip-target {
            height : 16px;
        }

        &.own {
            background : rgba(var(--blue-rgb), 0.55);
            border     : 2px solid var(--blue);
        }

        p {
            line-height : 14px;
            margin-left : 5px;
            color       : white;
        }
    }

    .emoji-add {
        display          : flex;
        align-items      : center;
        justify-content  : center;
        max-width        : 30px;
        max-height       : 24px;
        margin-right     : 5px;
        border-radius    : var(--radius);
        color            : var(--text-secondary);
        cursor           : pointer;

        svg {
            width  : 16px;
            height : 16px;
        }
    }

    .emoji-popup {
        display         : flex;
        align-items     : center;
        min-width: 200px;

        p {
            margin-left : 10px;
            line-height : 18px;
            font-size   : 13px;
        }
    }
}

.messages-date {
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 10;
    cursor          : pointer;

    .date {
        position        : relative;
        display         : inline-block;
        text-align      : center;
        padding         : 6px 20px;
        font-size       : 12px;
        color           : var(--text-secondary);
    }

    .message-date-sort-tools {
        position      : absolute;
        top           : 32px;
        left          : 50%;
        transform     : translateX(-50%);
        padding       : 10px;
        background    : var(--content-light);
        border-radius : var(--radius);
        box-shadow    : var(--shadow-lg);
        z-index       : 700;

        div {
            padding     : 5px 10px;
            white-space : nowrap;

            &:hover {
                background : var(--x-light);
            }
        }
    }
}