.dashboard {
    position   : relative;
    display    : flex;
    width      : 100%;
    min-height : calc(100% - 54px);
    background : var(--content-light);

    .dashboard-content {
        position       : relative;
        width          : calc(100% - 80px);
        min-height     : 100%;
        margin-left    : 80px;
        display        : flex;
        flex-direction : column;
    }

    .dashboard-project {
        background : var(--light);
    }
}

@media(max-width: 768px) {
    .dashboard {
        .dashboard-content {
            width       : 100%;
            margin-left : 0;
        }
    }
}

.dashboard-card {
    position      : relative;
    min-height    : 150px;
    max-height    : 470px;
    padding       : 20px;
    background    : var(--content-light);
    border-radius : var(--rounded-sm);
    margin-bottom : 20px;

    .dashboard-card-container {
        height     : auto;
        max-height : 340px;
        overflow-y : auto;
    }
}

@media(max-width: 768px) {
    .dashboard-card {
        padding : 20px 12px;
    }
}