.dashboard {
    position   : relative;
    display    : flex;
    width      : 100%;
    min-height : calc(100% - 54px);
    background : var(--content);

    .dashboard-content {
        position       : relative;
        width          : calc(100% - 80px);
        min-height     : 100%;
        margin-left    : 80px;
        display        : flex;
        flex-direction : column;
    }

    .dashboard-project {
        background : var(--light);
    }
}

@media(max-width: 768px) {
    .dashboard {
        .dashboard-content {
            width       : 100%;
            margin-left : 0;
        }
    }
}

.dashboard-card {
    position      : relative;
    min-height    : 150px;
    max-height    : 470px;
    padding       : 20px;
    background    : var(--content-light);
    border-radius : var(--rounded-sm);
    margin-bottom : 20px;
    box-shadow    : var(--shadow-tiny);

    h3 {
        span {
            font-size   : 14px;
            margin-left : 4px;
            color       : var(--text-secondary);
            font-weight : 400;
        }
    }

    .dashboard-card-container {
        height     : auto;
        max-height : 340px;
        overflow-y : auto;
    }
}

@media(max-width: 768px) {
    .dashboard-card {
        padding : 20px 12px;
    }
}

.dashboard-big-card {
    position      : relative;
    min-height    : 150px;
    padding       : 20px;
    background    : var(--content-light);
    border-radius : var(--rounded-sm);
    margin-bottom : 20px;
    box-shadow    : var(--shadow-tiny);

    .dashboard-big-card-title {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        padding-bottom  : 10px;

        span {
            font-size   : 18px;
            margin-left : 5px;
            color       : var(--text-tertiary);
        }
    
        .dashboard-members-btn_container {
            display : flex;
        }
    }
}

@media(max-width:576px) {
    .dashboard-big-card {
        .dashboard-big-card-title {
            flex-direction : column;
            align-items    : flex-start;
            .dashboard-big-card-btn_container {
                flex-direction : column;
                width          : 100%;
                button {
                    width  : 100%;
                    margin : 5px 0;
                }
            }
        }
    }
}