.edit-project {
    h1 {
        position      : relative;
        margin-bottom : 20px;
        display       : flex;
        align-items   : center;
        padding       : 0 0 20px 0;
    }

    .dashboard-header_navbar {
        background-color : var(--content);
        .dashboard-header_navbar-content {
            border : none;
        }
    }

    .titles-container {
        padding       : 30px 0;
        text-align    : center;
        border-bottom : 1px solid var(--light-border);

        h1 {
            text-align    : center;
            margin-bottom : 7px;
        }

        h2 {
            color     : var(--text-secondary);
            font-size : 18px;
            max-width : 800px;
            margin    : 0 auto;
        }
    }

    .content_nav {
        margin-bottom : 30px;
        border        : none;
        overflow      : unset;
        div {
            width            : 100%;
            justify-content  : center;
            box-shadow       : var(--shadow-inset-top), var(--shadow-inset-bottom);
            background-color : var(--content-light);

            &:first-child {
                box-shadow : var(--shadow-inset-top), var(--shadow-inset-bottom), var(--shadow-inset-left);
            }
            &:last-child {
                box-shadow : var(--shadow-inset-top), var(--shadow-inset-bottom), var(--shadow-inset-right);
            }

            &.active {
                box-shadow       : var(--shadow-top), var(--shadow-relief);
                color            : unset;
                background-color : transparent;
            }
        }
    }

    .edit-container {
        position   : relative;
        width      : 100%;
        padding    : 40px 0;
        border-top : 1px solid var(--light-border);

        .edit-project-flex-container {
            display : flex;
            width   : 100%;

            .edit-project-flex-content-left {
                position : relative;
                margin   : 0 5% 0 0;
                width    : 45%;
            }

            .edit-project-flex-content-right {
                position : relative;
                width    : 50%;
            }
        }

        h3 {
            font-size     : 18px;
            margin-bottom : 10px;
            span {
                font-weight : 200;
                font-style  : italic;
            }
        }

        p {
            margin-bottom : 10px;
            color         : var(--text-secondary);
        }
    }
}