.gallery {
    display               : grid;
    grid-template-columns : repeat(3, 1fr);
    grid-gap              : 15px;
    width                 : 100%;
    height                : auto;
    max-width             : 1024px;
    margin                : 0 auto;

    .gallery-brick {
        position : relative;
        z-index  : 1;
        height   : 280px;

        img {
            position      : absolute;
            top           : 0;
            left          : 0;
            height        : 100%;
            max-height    : 280px;
            width         : 100%;
            object-fit    : cover;
            border-radius : var(--rounded-sm);
            cursor        : pointer;
        }

        .img-tools {
            position : absolute;
            top      : 0;
            right    : 0;
            display  : flex;
            padding  : 12px;
            z-index  : 2;

            .img-tools-item {
                display          : flex;
                align-items      : center;
                justify-content  : center;
                padding          : 7px;
                background-color : rgb(27, 27, 27);
                border-radius    : var(--rounded-md);
                margin           : 0 3px;
                cursor           : pointer;

                svg {
                    height  : 16px;
                    width   : 16px;
                    color   : white;
                }
            }
        }
    }

    .gallery-brick-empty {
        position        : relative;
        display         : flex;
        align-items     : center;
        justify-content : center;
        height          : 280px;
        background      : var(--light);
        border-radius   : var(--rounded-sm);

        svg {
            height        : 90px;
            width         : 90px;
            padding       : 15px;
            color         : var(--primary);
            background    : var(--xx-light);
            border-radius : var(--rounded-full);
        }
    }
}

.dropzone {
    width           : 100%;
    max-width       : 500px;
    height          : 280px;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    border          : 2px dashed var(--primary);
    border-radius   : var(--rounded-sm);
    background    : var(--x-light);

    p {
        margin-top : 10px;
        text-align : center;
    }

    svg {
        height        : 90px;
        width         : 90px;
        padding       : 15px;
        object-fit    : cover;
        color         : var(--primary);
        background    : var(--xx-light);
        border-radius : var(--rounded-full);
        cursor        : pointer;
    }

    &:hover,
    &:focus,
    &.active {
        background : var(--light);
    }

    &.disabled {
        opacity : 0.5;
        &:hover,
        &:focus,
        &.active {
            background : none;
        }
    }
}

@media(max-width: 768px) {
    .gallery {
        grid-template-columns : repeat(2, 1fr);
    }
}
@media(max-width: 576px) {
    .gallery {
        grid-template-columns : repeat(1, 1fr);
    }
}

.home-gallery {
    .home-gallery-header {
        position        : relative;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        padding-bottom  : 6px;
        margin-bottom   : 8px;

        h3 {
            font-weight : 400;
            span {
                font-size   : 14px;
                margin-left : 4px;
                color       : var(--text-secondary);
                font-weight : 400;
            }
        }
    }

    .home-gallery-container {
        display               : grid;
        grid-template-columns : repeat(2, 1fr);
        grid-gap              : 15px;

        .gallery-brick {
            position : relative;
            z-index  : 1;
            height   : 280px;
    
            img {
                position      : absolute;
                top           : 0;
                left          : 0;
                height        : 100%;
                width         : 100%;
                object-fit    : cover;
                border-radius : var(--rounded-sm);
                cursor        : pointer;
            }
        }
    }
}

@media(max-width: 576px) {
    .home-gallery {
        .home-gallery-container {
            grid-template-columns : repeat(1, 1fr);
        }
    }
}