.dashboard-header {
    position   : relative;
    width      : 100%;
    background : var(--content-light);
    box-shadow    : var(--shadow-tiny);

    .dashboard-header-top {
        position        : relative;
        display         : flex;
        justify-content : space-between;
        margin-top      : 7px;

        .dashboard-header_left {
            display     : flex;
    
            .dashboard-header-img {
                height        : 48px;
                width         : 48px;
                border-radius : var(--rounded-md);
            }
    
            .dashboard-header-content {
                padding : 0 15px;
    
                h1 {
                    font-size          : 18px;
                    line-height        : 18px;
                    color              : var(--text);
                    margin-bottom      : 5px;
                    text-overflow      : ellipsis;
                    overflow           : hidden;
                    width              : 100%;
                    display            : -webkit-box;
                    -webkit-line-clamp : 1;
                    -webkit-box-orient : vertical;
                }

                .dashboard-header-content-infos {
                    .infos {
                        display      : flex;
                        align-items  : center;
                        font-size    : 13px;
                        line-height  : 20px;
                        color        : var(--text-secondary);
                        margin-right : 20px;

                        svg {
                            margin-right : 7px;
                            width        : 16px;
                            height       : 16px;
                        }
                    }
                }
            }
        }
    }

    .dashboard-breadcrumb {
        position    : relative;
        display     : flex;
        align-items : center;
        width       : 100%;
        padding     : 0 0 10px;
        color       : var(--text-secondary);
        font-size   : 12px;

        .crumb {
            display     : flex;
            align-items : center;

            svg {
                color  : var(--primary);
                margin : 0 5px;
            }
        }
    }
}

.dashboard-header_navbar {
    background : var(--content-light);
    
    .dashboard-header_navbar-content {
        display         : flex;
        align-items     : center;
        justify-content : flex-start;
        border-top      : 1px solid var(--light-border);
        padding         : 8px 0;
        overflow-x      : auto;

        a, div {
            padding       : 7px 10px;
            margin        : 0 3px;
            color         : var(--text-secondary);
            border-radius : var(--rounded-sm);
            white-space   : nowrap;
            cursor        : pointer;

            &:first-child {
                padding-left : 0;
            }

            &:hover {
                color : var(--text);
            }
            &.active {
                color : var(--primary);
            }
        }
    }
}

@media(max-width: 768px) {
    .dashboard-header {
        margin-top : 54px;
        .dashboard-header-top {
            .dashboard-header_left {
                .dashboard-header-img {
                    display : none;
                }
                .dashboard-header-content {
                    padding : 0 10px 0 0;
                    h1 {
                        font-size : 16px;
                    }
                }
            }
        }
    }
}