.kanban-header-title {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding         : 10px 0 7px;
    border-radius   : 8px 8px 0 0;
    font-size       : 16px;
    text-transform  : uppercase;
    color           : var(--text);

    &:nth-child(2) {
        margin : 0 20px;
    }

    .col-title {
        display        : flex;
        align-items    : flex-end;
        padding-top    : 4px;
        letter-spacing : .5px;
        
        span {
            font-size   : 14px;
            margin-left : 10px;
            color       : var(--text-secondary);
        }
    }

    svg {
        height           : 30px;
        width            : 30px;
        padding          : 7px;
        background-color : var(--x-light);
        border-radius    : 30px;
        cursor           : pointer;

        &:hover {
            background-color : var(--content-x-light);
        }
    }
}

.kanban {
    .kanban-ticket {
        position      : relative;
        padding       : 12px;
        margin        : 12px 0;
        background    : var(--x-light);
        border-radius : var(--rounded-sm);
        cursor        : pointer;

        &.priority {
            border-left : 3px solid var(--red);
        }
        &.important {
            border-left : 3px solid var(--orange);
        }
        &.normal {
            border-left : 3px solid var(--light-blue);
        }

        .kanban-ticket-title {
            display         : flex;
            align-items     : center;
            justify-content : space-between;
            margin-bottom   : 3px;
        }

        .kanban-ticket-status {
            display : flex;
        }

        .kanban-ticket-description {
            min-height         : 30px;
            font-size          : 13px;
            margin             : 20px 0;
            color              : var(--text-secondary);
            text-overflow      : ellipsis;
            overflow           : hidden;
            width              : 100%;
            line-height        : 19px;
            display            : -webkit-box;
            -webkit-line-clamp : 3;
            -webkit-box-orient : vertical;
        }

        .kanban-ticket-bottom {
            display         : flex;
            align-items     : center;
            justify-content : space-between;

            .kanban-ticket-members {
                display : flex;

                .kanban-ticket-member {
                    display     : flex;
                    align-items : center;
                    margin      : 0 3px;

                    .pseudo {
                        display          : flex;
                        align-items      : center;
                        padding          : 3px 8px;
                        font-size        : 12px;
                        background-color : rgba(var(--light-blue-rgb), 0.6);
                        border-radius    : var(--rounded-sm);
                        color            : white;
                    }
                }
            }
        }
    }
}