.dashboard-projects-header {
    position   : relative;
    width      : 100%;
    padding    : 20px 0;
    background : var(--content-light);
    box-shadow : var(--shadow-tiny);
    z-index    : 2;

    .dashboard-projects-header-top {
        position : relative;
        width    : 100%;
        padding  : 0 0 20px;

        h1 {
            font-size   : 22px;
            font-weight : 400;
            span {
                font-size   : 18px;
                color       : var(--text-secondary);
                margin-left : 10px;
            }
        }
    }
}

.dashboard-projects-body {
    background : var(--light);
    height     : 100%;
}

.project-card {
    padding       : 20px;
    margin-bottom : 15px;
    background    : var(--content-light);
    border-radius : var(--rounded-sm);
    box-shadow    : var(--shadow-tiny);

    .row {
        margin : 0;
    }

    &:last-child {
        border : none;
    }

    .project-picture {
        position : relative;
        z-index  : 1;

        img {
            position      : absolute;
            top           : 0;
            left          : 0;
            height        : 100%;
            width         : 100%;
            object-fit    : cover;
            border-radius : var(--rounded-sm);
        }
    }

    .project-card-content {
        position : relative;
        padding  : 0 0 0 20px;

        .project-card-content-top {
            position : relative;

            h2 {
                width         : 75%;
                margin-bottom : 10px;
                font-size     : 19px;
            }

            h3 {
                width         : 75%;
                font-size     : 14px;
                font-weight   : 400;
                color         : var(--text-secondary);
                margin-bottom : 10px;
            }

            .state {
                position      : absolute;
                top           : 0;
                right         : 0;
                padding       : 4px 14px;
                border-radius : var(--rounded-sm);
                font-size     : 14px;

                &.orange {
                    background : rgba(var(--orange-rgb), 0.2);
                    color      : var(--orange);
                }
                &.blue {
                    background : rgba(var(--light-blue-rgb), 0.2);
                    color      : var(--light-blue);
                }
                &.green {
                    background : rgba(var(--green-rgb), 0.2);
                    color      : var(--green);
                }
            }

            .infos_field {
                display     : flex;
                align-items : center;
                font-size   : 13px;
                line-height : 19px;
                color       : var(--text-secondary);
                svg {
                    margin-right : 5px;
                    height       : 16px;
                    width        : 16px;
                }
            }
        }

        .description {
            font-size          : 14px;
            padding            : 8px 0;
            max-height         : 80px;
            text-overflow      : ellipsis;
            overflow           : hidden;
            line-height        : 24px;
            display            : -webkit-box;
            -webkit-line-clamp : 3;
            -webkit-box-orient : vertical;
            color              : var(--text-secondary);
        }

        .project-tags {
            margin-top : 5px;
            padding    : 0;
            .tag {
                margin  : 0;
                padding : 0 5px 0 0;
                color   : var(--text-secondary);
            }
        }
    }
}

.dashboard-projects-tools {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    margin-bottom   : 30px;

    > div {
        display : flex;
        
        button {
            padding       : 10px 20px;
            border-radius : var(--rounded-sm);
            background    : var(--content-light);
            font-weight   : 500;
            span {
                color       : var(--text-secondary);
                margin-left : 5px;
                font-weight : 400;
            }
        }
    }
}

@media(max-width: 767px) {
    .project-card {
        margin-bottom : 15px;
        .project-card-content {
            padding : 0;
            .project-card-content-top {
                h2, 
                h3 {
                    width : 100%;
                }
                .state {
                    position   : relative;
                    display    : inline-block;
                    padding    : 0 0 10px;
                    background : none !important;
                }
            }
            .description {
                width : 100%;
            }
        }
    }
}

@media(max-width: 595px) {
    .project-card {
        width   : 100%;
        padding : 15px;
        .project-card-content {
            .project-card-content-top {
                h2 {
                    font-size : 16px;
                }
            }
        }
    }
    .dashboard-projects-tools {
        flex-direction : column;
        align-items    : flex-start;
        margin-bottom  : 10px;
        > div {
            width  : 100%;
            margin : 0 0 10px;
            button {
                width : 50%;
            }
            .dropdown-input,
            input {
                width : 100%;
            }
        }
    }
}