.dashboard-tasks-header {
    display         : flex;
    justify-content : space-between;
    align-items     : flex-end;
    border-bottom   : 1px solid var(--light-border);
    padding-bottom  : 10px;
    margin-bottom   : 20px;

    .dashboard-tasks-header_left {
        display     : flex;
        align-items : flex-end;
        height      : 24px;

        h2 {
            line-height : 24px;
            span {
                color     : var(--text-secondary);
                font-size : 16px;
            }
        }

        .dashboard-tasks-nav {
            display     : flex;
            margin-left : 28px;
            font-size   : 14px;

            > a {
                display         : flex;
                justify-content : center;
                align-items     : center;
                padding         : 0 10px;
                background      : var(--content);
                cursor          : pointer;

                &:nth-child(1) {
                    border-right : 1px solid var(--light-border);
                }

                &.active {
                    color : var(--primary);
                }
            }
        }
    }
}

.details {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 26px;
    min-width       : 74px;
    width           : auto;
    font-size       : 12px;
    padding         : 5px 10px 4px;
    border-radius : var(--rounded-sm);

    &.blue {
        background : rgba(var(--xblue-rgb), 0.15);
        color      : var(--xblue);
    }
    &.red {
        background : rgba(var(--xred-rgb), 0.15);
        color      : var(--xred);
    }
    &.orange {
        background : rgba(var(--orange-rgb), 0.15);
        color      : var(--orange);
    }
    &.green {
        background : rgba(var(--green-rgb), 0.15);
        color      : var(--green);
    }
}

.tasks_nav {
    display : flex;
    height  : 20px;

    div {
        display         : flex;
        justify-content : center;
        align-items     : center;
        width           : auto;
        padding         : 0 12px;
        border-right    : 1px solid var(--light-border);
        cursor          : pointer;

        &:first-child {
            padding-left : 0;
        }

        &:last-child {
            border : none;
        }

        &.active,
        &:hover {
            color : var(--primary);
        }
    }
}

.tasklist-table {
    max-height : 1500px;
    width      : 100%;
    transition : 0.5s ease;

    .tasklist-table-header {
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        width           : 100%;
        padding         : 10px 15px;
        margin-bottom   : 8px;
        border-radius   : var(--rounded-sm);
        box-shadow      : var(--shadow-tiny);
        cursor          : pointer;

        p {
            text-transform : uppercase;
        }

        span {
            font-size   : 14px;
            margin-left : 5px;
            color       : var(--text-secondary);
        }

        svg {
            width  : 22px;
            height : 22px;
        }
    }

    &.closed {
        overflow-y: hidden;
        max-height : 50px;
        transition : 0.5s ease;
    }

    .tasklist-table-item {
        position        : relative;
        display         : flex;
        justify-content : space-between;
        padding         : 5px 0;
        cursor          : pointer;
        
        .tasklist-table-item-body {
            width : 100%;

            .tasklist-table-item-top {
                width           : 100%;
                display         : flex;
                justify-content : space-between;
            }

            .tasklist-item-description {
                color   : var(--text-secondary);
                padding : 5px 0;
                span {
                    font-style : italic;
                }
            }

            .tasklist-table-item-bottom {
                display     : flex;
                align-items : center;
                flex-wrap   : wrap;
                width       : 100%;
                padding     : 5px 2px;

                .tasklist-table-item-members {
                    display     : flex;
                    margin-left : 10px;
    
                    .tasklist-table-item-member {
                        display     : flex;
                        align-items : center;
                        margin      : 0 3px;
    
                        .pseudo {
                            display          : flex;
                            align-items      : center;
                            padding          : 4px 8px;
                            font-size        : 12px;
                            background-color : rgba(var(--light-blue-rgb), 0.6);
                            border-radius    : var(--rounded-sm);
                            color            : white;
                        }
                    }
                }
            }

            .tasklist-table-item-tools {
                display     : flex;
                align-items : center;

                svg {
                    width  : 18px;
                    height : 18px;
                }

                span {
                    font-size    : 16px;
                    margin-left : 4px;
                }
            }
        }
    }
}

.empty-array {
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin-top      : 10px;
    padding         : 20px 35px 10px;
    color           : var(--text);
    font-size       : 14px;
    border-top      : 1px solid var(--light-border);

    span {
        text-transform : lowercase !important;
    }

    svg {
        width        : 30px;
        height       : 30px;
        margin-right : 20px;
    }
}

@media(max-width: 576px) {
    .dashboard-tasks-header {
        flex-direction  : column;
        justify-content : center;
        align-items     : flex-start;
        .dashboard-tasks-header_left {
            width           : 100%;
            justify-content : space-between;
        }

        button {
            margin-top : 10px;
            width      : 100%;
        }
    }

    .tasklist-table {
        .tasklist-table-header {
            padding : 10px 10px;
        }
        .tasklist-table-item {
            padding : 10px 5px;
            .tasklist-table-item-body {
                .tasklist-table-item-bottom {
                    flex-direction : column;
                    align-items    : flex-start;
                    .tasklist-table-item-members {
                        margin-left : 0;
                        margin-top  : 10px;
                    }
                }
            }
        }
    }
}