#back-actions {
    position        : fixed;
    bottom          : 0;
    left            : 0;
    right           : 0;
    padding         : 15px 5%;
    box-sizing      : border-box;
    background      : var(--content);
    box-shadow      : var(--shadow-top);
    z-index         : 700;

    .back-actions-inner {
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 100%;
        max-width       : 400px;
        margin          : 0 auto;
    }

    button {
        min-width : 200px;
    }
}

@media(max-width: 576px) {
    #back-actions {
        button {
            width     : 100%;
            min-width : unset;
            flex-grow : 1;
        }
    }
}