.btn {
    position        : relative;
    height          : 36px;
    min-width       : 120px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 0 20px;
    font-size       : 14px;
    text-align      : center;
    text-decoration : none;
    text-transform  : none;
    border          : none;
    outline         : none;
    cursor          : pointer;
    white-space     : nowrap;
    transform       : scale(1);
    box-shadow      : var(--shadow-tiny);

    &:disabled {
        opacity : 0.5;

        &:hover {
            background : var(--primary);
        }
    }

    &:active {
        transform  : scale(0.95);
    }

    &.delete {
        background-color:  rgba(var(--red-rgb), 0.9);
        &:hover {
            background-color: var(--red);
        }
    }

    &.validate {
        background-color:  rgba(var(--green-rgb), 0.9);
        &:hover {
            background-color: var(--green);
        }
    }

    &.light_delete {
        color : var(--red);
        svg {
            color : var(--red);
        }
        &:hover {
            background-color : rgba(var(--red-rgb), 0.2);
        }
    }

    &.light_validate {
        color : var(--green);
        svg {
            color : var(--green);
        }
        &:hover {
            background-color : rgba(var(--green-rgb), 0.2);
        }
    }

    &.btn_icon_start {
        svg {
            height       : 18px;
            width        : 18px;
            margin-right : 8px;
        }
    }
    &.btn_icon_end {
        svg {
            height      : 22px;
            width       : 22px;
            margin-left : 8px;
        }
    }

    a {
        display         : flex;
        align-items     : center;
        justify-content : center;
        left            : 0;
        top             : 0;
        width           : 100%;
        height          : 100%;
        color           : white;
    }
}

.btn_first {
    color         : white;
    background    : var(--primary);
    border-radius : var(--rounded-sm);

    svg {
        color : white;
    }

    &:hover {
        background : var(--primary-dark);
    }

    &.half {
        width : 50%;
    }
}

.outlined_btn {
    border        : 1px solid var(--primary);
    color         : var(--primary);
    border-radius : var(--rounded-sm);

    &:hover {
        background : rgba(var(--primary-rgb), 0.10);
    }
}

.text_btn {
    color         : var(--primary);
    border-radius : var(--rounded-sm);
    box-shadow    : none;
    background    : rgba(var(--primary-rgb), 0.15);

    &:hover {
        background : rgba(var(--primary-rgb), 0.22);
    }
    a {
        color      : var(--primary);
        background : none;
        padding    : 0;
        height     : unset;
    }
    svg {
        color : var(--primary);
    }
}

.string_btn {
    color      : var(--primary);
    box-shadow : none;
    padding    : 0;
    height     : auto;
    min-width  : unset;

    &:active {
        transform  : none;
        box-shadow : none;
    }
    &:hover,
    &:active {
        &:before {
            content    : '';
            position   : absolute;
            left       : 0;
            bottom     : 0;
            width      : 100%;
            height     : 1px;
            background : var(--primary);
        }
    }
    a {
        color      : var(--primary);
        background : none;
        padding    : 0;
        height     : unset;
    }
}

.icon_toggle {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 34px;
    height          : 34px;
    border-radius   : 40px;
    cursor          : pointer;
    transform       : scale(1);
    background-color: var(--x-light);

    svg {
        width  : 20px;
        height : 20px;
    }

    &:active {
        transform  : scale(0.95);
    }

    &.shadow {
        box-shadow : var(--shadow-tiny);
    }
    &.light {
        background-color : var(--xx-light);
    }
}

.small_tools_btn {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding          : 8px;
    cursor           : pointer;
    border-radius    : var(--rounded-sm);
    color            : var(--text);
    transform        : scale(1);
    background-color : var(--primary);
    background       : var(--content-x-light);
    box-shadow       : var(--shadow-xl);

    svg {
        height : 12px;
        width  : 12px;
    }

    &:active {
        transform  : scale(0.95);
    }
}

.add-more-users {
    display       : flex;
    align-items   : center;
    padding       : 5px 0;
    font-weight   : 600;
    border-radius : var(--rounded-sm);
    cursor        : pointer;

    svg {
        height           : 34px;
        width            : 34px;
        padding          : 6px;
        margin-right     : 10px;
        color            : var(--primary);
        background-color : rgba(var(--primary-rgb), 0.15);
        border-radius    : 50%;
    }

    &:hover {
        background-color : rgba(var(--primary-rgb), 0.15);
        svg {
            background: none;
        }
    }
}