.categories_picker {
    position      : absolute;
    top           : 56px;
    width         : 650px;
    display       : flex;
    background    : var(--content-x-light);
    height        : auto;
    z-index       : 700;
    border-radius : var(--rounded-sm);
    box-shadow    : var(--shadow-lg);

    &.right {
        right : 0;
    }

    .categories_main {
        display        : flex;
        flex-direction : column;
        width          : 350px;
        margin         : 15px 0;
        border-right   : 1px solid var(--text-tertiary);

        .categories_main_inner {
            position   : relative;
            padding    : 0 10px;
            overflow-x : hidden;

            .categories_main_item {
                position      : relative;
                display       : flex;
                align-items   : center;
                padding       : 10px 10px;
                cursor        : pointer;
                border-radius : var(--rounded-sm);
                margin        : 2px 0;

                .left {
                    display     : flex;
                    align-items : center;
                    svg {
                        height       : 20px;
                        width        : 20px;
                        margin-right : 12px;
                        color        : var(--text-tertiary);
                    }
                }

                .right {
                    display     : flex;
                    align-items : center;
                    svg {
                        display  : none;
                        position : absolute;
                        right    : 10px;
                        height   : 14px;
                        width    : 14px;
                    }
                }
    
                &:hover {
                    color      : var(--primary);
                    background : rgba(var(--primary-rgb), 0.1);

                    .right {
                        svg {
                            display : block;
                        }
                    }

                    .left {
                        svg {
                            color : var(--primary);
                        }
                    }
                }
            }
    
            &:before {
                content          : '';
                position         : absolute;
                left             : -4px;
                width            : 8px;
                height           : 100%;
                border-radius    : 20px;
                background-color : transparent;
                transition       : 0.2s ease;
            }
    
            &.active {

                .categories_main_item {
                    color : var(--primary);
                    background : rgba(var(--primary-rgb), 0.03);

                    .left {
                        svg {
                            color : var(--primary);
                        }
                    }
                }

                &:before {
                    background : var(--primary);
                }
            }
        }
    }
}

.categories_container {
    position      : absolute;
    top           : 46px;
    width         : 97%;
    background    : var(--input);
    height        : auto;
    z-index       : 700;
    border-radius : var(--rounded-sm);
    box-shadow    : var(--shadow-lg);

    .categories_header {
        padding : 15px 20px 0;
    }

    .categories_inner {
        display    : flex;
        flex-wrap  : wrap;
        max-height : 155px;

        .categories_col {
            display        : flex;
            flex-direction : column;
            width          : 25%;
            padding        : 10px 20px;

            .categories_item {
                padding : 4px 0;
                color   : var(--text-secondary);
                cursor  : pointer;
                svg {
                    display : none;
                }
    
                &:hover,
                &.active {
                    color : var(--primary);
                }
            }
        }
    }

    .categories_bottom_link {
        text-transform : uppercase;
        padding        : 15px 20px;
        background     : var(--x-light);

        a {
            display     : flex;
            align-items : center;
            transition  : .2s ease;
            
            svg {
                margin-left : 7px;
                height      : 18px;
                width       : 18px;
            }

            &:hover {
                padding-left : 5px;
                color        : var(--primary);
                transition   : .2s ease;
                svg {
                    margin-left : 12px;
                    color       : var(--primary);
                }
            }
        }
    }
}

@media(max-width:768px) {
    .categories_container {
        position         : fixed;
        width            : 100vw;
        height           : 100vh;
        top              : 0;
        left             : 0;
        right            : 0;
        z-index          : 900;
        overflow-y       : scroll;
        background-color : var(--content-light);
        .categories_header {
            position         : fixed;
            top              : 0;
            right            : 0;
            left             : 0;
            padding          : 15px;
            background-color : var(--light);
            box-shadow : var(--shadow-lg);
            z-index: 200;
            h4 {
                text-align : center;
            }
        }
        .categories_inner {
            position: relative;
            flex-direction : column;
            max-height     : unset;
            padding-bottom : 50px;
            padding-top    : 60px;
            .categories_col {
                padding : 0 20px;
                width   : 100%;
                .categories_item {
                    padding         : 13px 0;
                    border-bottom   : 1px solid var(--light-border);
                    display         : flex;
                    justify-content : space-between;
                    svg {
                        display : block;
                    }
                }
                &:last-child {
                    .categories_item {
                        &:last-child {
                            border : none;
                        }
                    }
                }
            }
        }
        .categories_bottom_link {
            position   : fixed;
            width      : 100%;
            bottom     : 0;
            box-shadow : var(--shadow-top);
        }
    }
}