.mobile-menu {
    position         : fixed;
    min-width        : 100%;
    top              : unset;
    transform        : none;
    bottom           : 0;
    left             : 0;
    padding-top      : 10px;
    padding-bottom   : 10px;
    right            : 0 !important;
    background-color : var(--content-x-light);
    z-index          : 700;
    border-radius    : 16px 16px 0 0;
    box-shadow       : var(--shadow-top);

    .mobile-menu-tools {
        position         : relative;
        min-width        : 100%;
        top              : unset;
        transform        : none;
        bottom           : 0;
        left             : 0;
        right            : 0 !important;
        border           : none;
        border-radius    : 16px 16px 0 0;
        background-color : var(--content-x-light);
    }

    .tools_choice {
        display       : flex;
        align-items   : center;
        min-width     : 220px;
        text-align    : left;
        padding       : 14px;
        color         : var(--text);
        border-radius : var(--radius);
        cursor        : pointer;

        svg {
            height       : 16px;
            width        : 16px;
            margin-right : 9px;
            color        : var(--text-secondary);
        }

        &:hover {
            background-color : var(--x-light);

            a,
            p {
                color : var(--text);
            }
        }

        &.red {
            color : var(--red);
            svg {
                color : var(--red);
            }
        }
    }
}