.modal_wrapper {
    position        : fixed;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
    overflow-x      : hidden;
    overflow-y      : auto;
    visibility      : visible;
    z-index         : 100000000000;
    display         : flex;
    align-items     : center;
    backdrop-filter : blur(5px);

    &.hide_wrapper {
        visibility : hidden;
    }

    .modal_container {
        margin           : auto;
        width            : 500px;
        padding          : 15px;
        color            : var(--text);
        background-color : var(--content-light);
        border-radius    : var(--rounded-sm);
        box-shadow       : var(--shadow-xl);
        z-index          : 100000000000;
    
        h2 {
            margin-bottom : 10px;
            font-size     : 20px !important;
            font-weight   : 600;
        }
    
        &.hide_modal {
            opacity    : 0;
            visibility : hidden;
            transform  : scale(0.8);
            transition : visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        }
    
        &.show_modal {
            opacity    : 1;
            visibility : visible;
            transform  : scale(1);
            transition : visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }
    
        .close_modal {
            position         : absolute;
            padding          : 5px;
            top              : 7px;
            right            : 5px;
            cursor           : pointer;
            border-radius    : 30px;
    
            svg {
                width  : 22px;
                height : 22px;
            }
    
            &:hover {
                background-color : var(--content-x-light);
            }
        }
    
        .modal_nav {
            display       : flex;
            min-width     : 100%;
            margin-bottom : 8px;
    
            .modal_nav-item {
                padding          : 4px 20px;
                margin-right     : 7px;
                cursor           : pointer;
                border-radius    : var(--rounded-sm);
                background-color : var(--light);

                &.active {
                    color            : var(--white);
                    background-color : var(--primary);
                }

                span {
                    font-size : 12px;
                    color     : var(--text-tertiary);
                    margin-left: 3px;
                }
            }
        }
    }
}

.modal_cover {
    display    : none;
    position   : fixed;
    top        : 0;
    bottom     : 0;
    left       : 0;
    right      : 0;
    background : var(--modal-cover);
    z-index    : 100000;

    &.modal_cover-active {
        display : block;
    }
}

@media(max-width: 768px) {
    .modal_wrapper {
        .modal_container {
            width : 85%;
        }
    }
}

@media(max-width: 576px) {
    .modal_wrapper {
        .modal_container {
            width      : 100vw;
            min-height : 100vh;
            padding    : 30px 15px
        }
    }
}