.no_content {
    position         : relative;
    padding          : 60px 15px 30px;
    margin-top       : 50px;
    text-align       : center;
    border-radius    : var(--rounded-md);
    background-color : rgba(var(--xblue-rgb), 0.2);

    p {
        font-weight : 600;
        font-size   : 16px;
    }

    span {
        font-weight : 400;
        font-size   : 16px;
    }

    button {
        margin : 20px auto 0 !important;
    }

    .svg_container {
        position         : absolute;
        left             : 50%;
        transform        : translateX(-50%);
        top              : -40px;
        width            : 90px;
        height           : 90px;
        padding          : 20px;
        background-color : var(--xx-light);
        border-radius    : 50%;
        overflow         : hidden;

        &:before {
            content          : '';
            position         : absolute;
            left             : 0;
            top              : 0;
            width            : 100%;
            height           : 100%;
            background-color : rgba(var(--xblue-rgb), 0.4);
            z-index          : 1;
        }

        svg {
            position : relative;
            width    : 50px;
            height   : 50px;
            z-index  : 2;
            color    : white;
        }
    }

    &.actuality_card {
        background-color : rgba(var(--light-blue-rgb), 0.2);
        .svg_container {
            &:before {
                background-color : rgba(var(--light-blue-rgb), 0.4);
            }
        }
    }
    &.gallery_card {
        background-color : rgba(var(--green-rgb), 0.2);
        .svg_container {
            &:before {
                background-color : rgba(var(--green-rgb), 0.4);
            }
        }
    }
    &.qna_card {
        background-color : rgba(var(--red-rgb), 0.2);
        .svg_container {
            &:before {
                background-color : rgba(var(--red-rgb), 0.4);
            }
        }
    }
}