.tools_btn {
    position:relative;
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 30px;
    width           : 30px;
    color           : var(--text);
    transform       : scale(1);
    border-radius   : 50%;
    cursor          : pointer;

    svg {
        height : 18px;
        width  : 18px;
        cursor : pointer;
    }

    &:hover {
        background : var(--x-light);
    }

    &:disabled {
        opacity : 0.5;
    }

    &:active {
        transform  : scale(0.95);
    }
}

.tools_box {
    position : relative;
    .tools_menu {
        right : 30px;
    }
}

.tools_menu {
    position      : absolute;
    padding       : 8px;
    background    : var(--menu);
    box-shadow    : 0 0px 30px 10px rgb(0 0 0 / 0.05), 0 8px 10px -6px rgb(0 0 0 / 0.07);
    border-radius : 5px;
    z-index       : 700;
    border        : 2px solid var(--light-border);

    .tools_choice {
        display       : flex;
        align-items   : center;
        min-width     : 220px;
        text-align    : left;
        padding       : 6px 10px;
        color         : var(--text);
        border-radius : var(--radius);
        cursor        : pointer;

        svg {
            height       : 16px;
            width        : 16px;
            margin-right : 9px;
        }

        &:hover {
            background-color : var(--x-light);
            a, p {
                color : var(--text);
            }
        }
    }
      
    .menu-arrow {
        position   : relative;
        width      : 15px;
        height     : 15px;
        background : transparent;
        
        &::before {
            content       : '';
            position      : absolute;
            width         : 15px;
            height        : 15px;
            border-radius : 3px;
            background    : var(--menu);
            transform     : rotate(45deg);
        }
    }

    &[data-popper-placement^='top'] > .menu-arrow {
        bottom : -9px;

        &:before {
            border-top   : 2px solid var(--light-border);
            border-right : 2px solid var(--light-border);
        }
    }
    
    &[data-popper-placement^='bottom'] > .menu-arrow {
        top : -9px;

        &:before {
            border-top  : 2px solid var(--light-border);
            border-left : 2px solid var(--light-border);
        }
    }
    
    &[data-popper-placement^='left'] > .menu-arrow {
        right : -9px;

        &:before {
            border-top   : 2px solid var(--light-border);
            border-right : 2px solid var(--light-border);
        }
    }
    
    &[data-popper-placement^='right'] > .menu-arrow {
        left : -9px;
        
        &:before {
            border-top  : 2px solid var(--light-border);
            border-left : 2px solid var(--light-border);
        }
    }
}

@media(max-width:576px) {
    .tools_box {
        &.mobile {
            position  : fixed;
            min-width : 100%;
            top       : unset;
            transform : none;
            bottom    : 0;
            left      : 0;
            right     : 0 !important;

            .tools_menu {
                position         : relative;
                min-width        : 100%;
                top              : unset;
                transform        : none;
                bottom           : 0;
                left             : 0;
                right            : 0 !important;
                border           : none;
                border-radius    : 10px 10px 0 0;
                background-color : var(--content-x-light);

                .tools_choice {
                    padding : 14px;
                }
            }
        }
    }

    .tools_btn {
        &.hidden-xs {
            display : none;
        }
    }
}